<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header bg-gray">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag(@loan_application.borrower.avatar, width: 45, height: 45, class: 'media-object img-circle') if @loan_application.borrower.avatar.attached? %>
        </div>
        <div class="col-md-9">
          <h3 class="card-title"><%= @loan_application.borrower_name.upcase %></h3><br>
          <i class="fa fa-map-marker"></i> Address: <%= @loan_application.borrower.try(:current_address_complete_address) %>
        </div>
      </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h3 class="card-title">
              <%= number_to_currency @loan_application.net_proceed %>
            </h3>
            <small class="text-muted">NET PROCEED</small>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h4 class="card-title"><%= number_to_currency @loan.balance %></h4>
            <small class="text-muted"> Loan Balance </small>
          </div>
        </div>
        <hr>
            <%= simple_form_for [@loan, @payment], url: :loans_module_loan_application_previous_loan_payment_processings, html: { autocomplete: 'off' } do |f| %>
              <%= f.error_notification %>
              <%= f.input :amount, autofocus: true %>
              <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
              <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
              <hr>
                <%= f.submit "Add Payment", class: "btn btn-primary float-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
