<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> New Adjusting Entry Details </h3>
        <center>
          <%= image_tag(@commercial_document.depositor.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %>
          <h3><%= @commercial_document.depositor_name %></h3>
        </center>
      </div>
      <div class="box-body">
<%= simple_form_for @entry, url: :accounting_module_adjusting_entries do |f| %>
  <%= f.error_notification %>
  <%= f.input :entry_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :reference_number, input_html: { value: "SYSTEM" }, as: :hidden %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :debit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
  <%= f.input :credit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
  <%= f.input :commercial_document_type, input_html: { value: @commercial_document.class.to_s }, as: :hidden %>
  <%= f.input :commercial_document_id, input_html: { value: @commercial_document.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <div class="box-footer">
    <%= f.submit "Save Adjusting Entry", class: "btn btn-danger pull-right" %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_adjusting_entry_debit_account_id").select2({
      theme: "bootstrap"
    });
    $("#accounting_module_adjusting_entry_credit_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>

