<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> New Adjusting Entry Details </h3>
        <center>

          <h3><%= @commercial_document.name %></h3>
        </center>
      </div>
      <div class="card-body">
<%= simple_form_for @entry, url: :accounting_module_adjusting_entries do |f| %>
  <%= f.error_notification %>
  <%= f.input :entry_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :reference_number, input_html: { value: "SYSTEM" }, as: :hidden %>
  <%= f.input :description %>
  <%= f.input :amount, as: :currency %>
  <%= f.input :debit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
  <%= f.input :credit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
  <%= f.input :commercial_document_type, input_html: { value: @commercial_document.class.to_s }, as: :hidden %>
  <%= f.input :commercial_document_id, input_html: { value: @commercial_document.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

    <%= f.submit "Save Adjusting Entry", class: "btn btn-danger float-right" %>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_adjusting_entry_debit_account_id").select2({
      theme: "bootstrap"
    });
    $("#accounting_module_adjusting_entry_credit_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>

