<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <div class="box-header">
        <div class="row">
          <div class="col-md-1">
            <h4><%= member_avatar(@member, style: 'width:60px;height:60px;', class: 'media-object img-circle') %></h4>
          </div>
          <div class="col-md-10">
            <h3><%= @member.first_and_last_name %></h3>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs">

        <li class="active"><a href="#loans" data-toggle="tab">Loans</a></li>
        <li><a href="#savings" data-toggle="tab">Savings</a></li>
        <li><a href="#share_capital" data-toggle="tab">Share Capital</a></li>
        <li><a href="#time-deposit" data-toggle="tab">Time Deposit</a></li>
      </ul>
      <div class="tab-content">
        <%=render 'members/partials/loans', member: @member %>
        <%=render 'members/partials/savings', member: @member %>
        <%=render 'members/partials/properties', member: @member %>
    </div>
  </div>
</div>
