 <div class="tab-pane <%= 'active' if current_page? savings_account_path(@savings_account) %>">
  <div class="row">
          <div class="col-md-6">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              Saving Product
            </div>
            <div class="col-md-6">
              <b><%= @savings_account.saving_product_name.try(:upcase) %></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              Depositor
            </div>
            <div class="col-md-6">
              <%= @savings_account.depositor_name %>
            </div>
          </div>
          <br>
           <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              Account Number
            </div>
            <div class="col-md-6">
              <%= @savings_account.account_number %>
            </div>
          </div>
          <br />
        </div>
        <div class="col-md-4">
          <small>BALANCE</small>
          <h2><%= number_to_currency @savings_account.balance %></h2>
        </div>
        <div class="col-md-2">
          <small>INACTIVITY</small>
          <h4 class="text-danger"><%= @savings_account.number_of_days_inactive %> Days</h4>
          <small>Last Transaction Date</small><br>
          <i class="fa fa-calendar"></i> &nbsp; <%= @savings_account.last_transaction_date.strftime("%B %e, %Y") %>
        </div>

      </div>
    <hr />
     <div class="box-body">
      <% if @savings_account.closed? %>
        <div class="corner-ribbon top-left red">Closed</div>
      <% end %>
        <div class="row">

          <div class="col-md-3 border-right">
            <small class="text-muted">DEPOSITS </small>
            <h4><%= number_to_currency @savings_account.deposits %></h4>
            <% if policy([:savings_accounts, :deposit]).new? && !@savings_account.closed? %>
              <%= link_to 'New Deposit', new_savings_account_deposit_path(@savings_account), class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">WITHDRAWALS </small>
            <h4><%= number_to_currency @savings_account.withdrawals %></h4>
            <% if policy([:savings_accounts, :withdrawal]).new? && !@savings_account.closed? %>
              <%= link_to 'New Withdrawal', new_savings_account_withdrawal_path(@savings_account), class: "btn btn-warning" %>
            <% end %>
          </div>

          <div class="col-md-3 border-right">
            <small class="condensed-text">BALANCE </small>
            <h3><i class="fa fa-circle text-green"></i> <%= number_to_currency @savings_account.balance %></h3>
          </div>
        </div>
         <hr>
         <div class="row">
            <div class="col-md-12">
              <p class="text-muted">TRANSACTIONS HISTORY </p>
              <div class="table table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th> Date </th>
                      <th>Reference Number</th>
                      <th> Amount </th>
                      <th> Type </th>
                      <th> Employee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @entries.each do |entry| %>
                      <% cache(entry) do %>
                        <tr>
                          <td><%= link_to entry.entry_date.strftime("%B %e, %Y"), accounting_module_entry_path(entry) %></td>
                          <td><%= entry.reference_number %></td>
                          <td>
                            <%= number_to_currency entry.credit_amounts.sum(&:amount) %></td>

                          <td><%= entry.description %> /
                              <%= entry.payment_type.to_s.titleize %>
                          </td>
                          <td><% if entry.recorder %>
                            <%=image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35) %> &nbsp;
                            <%= entry.recorder_first_and_last_name %>
                            <% end %>
                           </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
                <center><%= will_paginate @entries %></center>
              </div>
            </div>
          </div>
        </div>
</div>
