<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-5">
              <label>Savings Product</label>
            </div>
            <div class="col-md-6">
              <%= @savings_account.saving_product_name.try(:upcase) %>
            </div>
          </div>
          <hr class="min-margin">
          <div class="row">
            <div class="col-md-5">
              <label>Depositor</label>
            </div>
            <div class="col-md-6">
              <%= @savings_account.depositor_name %>
            </div>
          </div>
          <hr class="min-margin">
          <div class="row">
            <div class="col-md-5">
              <label>Account Number</label>
            </div>
            <div class="col-md-6">
              <%= @savings_account.account_number %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="min-margin set-visibility">
      <div class="row justify-content-end">
        <div class="col-md-7 col-sm-6 col-auto">
          <small>BALANCE</small>
          <h2><%= number_to_currency @savings_account.balance %></h2>

        </div>
        <div class="col-md-4 col-sm-6 col-auto">
          <small>INACTIVITY</small>
          <h4 class="text-danger"><%= @savings_account.number_of_days_inactive %> Days</h4>
          <small>Last Transaction Date</small><br>
          <i class="fa fa-calendar"></i> &nbsp; <%= @savings_account.default_last_transaction_date.strftime("%B %e, %Y") %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <% if @savings_account.closed? %>
    <div class="corner-ribbon top-left red">Closed</div>
  <% end %>
    <% month_dates = [] %>
    <% (Date.today.beginning_of_year..Date.today.end_of_year).each do |date| %>
      <% month_dates << date.end_of_month %>
    <% end %>
    <% monthly_balances_data = [] %>
    <% month_dates.uniq.each do |month| %>
      <% monthly_balances_data << { month.strftime("%B") => @savings_account.balance(to_date: month.end_of_month) } %>
    <% end %>
    <%= line_chart (Hash[*monthly_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, thousands: ",", curve: false %>
</div>
</div>
<p class="text-muted">TRANSACTIONS HISTORY </p>
<% @entries.each do |entry| %>
  <%= render 'accounting_module/entries/partials/header', entry: entry %>
<% end %>
<center><%= will_paginate @entries %></center>

