<ul class="nav nav-tabs">
  <li class="nav-item"><%=link_to 'All', savings_accounts_path, class: "nav-link #{'active' if current_page?(savings_accounts_path(from_date: nil, to_date: nil))}" %></li>
  <li class="nav-item <%=%>"><%=link_to '1 - 30 Days Inactive', savings_accounts_path(from_date: Date.today - 30.days, to_date: Date.today), class: "nav-link #{'active' if current_page?(savings_accounts_path(from_date: Date.today - 30.days, to_date: Date.today))}" %></li>
  <li class="nav-item"><%=link_to '31 - 60 Days Inactive', savings_accounts_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days), class: "nav-link #{'active' if current_page?(savings_accounts_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days))}" %></li>
  <li class="nav-item"><%=link_to '61 - 90 Days Inactive', savings_accounts_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days), class: "nav-link #{'active' if current_page?(savings_accounts_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days))}" %></li>
  <li class="nav-item"><%=link_to 'Over 1 Year', savings_accounts_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days), class: "nav-link #{'active' if current_page?(savings_accounts_path(from_date: Date.today - 363.days, to_date: Date.today - 91.days))}" %></li>
  <li class="nav-item"><%=link_to 'Below Min. Balance', savings_accounts_below_minimum_balances_path, class: "nav-link #{'active' if current_page?(savings_accounts_below_minimum_balances_path)}" %></li>
  <li class="nav-item"><%=link_to 'Dashboard', savings_accounts_dashboards_path, class: "nav-link #{'active' if current_page?(savings_accounts_dashboards_path)}" %></li>
</ul>
