<% breadcrumb :savings_account_transactions, @savings_account %>
<p class="text-muted">TRANSACTIONS HISTORY </p>
<table class="table table-hover">
	<thead>
		<tr>
			<td>DATE</td>
			<td>OR/CDV NO.</td>
			<td class="text-right">DEPOSIT</td>
			<td class="text-right">WITHDRAWAL</td>
			<td class="text-right">BALANCE</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tbody>
			<% @entries.each do |entry| %>
				<% if entry.cancelled? %>
					<tr>
						<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
						<td><%= entry.reference_number %>- CANCELLED</td>
						<td class="text-right">-</td>
						<td class="text-right">-</td>
						<td class="text-right">-</td>
						<td></td>
					</tr>
				<% else %>
					<tr>
						<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
						<td><%= link_to entry.reference_number.present? ? entry.reference_number : "FWD", accounting_module_entry_path(entry), data:{toggle: 'tooltip'}, title: entry.description %></td>
						<td class="text-right">
							<% if entry.credit_amounts.for_account(account_id: @savings_account.saving_product.account_id).present? && entry.credit_amounts.for_account(account_id: @savings_account.saving_product.account_id).last.try(:commercial_document) == @savings_account %>
								<%= number_to_currency entry.credit_amounts.for_account(account_id: @savings_account.saving_product.account_id).total %>
							<% end %>
						</td>
						<td class="text-right">
							<% if entry.debit_amounts.for_account(account_id: @savings_account.saving_product.account_id).present? && entry.debit_amounts.for_account(account_id: @savings_account.saving_product.account_id).last.try(:commercial_document) == @savings_account %>
								<%= number_to_currency entry.debit_amounts.for_account(account_id: @savings_account.saving_product.account_id).total %>
							<% end %>
						</td>
						<td class="text-right"><%= number_to_currency @savings_account.balance(to_date: EntryDateTime.new(entry: entry).set) %></td>
						<td></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</tbody>
</table>
<center><%= will_paginate @entries %></center>