<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-default">
      <div class="box-header">
          <center>
            <%= image_tag(@share_capital.subscriber.avatar.url(:medium), class: "profile-user-img img-responsive img-circle") %><br>
             <h3 class="box-title"><%= @share_capital.subscriber_name %></h3>
          </center>
      </div>
      <div class="box-body">

<p class="text-muted">CAPITAL BUILD UP DETAILS </p>
<%= simple_form_for @capital_build_up, url: :share_capital_capital_build_ups do |f| %>
  <%= f.error_notification %>
  <%= f.input :date, as: :string, input_html: { autocomplete: 'off' , value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
  <%= f.input :share_capital_id, input_html: {value: @share_capital.id },as: :hidden %>
  <%= f.input :amount, as: :currency, input_html: { autocomplete: 'off' } %>
  <%= f.input :or_number, input_html: { autocomplete: 'off' } %>
  <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>

  <div class="box-footer">
    <%= f.submit "Save Capital Build Up", class: "btn btn-primary pull-right", data: { disable_with: "Processing..."} %>
  </div>
<% end %>
