<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#loan-info" data-toggle="tab">Info</a></li>
        <li ><a href="#loan-payments" data-toggle="tab">Payments</a></li>
        <li ><a href="#loan-amortization-schedule" data-toggle="tab">Amortization Schedule</a></li>
        <li><a href="#loan-disbursement" data-toggle="tab">Disbursement</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#settings" data-toggle="tab">Reports</a></li>
        <li><a href="#notices" data-toggle="tab">Notices</a></li>

      </ul>
      <div class="tab-content">
        <%=render 'loans_module/loans/partials/loan_info' %>
        <%=render 'loans_module/loans/partials/payments' %>
        <%=render 'loans_module/loans/partials/amortization_schedule' %>
        <%=render 'loans_module/loans/partials/loan_disbursement' %>
        <%=render 'loans_module/loans/partials/notices' %>
      </div>
    </div>
  </div>
</div>



