<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
  <div class="box-header bg-gray">
    <center>
      <%= image_tag(@loan.borrower.avatar.url(:medium), height: 60, width: 60, class: "img-circle") %>
      <h4><%= @loan.borrower_name %>
    </center>
  </div>
  <div class="box-body">
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <h4>PRINCIPAL</h4>
          </div>
          <div class="col-md-5">
            <span class="pull-right"><h4><%= number_to_currency @loan.principal_balance %></h4></span>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <h4>INTERESTS</h4>
          </div>
          <div class="col-md-5">
            <span class="pull-right"><h4><%= number_to_currency @loan.interest_receivable_balance %></h4></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>PENALTIES</h4>
          </div>
          <div class="col-md-5">
            <span class="pull-right"><h4><%= number_to_currency @loan.penalties_balance %></h4></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h4>BALANCE</h4>
          </div>
          <div class="col-md-5">
            <span class="pull-right"><h4><%= number_to_currency @loan.balance %></h4></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= simple_form_for [@loan, @payment], url: :loan_payments do |f| %>
          <%= f.error_notification %>
          <%= f.input :description %>
          <%= f.input :date, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
          <%= f.input :principal_amount,  input_html: { value: 0 }, as: :currency  %>
          <%= f.input :interest_amount, input_html: { value: 0 }, as: :currency  %>
          <%= f.input :penalty_amount,  input_html: { value: 0 }, as: :currency  %>
          <%= f.input :reference_number %>
          <%= f.input :loan_id, input_html: { value: @loan.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Save Payment", class: "btn btn-primary pull-right", data: {disable_with: "Processing Payment..."} %>
          </div>
        <% end %>

