<div class="row">
  <div class="col-md-8">
    <%=form_tag accounting_module_cooperative_service_entries_path(@cooperative_service), method: :get, class: "sidebar-form" do %>
    <div class="input-group">
      <div class="row">
        <div class="col-md-6">
          <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker", placeholder: "Search Account.." %>
        </div>
        <div class="col-md-6">
          <%= text_field_tag :to_date, params[:to_date], class: "form-control datepicker", placeholder: "Search Account.." %>
        </div>
      </div>

      <span class="input-group-btn">
        <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default") do %>
          <i class="fa fa-search"></i> Search
        <% end %>
      </span>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%=link_to 'PDF', accounting_module_cooperative_service_entries_path(@cooperative_service, format: 'pdf', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-secondary' %>
  </div>
</div>
<hr>
      <% @entries.each do |entry| %>
        <%= render 'accounting_module/entries/partials/header', entry: entry %>
      <% end %>
