<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Set Organization
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <%= render 'members/partials/form_header', member: @member %>
</div>
<%= simple_form_for [@member, @organization], url: :member_organizations do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :organization_id, collection: Organization.all.map{|a| [a.name, a.id] }%>
  </div>
  <div class="modal-footer">
    <%= f.submit "Update", class: "btn btn-primary float-right" %>
  </div>
<% end %>
