<table class="table table-hover">
  <h3 class="card-title text-left"><b><%=name%></b></h3>
  <% if current_office.accounts.current_assets.count > 0 %>
    <tbody>
      <% running_total = 0 %>
      <% total_current_assets = 0 %>
      <tr>
        <td colspan="4" class="td-min-padding text-muted">CURRENT ASSETS</td>
        <td class="td-min-padding"></td>
      </tr>
      <% current_office.accounts.current_assets.uniq.each do |account| %>
        <% if account.main_account_id.present? %> 
          <% main_account = account.main_account %>
        <% elsif account.main_account_id.blank? && account.code.include?("-") %>
          <% main_account = AccountingModule::Asset.find_by(code: account.code.split("-").first) %>
        <% end %>
        <% balance = account.balance(:to_date => @to_date) %>
        <% if !balance.zero? %>
          <tr>
            <% if main_account.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="3" class="td-min-padding">
            <% elsif main_account.present? && main_account.main_account_id.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="2" class="td-min-padding">
            <% elsif main_account.main_account_id.present? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td class="td-min-padding">
            <% end %>
              <% if account.main_account_id.blank? %>
                <b class="text-muted"><%= account.name %></b>
              <% else %>
                <%= account.name %>
              <% end %>
              <% if account.contra? %>
                <span class="badge bg-warning"> Contra </span>
              <% end %>
            </td>
            <td class="td-min-padding"><span class="pull-right"><%= number_to_currency balance.round(2) %></span></td>
          </tr>
        <% elsif balance.zero? && AccountingModule::Asset.main_sub_accounts_for(account: account).present? %>
          <tr>
            <% if main_account.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="3" class="td-min-padding">
            <% elsif main_account.present? && main_account.main_account_id.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="2" class="td-min-padding">
            <% elsif main_account.main_account_id.present? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td class="td-min-padding">
            <% end %>
              <% if account.main_account_id.blank? %>
                <b class="text-muted"><%= account.name %></b>
              <% else %>
                <%= account.name %>
              <% end %>
              <% if account.contra? %>
                <span class="badge bg-warning"> Contra </span>
              <% end %>
            </td>
            <td class="td-min-padding"><span class="pull-right"><%= number_to_currency balance.round(2) %></span></td>
          </tr>
        <% end %>
        <% total_current_assets += balance %>
      <% end %>
      <tr>
        <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
        <td colspan="3" class="td-min-padding">Total Current Assets</td>
        <td class="td-min-padding"><span class="pull-right"><%=number_to_currency total_current_assets.round(2) %></span></td>
      </tr>
    </tbody>
  <% end %>

  <% if current_office.accounts.non_current_assets.count > 0 %>
    <tbody>
      <% running_total = 0 %>
      <% total_non_current_assets = 0 %>
      <tr>
        <td colspan="4" class="td-min-padding text-muted">NON-CURRENT ASSETS</td>
        <td class="td-min-padding"></td>
      </tr>
      <% current_office.accounts.non_current_assets.uniq.each do |account| %>
        <% if account.main_account_id.present? %> 
          <% non_current_main_account = account.main_account %>
        <% elsif account.main_account_id.blank? && account.code.include?("-") %>
          <% non_current_main_account = AccountingModule::Asset.find_by(code: account.code.split("-").first) %>
        <% end %>
        <% non_current_balance = account.balance(:to_date => @to_date) %>
        <% if !non_current_balance.zero? %>
          <tr>
            <% if non_current_main_account.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="3" class="td-min-padding">
            <% elsif non_current_main_account.present? && non_current_main_account.main_account_id.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="2" class="td-min-padding">
            <% elsif non_current_main_account.main_account_id.present? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td class="td-min-padding">
            <% end %>
              <% if account.main_account_id.blank? %>
                <b class="text-muted"><%= account.name %></b>
              <% else %>
                <%= account.name %>
              <% end %>
              <% if account.contra? %>
                <span class="badge bg-warning"> Contra </span>
              <% end %>
            </td>
            <td class="td-min-padding"><span class="pull-right"><%= number_to_currency non_current_balance.round(2) %></span></td>
          </tr>
        <% elsif non_current_balance.zero? && AccountingModule::Asset.main_sub_accounts_for(account: account).present? %>
          <tr>
            <% if non_current_main_account.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="3" class="td-min-padding">
            <% elsif non_current_main_account.present? && non_current_main_account.main_account_id.blank? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td colspan="2" class="td-min-padding">
            <% elsif non_current_main_account.main_account_id.present? %>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
              <td class="td-min-padding">
            <% end %>
              <% if account.main_account_id.blank? %>
                <b class="text-muted"><%= account.name %></b>
              <% else %>
                <%= account.name %>
              <% end %>
              <% if account.contra? %>
                <span class="badge bg-warning"> Contra </span>
              <% end %>
            </td>
            <td class="td-min-padding"><span class="pull-right"><%= number_to_currency non_current_balance.round(2) %></span></td>
          </tr>
        <% end %>
        <% total_non_current_assets += non_current_balance %>
      <% end %>
      <tr>
        <td style="width:30px; padding-right: 0px" class="td-min-padding"></td>
        <td colspan="3" class="td-min-padding">Total Non-Current Assets</td>
        <td class="td-min-padding"><span class="pull-right"><%=number_to_currency total_non_current_assets.round(2) %></span></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="4" class="td-min-padding"><b>Total Assets</b></td>
        <td class="td-min-padding"><span class="pull-right"><b><%=number_to_currency (total_current_assets + total_non_current_assets).round(2) %></b></span></td>
      </tr>
    </tbody>
  <% end %>
</table>
