<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h3 class="card-title"> Share Capital Products </h3>
          </div>
          <div class="col-md-3">
            <%= link_to new_management_module_share_capital_product_path, data: {modal: true} do %>
              <span class="btn btn-outline-danger btn-sm float-right">
                <i class="fa fa-plus-circle"></i> New
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% @share_capital_products.each do |share_capital_product| %>
        <div class="card-body">
          <h4 class="card-title text-primary"><%= share_capital_product.name %></h4>
          <hr class="no-margin-top">
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Min. No. of Subscribed Share</label>
                </div>
                <div class="col-md-5">
                  <%= share_capital_product.minimum_number_of_subscribed_share.to_i %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Min. No. of Paid Share</label>
                </div>
                <div class="col-md-5">
                  <%= share_capital_product.minimum_number_of_paid_share.to_i %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Cost Per Share</label>
                </div>
                <div class="col-md-5">
                  <%= number_to_currency share_capital_product.cost_per_share %>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3"> -->
                <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
              <!-- </div> -->
          </div>
        </div>
        <% if @share_capital_products.last == @share_capital_products.last %>
          <hr class="no-margin">
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title">Loan Products</h3>
          </div>
          <div class="col-md-6">
            <%= link_to new_management_module_settings_loan_product_path, data: {modal: true} do  %>
              <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="New Loan Product"><i class="fa fa-plus-circle"></i> New </span>
            <% end %>
          </div>
        </div>
      </div>
      <% @loan_products.each do |loan_product| %>
        <div class="card-body">
          <h4 class="card-title text-primary"><%= loan_product.name %></h4>
          <hr class="no-margin-top">
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Maximum Loanable Amount</label>
                </div>
                <div class="col-md-6">
                  <%= number_to_currency loan_product.maximum_loanable_amount %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Interest Rate</label>
                </div>
                <div class="col-md-6">
                  <%= loan_product.interest_rate*100 %>%
                  <%= link_to "Set Interest Rate", new_management_module_settings_loan_product_interest_configuration_path(loan_product),class: "btn btn-outline-danger btn-xs float-right", data: { modal: true } %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Penalty Rate</label>
                </div>
                <div class="col-md-6">
                  <%= loan_product.try(:penalty_rate)*100 %>%
                  <%= link_to "Set Penalty Rate", new_management_module_settings_loan_product_penalty_configuration_path(loan_product),class: "btn btn-outline-danger btn-xs float-right", data: { modal: true } %>
                </div>
              </div>
            </div>
          </div>
          <hr class="min-margin">
          <div class="row">
            <div class="col-md-6">
              <p class="text-muted">CHARGES </p>
            </div>
            <div class="col-md-6">
              <%= link_to new_management_module_settings_loan_product_charge_path(loan_product), data: { modal: true } do %>
                <span class="btn btn-outline-danger btn-xs float-right" data-toggle="tooltip" title="Add Charge"><i class="fa fa-plus-circle"></i> Add </span>
              <% end %>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-11">
              <% loan_product.loan_product_charges.each do |charge| %>
                <hr class="min-margin">
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    <label><%= charge.name %></label>
                  </div>
                  <div class="col-md-6">
                    <%= link_to 'Edit', edit_management_module_settings_loan_product_charge_path(id: charge.id, loan_product_id: loan_product.id), class: 'btn btn-outline-danger btn-xs float-right', data: {modal: true, toggle: "tooltip"}, title: "Edit Charge" %>
                  </div>
                </div>
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    Amount
                  </div>
                  <div class="col-md-6">
                    <%= number_to_currency charge.amount %>
                  </div>
                </div>
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    Rate
                  </div>
                  <div class="col-md-6">
                    <%= charge.rate %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% if @saving_products.last == @saving_products.last %>
          <hr class="no-margin">
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h3 class="card-title"> Time Deposit Products </h3>
          </div>
          <div class="col-md-3">
            <%= link_to new_management_module_settings_time_deposit_product_path, data: {modal: true} do %>
              <span class="btn btn-outline-danger btn-sm float-right" title="New Time Deposit Product" data-toggle="tooltip">
                <i class="fa fa-plus-circle"></i> New
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% @time_deposit_products.each do |time_deposit_product| %>
          <div class="card-body">
          <h4 class="card-title text-primary"><%= time_deposit_product.name %></h4>
          <hr class="no-margin-top">
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Interest Rate</label>
                </div>
                <div class="col-md-6">
                  <%= time_deposit_product.interest_rate*100 %>%
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Minimum Deposit</label>
                </div>
                <div class="col-md-6">
                  <%= number_to_currency time_deposit_product.minimum_deposit %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Maximum Deposit</label>
                </div>
                <div class="col-md-6">
                  <%= number_to_currency time_deposit_product.maximum_deposit %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Number of Days</label>
                </div>
                <div class="col-md-6">
                  <%= time_deposit_product.number_of_days %> days
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Break Contract Fee</label>
                </div>
                <div class="col-md-6">
                  <%= number_to_currency time_deposit_product.break_contract_fee %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Break Contract Rate</label>
                </div>
                <div class="col-md-6">
                  <%= time_deposit_product.break_contract_rate*100 %>%
                </div>
              </div>
              <!-- <div class="col-md-3"> -->
                <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <% if @time_deposit_products.last == @time_deposit_products.last %>
          <hr class="no-margin">
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title"> Saving Products</h3>
          </div>
          <div class="col-md-6">
            <%= link_to new_management_module_saving_product_path, data: {modal: true} do  %>
              <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="New Savings Product"><i class="fa fa-plus-circle"></i> New </span>
            <% end %>
          </div>
        </div>
      </div>
      <% @saving_products.all.each do |saving_product| %>
        <div class="card-body">
          <h4 class="card-title text-primary"><%= saving_product.name %></h4>
          <hr class="no-margin-top">
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Interest Rate</label>
                </div>
                <div class="col-md-6">
                  <%= saving_product.interest_rate*100 %>%
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Interest Recurrence</label>
                </div>
                <div class="col-md-6">
                  <%= saving_product.interest_recurrence %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <label class="no-margin-bottom">Minimum Balance</label>
                </div>
                <div class="col-md-6">
                  <%= number_to_currency saving_product.minimum_balance %>
                </div>
              </div>
              <!-- <div class="col-md-3"> -->
                <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <% if @saving_products.last == @saving_products.last %>
          <hr class="no-margin">
        <% end %>
      <% end %>
    </div>
  </div>
</div>
