<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
            <div class="profile-wrapper">
              <h3 class="card-title"> <%= @office.name %></h3>
              <% if current_cooperative.logo.attached? %>
                <%= image_tag(current_cooperative.logo, width: '150', height: '150', class: "img-rounded mx-auto d-block") %>
              <% else %>
                <%= image_tag("default.png", width: '150', height: '150', class: 'img-circle mx-auto d-block') %>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <nav class="nav flex-column nav-pills">
              <li class="nav-item"><%= link_to 'Info', office_path(@office), class: "nav-link #{'active' if current_page?(office_path(@office)) }" %></li>
              <li class="nav-item"><%= link_to 'Loans', office_loans_path(@office), class: "nav-link #{'active' if current_page?(office_loans_path(@office))}"%></li>
              <li class="nav-item"><%= link_to 'Savings', office_savings_accounts_path(@office), class: "nav-link #{ 'active' if current_page?(office_savings_accounts_path(@office))}" %></li>
              <li class="nav-item"><%= link_to 'Share Capitals', office_share_capitals_path(@office), class: "nav-link #{ 'active' if current_page?(office_share_capitals_path(@office))}" %></li>
              <li class="nav-item"><%= link_to 'Time Deposits', office_time_deposits_path(@office), class: "nav-link #{ 'active' if current_page?(office_time_deposits_path(@office)) }" %></li>
              <li class="nav-item"><%= link_to 'Entries', office_entries_path(@office), class: "nav-link #{ 'active' if current_page?(office_entries_path(@office)) }" %></li>
              <li class="nav-item"><%= link_to 'Reports', office_reports_path(@office), class: "nav-link #{ 'active' if current_page?(office_reports_path(@office)) }" %></li>
              <li class="nav-item"><%= link_to 'Settings', office_settings_path(@office), class: "nav-link #{ 'active' if current_page?(office_settings_path(@office))}" %></li>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <% if current_page?(office_path(@office))%>
          <%= render 'offices/partials/info', office: @office %>
        <% end %>
        <% if current_page?(office_loans_path(@office)) %>
          <%=render 'offices/partials/loans', office: @office %>
        <% end %>
        <% if current_page?(office_savings_accounts_path(@office)) %>
          <%=render 'offices/partials/savings_accounts', office: @office %>
        <% end %>
        <% if current_page?(office_share_capitals_path(@office)) %>
          <%=render 'offices/partials/share_capitals', office: @office %>
        <% end %>
        <% if current_page?(office_time_deposits_path(@office)) %>
          <%=render 'offices/partials/time_deposits', office: @office %>
        <% end %>
        <% if current_page?(office_entries_path(@office)) %>
          <%=render 'offices/partials/entries', office: @office %>
        <% end %>
        <% if current_page?(office_reports_path(@office)) %>
          <%= render 'offices/partials/reports', office: @office %>
        <% end %>
        <% if current_page? office_settings_path(@office) %>
          <%= render 'offices/partials/settings' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
