<div class='row'>
  <div class='col-md-8 offset-md-3'>
    <div class='card'>
      <div class='card-body'>
<%= render 'loans_module/loans/shared/borrower_avatar' %>
<%= render 'loans_module/loans/shared/loan_details' %>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <%= simple_form_for [@loan, @interest_posting], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_interest_postings do |f| %>

          <h4 class="title-up">Interest Posting Details</h4>
          <hr>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, input_html: { value: "Loan interests"} %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
          <%= f.submit "Post Interest", class: "btn btn-danger float-right" %>
      <% end %>
    </div>
  </div>
</div>
