<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">Transactions Report</h4>
            <p class="text-muted"> Generate transactions report </p>
            <%=link_to 'This Day', employee_entries_path(@employee, format: 'pdf', from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day), class: "btn btn-sm btn-default"  %> &nbsp;
            <%=link_to 'This Week', employee_entries_path(@employee, format: 'pdf', from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day), class: "btn btn-sm btn-default"  %> &nbsp;
            <%=link_to 'This Month', employee_entries_path(@employee, format: 'pdf', from_date: Time.zone.now.beginning_of_month.beginning_of_day, to_date: Time.zone.now.end_of_month.end_of_day), class: "btn btn-sm btn-default"  %> &nbsp;
            <br>
            <small class="text-muted">OR select date </small>
            <%= form_tag({:action => "index", format: 'pdf', controller: "employees/entries", employee_id: @employee.id, from_date: params[:from_date], to_date: params[:to_date]}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-default"> Go</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Transaction Summary Report</h4>
        <p class="text-muted">Generate summary of transactions report. </p>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports", employee_id: @employee.id, date: params[:date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-default"> Generate</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Cash Disbursements</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports/cash_disbursements", employee_id: @employee.id, to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-default"> Go</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Cash Receipts</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports/cash_receipts", employee_id: @employee.id, to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-default"> Go</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Blotter</h4>
        <br>
        <%= form_tag({:action => "index", controller: "employees/blotters", employee_id: @employee.id, date: params[:date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-default"> Go</button>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to 'New Cash Count Report', new_employee_cash_count_line_item_path(@employee) %>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Audit Report</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf',  controller: "reports/audit_reports", employee_id: @employee.id, from_date: params[:from_date], to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-default"> Go</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
