<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Add Capital Build-Up
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <center><%= image_tag(@loan_application.borrower.avatar, width: 80, height: 80, class: 'media-object img-circle') if @loan_application.borrower.avatar.attached? %></center>
    </div>
    <div class="col-md-9">
      <br>
      <h3 class="card-title"><%= @loan_application.borrower_name.upcase %></h3><br>
       <i class="fa fa-map-marker"></i> Address: <%= @loan_application.borrower.try(:current_address_complete_address) %>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="card-title">
        <%= number_to_currency @loan_application.net_proceed %>
      </h3>
      <small class="text-muted">NET PROCEED</small>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h4 class="card-title"><%= number_to_currency @share_capital.balance %></h4>
      <small class="text-muted"> SHARE CAPITAL </small>
    </div>
  </div>
</div>
<%= simple_form_for [@share_capital, @capital_build_up], url: :loans_module_loan_application_capital_build_up_processings, remote: request.xhr?, html: { autocomplete: 'off', data: { modal: true } } do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :amount, autofocus: true, as: :currency %>
    <%= f.input :share_capital_id, input_html: { value: @share_capital.id }, as: :hidden %>
    <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Add Capital Build Up", class: "btn btn-primary float-right" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
