<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= link_to(image_tag(current_user.avatar.url(:medium), class: "img-circle", width: 40, height: 40), employee_path(current_user)) %>
      </div>
      <div class="pull-left info">
        <p><%= link_to current_user.first_name, employee_path(current_user) %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role %></small></a>
      </div>
    </div>
    <!-- search form -->
    <%=form_tag search_results_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <!-- /.search form -->
    <ul class="sidebar-menu">
      <li class="header"> TELLER SECTION </li>
      <li class=<%= 'active' if current_page?(employee_path(current_user)) %> ><a href="/employees/<%=current_user.id %>"><i class="fa fa-cog"></i> <span> Account</span></a></li>
      <li class=<%= 'active' if current_page?(vouchers_path) %> ><a href="/vouchers"><i class="far fa-folder"></i> <span> Vouchers</span></a></li>
      <li class=<%= 'active' if current_page?(treasury_module_disbursements_path) %> ><a href="/treasury_module/disbursements"><i class="fa fa-chevron-left"></i> <span> Disbursements</span></a></li>
          <li class=<%= 'active' if current_page?(treasury_module_cash_receipts_path) %> ><a href="/treasury_module/cash_receipts"><i class="fa fa-chevron-right"></i> <span> Cash Receipts</span></a></li>

      <li class=<%= 'active' if current_page?(members_path) %> ><a href="/members"><i class="fa fa-users"></i> <span> Members</span></a></li>
      <li class=<%= 'active' if current_page?(employees_path) %> ><a href="/employees"><i class="fa fa-users"></i> <span> Employees</span></a></li>

      <li class=<%= 'active' if current_page?(savings_accounts_path) %> ><a href="/savings_accounts"><i class="fa fa-suitcase"></i> <span> Savings Accounts</span></a></li>
      <li class=<%= 'active' if current_page?(share_capitals_path) %> ><a href="/share_capitals"><i class="fa fa-suitcase"></i> <span> Share Capitals </span></a></li>
      <li class=<%= 'active' if current_page?(time_deposits_path) %> ><a href="/time_deposits"><i class="fa fa-hourglass"></i> <span> Time Deposits</span></a></li>
      <li class=<%= 'active' if current_page?(loans_path) %> ><a href="/loans"><i class="fa fa-suitcase"></i> <span> Loans</span></a></li>
      <li class=<%= 'active' if current_page?(suppliers_path) %> ><a href="/suppliers"><i class="fa fa-truck"></i> <span> Suppliers</span></a></li>
      <li class=<%= 'active' if current_page?(organizations_path) %> ><a href="/organizations"><i class="fa fa-circle-o"></i> <span> Organizations</span></a></li>
       <li class=<%= 'active' if current_page?(barangays_path) %> ><a href="/barangays"><i class="fa fa-circle"></i> <span> Barangays </span></a></li>
       <li class=<%= 'active' if current_page?(calendars_path) %> ><a href="/calendars"><i class="fa fa-calendar"></i> <span> Calendars </span></a></li>
       <li class="header"> MONITORING </li>
             <li class=<%= 'active' if current_page?(loans_module_monitoring_metrics_path) %> ><a href="/loans_module/monitoring/metrics"><i class="fa fa-circle"></i> <span> Loans Portfolio</span></a></li>
             <li class=<%= 'active' if current_page?(savings_accounts_dashboards_path) %> ><a href="/savings_accounts_dashboards"><i class="fa fa-circle"></i> <span> Savings Portfolio</span></a></li>
             <li class=<%= 'active' if current_page?(share_capitals_section_dashboards_path) %> ><a href="/share_capitals_section/dashboards"><i class="fa fa-circle"></i> <span> Share Capitals Portfolio</span></a></li>
             <li class=<%= 'active' if current_page?(cooperative_services_path) %> ><a href="/cooperative_services"><i class="fa fa-circle"></i> <span> Services Portfolio</span></a></li>

    </ul>
  </section>
    <!-- /.sidebar -->
</aside>
