<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="title-up"> Utility Bill Details </h4>
          <% if @utility_bill.paid? %>
  <span class="badge bg-success float-right"> PAID </span>
  <% end %>
            <center>
              <%=image_tag("electricity.png") %>
            </center>
            <br>
            <div class="row min-margin">
              <div class="col-md-5 col-sm-6 offset-md-1">
                <span class="text-muted"> Amount </span>
              </div>
              <div class="col-md-6 col-sm-6">
                <%= number_to_currency @utility_bill.amount %>
              </div>
            </div>
             <div class="row min-margin">
              <div class="col-md-5 offset-md-1">
                <span class="text-muted"> Payee </span>
              </div>
              <div class="col-md-6">
                <%= @utility_bill.payee_name %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5 offset-md-1 col-xs-6">
                <span class="text-muted"> Merchant </span>
              </div>
              <div class="col-md-6">
                <%= @utility_bill.merchant_name %>
              </div>
            </div>

            <div class="row min-margin">
              <div class="col-md-5 offset-md-1">
                <span class="text-muted"> Description </span>
              </div>
              <div class="col-md-6">
                <%= @utility_bill.description %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Reference Number </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.reference_number %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Bill Category </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.utility_bill_category_title %>
              </div>
            </div>

             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Due Date </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.due_date.strftime("%B %e, %Y") %>
                <span class="badge badge-warning"><%= @utility_bill.remaining_days %> days from now </span>
              </div>
            </div>
            
            
            <hr>

<% if @utility_bill.paid? %>
  <h4 class="subtitle-up"> Payment Details </h4>
    <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Payment Channel </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.voucher.entry.origin.try(:name) %>
                
              </div>
            </div>
          <div class="row min-margin">
            <div class="col-md-5">
              <span class="text-muted"> Date of Payment </span>
            </div>
            <div class="col-md-7">
              <%= @utility_bill.voucher.entry.entry_date.try(:strftime, ("%B %e, %Y")) %>
              
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-5">
              <span class="text-muted"> Amount Paid </span>
            </div>
            <div class="col-md-7">
              <%= number_to_currency @utility_bill.voucher.entry.debit_amounts.where(account: current_banking_agent.cash_account).total %>
              
            </div>
          </div>
<% else %>
<%= link_to "New Payment", new_banking_agent_module_utility_bill_payment_path(@utility_bill), class: "btn btn-primary float-right" %>
<% end %>