
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class='row'>
          <div class='col-md-3'>
            <small class='text-muted'><%= @cash_account.name.upcase %></small>
            <h3 class='title-up'><%= number_to_currency @cash_account.balance %></h3>
        
         
              <% if policy([:treasury_module, :cash_receipt]).new? %>
                <%= link_to new_treasury_module_cash_account_cash_receipt_line_item_path(cash_account), data: { turbolinks: false } do %>
                <span class="btn btn-success"><i class="fa fa-arrow-down"></i> Receive </span>
                <% end %>
              <% end %>
              <% if policy([:treasury_module, :cash_disbursement]).new? %>
                <%= link_to new_treasury_module_cash_account_cash_disbursement_line_item_path(cash_account), data: { turbolinks: false } do %>
                <span class="btn btn-danger"><i class="fa fa-arrow-up"></i> Disburse </span>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>

        <br>
        <ul class="nav nav-tabs">
          <li class="nav-item"><%= link_to 'This Day', treasury_module_cash_account_daily_transactions_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_daily_transactions_path(cash_account))}" %></li>
          <li class="nav-item"><%= link_to 'All Transactions', treasury_module_cash_account_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_path(cash_account))}" %></li>
          <li class="nav-item"><%= link_to 'Cash Receipts', treasury_module_cash_account_receipts_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_receipts_path(cash_account))}" %></li>
          <li class="nav-item"><%= link_to 'Disbursements', treasury_module_cash_account_disbursements_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_disbursements_path(cash_account))}" %></li>

          <li class="nav-item"><%= link_to 'Reports', treasury_module_cash_account_reports_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_reports_path(cash_account))}" %></li>
        </ul>


      <% if current_page? treasury_module_cash_account_path(cash_account) %>
        <%= render 'treasury_module/cash_accounts/partials/transactions', cash_account: @cash_account %>
      <% end %>
      <% if current_page? treasury_module_cash_account_reports_path(cash_account) %>
        <%= render 'treasury_module/cash_accounts/partials/reports', cash_account: @cash_account %>
      <% end %>
    </div>
  </div>
</div>
