<%= render 'treasury_module/cash_accounts/partials/header', cash_account: cash_account %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header no-border">
        <ul class="nav nav-tabs">
          <li class="nav-item"><%= link_to 'Transactions', treasury_module_cash_account_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_path(cash_account))}" %></li>
          <li class="nav-item"><%= link_to 'Reports', treasury_module_cash_account_reports_path(cash_account), class: "text-sm-center nav-link #{'active' if current_page?(treasury_module_cash_account_reports_path(cash_account))}" %></li>
        </ul>
      </div>
    </div>

      <% if current_page? treasury_module_cash_account_path(cash_account) %>
        <%= render 'treasury_module/cash_accounts/partials/transactions', cash_account: @cash_account %>
      <% end %>
      <% if current_page? treasury_module_cash_account_reports_path(cash_account) %>
        <%= render 'treasury_module/cash_accounts/partials/reports', cash_account: @cash_account %>
      <% end %>
    </div>
  </div>
</div>
