<%= render 'barangays/partials/header', barangay: @barangay %>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs">
      <li class=nav-item""><%= link_to 'Dashboard', barangay_path(id: @barangay.id, barangay_id: @barangay.id), class: "nav-link #{'active' if current_page?(barangay_path(id: @barangay.id, barangay_id: @barangay.id))}" %></li>
      <li class="nav-item"><%= link_to 'Members', barangay_members_path(id: @barangay.id, barangay_id: @barangay.id), class: "nav-link #{'active' if current_page?(barangay_members_path(id: @barangay.id, barangay_id: @barangay.id))}" %></li>
      <li class="nav-item"><%= link_to 'Savings', barangay_savings_path(@barangay), class: "nav-link #{ 'active' if current_page?(barangay_savings_path(@barangay))}" %></li>
      <li class="nav-item"><%= link_to 'Loans', barangay_loans_path(@barangay), class: "nav-link #{'active' if current_page?(barangay_loans_path(@barangay))}" %></li>
      <li class="nav-item"><%= link_to 'Settings', barangay_settings_path(@barangay), class: "nav-link #{'active' if current_page?(barangay_settings_path(@barangay))}" %></li>
    </ul>
  </div>
</div>
  <% if current_page? barangay_path(id: @barangay.id, barangay_id: @barangay.id) %>
    <%= render 'barangays/partials/profile' %>
  <% end %>
  <% if current_page? barangay_members_path(id: @barangay.id, barangay_id: @barangay.id) %>
    <%= render 'barangays/partials/members' %>
  <% end %>
  <% if current_page? barangay_savings_path(@barangay) %>
    <%= render 'barangays/partials/savings' %>
  <% end %>
  <% if current_page? barangay_loans_path(@barangay) %>
    <%= render 'barangays/partials/loans' %>
  <% end %>
  <% if current_page? barangay_settings_path(@barangay) %>
    <%= render 'barangays/partials/settings' %>
  <% end %>
</div>
