<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Product Name </th>
                <th> Category </th>
                <th> In Stock </th>
              </tr>
            <tbody>
              <% @registry.temporary_products.each do |product| %>
                <tr>
                  <td><%= product.product_name %></td>
                  <td><%= product.category_name %></td>
                  <td><%= number_to_currency product.in_stock, unit: "" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> Total Inventory Cost </h3>
        <%= number_to_currency @registry.temporary_products.total_cost %>
        <%= simple_form_for @registry_processing, url: :store_front_module_stock_registry_processings do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :reference_number %>
          <%= f.input :description %>
          <%= f.input :registry_id, input_html: { value: @registry.id } %>
          <%= f.input :employee_id, input_html: { value: current_user.id } %>

          <%= f.submit "Upload Inventories", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
