<% content_for(:html_title) { "#{@program_subscription.subscriber_name} | New Payment" } %>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@program_subscription.subscriber.avatar, style: 'width:60px;height:60px;', class: 'media-object img-circle') %>
          <h3 class="card-title"><%= @program_subscription.subscriber_name %></h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <b><%= @program_subscription.name %></b>
          </div>
          <div class="col-md-3">
            <span class="pull-right">
              <%= number_to_currency @program_subscription.amount %>
            </span>
          </div>
        </div>
        <hr>
        <%= simple_form_for [@program_subscription, @payment], url: :program_subscription_payments do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount %>
          <%= f.input :reference_number %>
          <%= f.input :description %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :program_subscription_id, input_html: { value: @program_subscription.id }, as: :hidden %>
          <%= f.input :member_id, input_html: { value: @member.id }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{ |a| [a.name, a.id] } %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Proceed", class: "btn btn-primary float-right" %>
          </div>
        <% end %>
      </div>
    </div>
