<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h4 class="card-title">Settings</h4>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Archive Loans</h4>
        <p class="text-muted">
          Archive loans that are paid.
        </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Archive Loans', new_loans_module_settings_archive_path, class: "btn btn-sm btn-outline-danger float-right" %>
      </div>
    </div>
	</div>
</div>
<h4 class="title-up"> Loan Aging Groups </h4>
<%= link_to 'New Aging Group', new_loans_module_settings_loan_aging_group_path, class: 'btn btn-danger' %>
<% current_office.loan_aging_groups.each do |loan_aging_group| %>
<%= loan_aging_group.title %>
<%= loan_aging_group.start_num %>
<%= loan_aging_group.end_num %>

<%= link_to 'Set Office Loan Product', new_loans_module_settings_loan_aging_group_office_loan_product_path(loan_aging_group) %>
<% end %>
