<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <%=image_tag(current_user.avatar, height: 45, width: 45, class: "img-circle") %>
    </div>
    <div class="info">
      <a href="#" class="d-block"><%= link_to current_user.first_and_last_name, employee_path(current_user) %></a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-1">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <% if current_user.loan_officer? %>
        <%=render 'layouts/shared/sidebar_links/loans_department' %>
      <% end %>
      <% if current_user.teller? %>
        <%=render 'layouts/shared/sidebar_links/treasury_department' %>
      <% end %>
      <% if current_user.general_manager? %>
        <%=render 'layouts/shared/sidebar_links/management_department' %>
      <% end %>
      <% if current_user.bookkeeper? %>
        <%=render 'layouts/shared/sidebar_links/accounting_department' %>

      <% end %>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
