
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <nav class="nav nav-pills flex-column flex-md-row">
          <%= link_to 'General Info', management_module_settings_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(management_module_settings_path)}" %>
          <%= link_to 'Coop Products', management_module_settings_cooperative_products_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(management_module_settings_cooperative_products_path)}" %>
          <%= link_to 'Configurations', management_module_settings_configurations_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(management_module_settings_configurations_path)}" %>
          <%= link_to 'Data Migrations', management_module_settings_data_migrations_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(management_module_settings_data_migrations_path)}" %>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <% if current_page? management_module_settings_path %>
      <%= render 'management_module/settings/partials/general_infos' %>
    <% end %>
    <% if current_page? management_module_settings_cooperative_products_path %>
      <%= render 'management_module/settings/partials/cooperative_products' %>
    <% end %>
    <% if current_page? management_module_settings_configurations_path %>
      <%= render 'management_module/settings/partials/configurations' %>
    <% end %>
    <% if current_page? management_module_settings_data_migrations_path %>
      <%= render 'management_module/settings/partials/data_migrations' %>
    <% end %>
  </div>
</div>
