<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="nav-tabs-custom">
      <div class="box-header">
        <h4><center><%= image_tag(@savings_account.depositor.avatar.url(:medium), style: 'width:80px;height:80px;', class: 'media-object img-circle') %></center></h4>
        <center><h3 class="box-title"><%= @savings_account.depositor_name %></h3></center>
      </div>
      <div class="box-body">
        <small>BALANCE</small>
        <h3 class="condensed-text"><%= number_to_currency @savings_account.balance %></h3>
        <hr>
        <%= simple_form_for [@savings_account, @withdrawal], url: :savings_account_withdrawals do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :payment_type, label: 'Type', collection: AccountingModule::Entry.payment_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.input :or_number, label: "Reference number" %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :saving_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :recorder_id, input_html: { value: current_user.id },as: :hidden %>
          <div class="footer">
            <%= f.submit "Save Withdraw", class: "btn btn-primary pull-right", data: {disable_with: "Processing..." } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
