<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title"> Search Results </h3>
          <%=form_tag search_results_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
        </div>
        <div class="box-body">
          <% if @search_results.empty? %>
            No result found for <b><%= params[:search] %></b>
            <% else %>
            <p><%= @search_results.count %> results found for <b><%=params[:search] %></b></p>
            <% @search_results.each do |search_result| %>
              <%#=search_result.inspect %>
            <% if search_result.searchable_type == "Occupation" %>
              <%= link_to search_result.searchable.try(:name), occupations_path(search_result.searchable) %><br>
                <span class="text-muted"> <%= search_result.searchable.class.to_s %></span>
              <% end %>
              <% if search_result.searchable_type == "Member" %>
              <%= link_to search_result.searchable.try(:name), member_info_index_path(search_result.searchable) %><br>
                <span class="text-muted"> <%= search_result.searchable.class.to_s %></span>
                <hr>
              <% end %>
            <% if search_result.searchable_type == "StoreFrontModule::Product" %>
              <%= link_to search_result.searchable.try(:name), store_front_module_product_path(search_result.searchable) %><br>
              <span class="text-muted"> <%= search_result.searchable.class.to_s.gsub("StoreFrontModule::", "") %></span>
            <% end %>
             <% if search_result.searchable_type == "MembershipsModule::ShareCapital" %>
              <%= link_to search_result.searchable.try(:name), share_capital_path(search_result.searchable) %><br>
              <span class="text-muted"> <%= search_result.searchable.class.to_s.gsub("MembershipsModule::", "") %></span>
              <hr>
            <% end %>
             <% if search_result.searchable_type == "MembershipsModule::Saving" %>
              <%= link_to search_result.searchable.try(:name), savings_account_path(search_result.searchable) %><br>
              <span class="text-muted"> <%= search_result.searchable.class.to_s.gsub("MembershipsModule::", "") %></span>
            <% end %>
            <% end %>
            <hr>
          <% end %>
