<table class="table table-striped table-hover">
  <h3 class="box-title"><b><%=name%></b></h3>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
<% if accounts.count > 0 %>
  <tbody>
    <% running_total = 0 %>
    <% accounts.each do |account| %>
      <% balance = account.balance(:from_date => @from_date, :to_date => @to_date) %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= account.name %></td>
        <td><%=number_to_currency balance.round(2) %></td>
        <% running_total += balance %>
      </tr>
    <% end %>
    <tr class="<%= cycle("even", "odd") -%>">
      <strong>
        <td>Total <%= name %></td>
        <td><%= number_to_currency running_total%></td>
      </strong>
    </tr>
  </tbody>
<% end %>
</table>
