<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    New Account Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @account, url: :accounting_module_accounts, html: { data: { modal: true } }, remote: request.xhr? do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :main_account_id, collection: AccountingModule::Account.all.map{|a| [a.name.titleize, a.id] } %>
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :type, collection: AccountingModule::Account.types %>
    <%= f.input :contra %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Account", class: "btn btn-primary btn-flat", data: { disable_with: "Creating Account..." } %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_account_main_account_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#accounting_module_asset_main_account_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#accounting_module_liability_main_account_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#accounting_module_equity_main_account_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#accounting_module_revenue_main_account_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#accounting_module_expense_main_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
