<div class="row">
  <div class="col-md-5">
    <div class="box box-solid">
      <div class="box-header">
        Loan Applications
      </div>
      <div class="box-body">
        <% LoansDepartment::Loan.application.limit(5).each do |loan| %>
          <%=link_to loans_department_loan_path(loan) do %>
            <div class="row">
              <div class="col-md-3">
                <h4><%= image_tag loan.member.avatar_url, class: 'media-object img-circle', style: 'width:50px;height:50px;' %></h4>

              </div>
              <div class="col-md-9">
                <p><%=number_to_currency loan.loan_amount %></p>
                <small class="text-muted"> <%=loan.member.full_name.upcase %></small><br>
                <small class="text-muted"> <%=loan.loan_product_name.upcase %></small><br>
                <small class="text-muted"> <i class="fa fa-calendar"></i> <%=loan.application_date.strftime("%B %e, %Y") %></small>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
        <center><%= link_to 'View All', loans_department_loans_path %></center>
      </div>
    </div>
    <div class="box box-solid">
      <div class="box-header">
        Aging Loans
      </div>
      <div class="box-body">
        <% LoansDepartment::Loan.aging.all.each do |loan| %>
          <%=link_to loans_department_loan_path(loan) do %>
            <div class="row">
              <div class="col-md-3">
                <% if loan.member.present? %>
                  <%=image_tag(loan.member.avatar.url(:small), class: "img-circle") %>
                <% end %>
              </div>
              <div class="col-md-8">
                <h4><%=number_to_currency loan.loan_amount %></h4>
                <small class="text-muted"> <%=loan.loan_product_name.upcase %></small><br>
                <small class="text-muted"> <i class="fa fa-calendar"></i> <%=loan.application_date.strftime("%B %e, %Y") %></small>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="box box-solid">
      <div class="box-header">
        Current Loans
      </div>
      <div class="box-body">
        <% LoansDepartment::Loan.approved.each do |loan| %>
          <% cache loan do %>
          <div class="row">
            <div class="col-md-4 border-left">
              <span class="text-muted"> <%=loan.loan_product_name.upcase %></span><br>
              <h4><%=number_to_currency loan.loan_amount %></h4>
              <small class="text-muted"> Term <%=loan.duration %> <%= loan.loan_term_duration %></small><br>
              <small class="text-muted"> APR <%=loan.duration %> <%= loan.loan_term_duration%></small><br>
              <small class="text-muted"> Monthly Payment <%=loan.duration %> <%= loan.loan_term_duration %></small>
              <br>

            </div>
            <div class="col-md-6 border-right">
              <span class="text-muted"><i class="fa fa-calendar"></i> NEXT PAYMENT DUE </span>
              <h3> <%=Time.zone.now.strftime("%B %e, %Y") %></h3>
              <br>
              <small class="text-muted"><i class="fa fa-credit-card"> </i> PRINCIPAL PAID </small>

              <h4 class="text-green"> P23213 </h4>


                 <span class="pull-right"> of <%= loan.loan_amount %></span>
              <div class="progress xs">

                              <div class="progress-bar progress-bar-success" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">20% Complete</span>
                              </div>
                            </div>
            </div>
            <div class="col-md-2">
              AMOUNT
            </div>
          </div>

          <% end %>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
