<div class="row">
  <%=render 'members/partials/sidebar', member: @loan.member %>
  <div class="col-md-9">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">

          <div class="row">
            <div class="col-md-4 border-right">
              <span class="text-muted"> <%=@loan.loan_product_name.upcase %></span><br>
              <h4><%=number_to_currency @loan.loan_amount %></h4>
              <small class="text-muted"> Term <%= @loan.duration %> <%= @loan.loan_term_duration %></small><br>
              <small class="text-muted"> APR <%= @loan.duration %> <%= @loan.loan_term_duration%></small><br>
              <small class="text-muted"> Monthly Payment <%= @loan.duration %> <%= @loan.loan_term_duration %></small>
              <br>

            </div>
            <div class="col-md-6 border-right">
              <span class="text-muted"><i class="fa fa-calendar"></i> NEXT PAYMENT DUE </span>
              <h3> <%=Time.zone.now.strftime("%B %e, %Y") %></h3>
              <br>
              <small class="text-muted"><i class="fa fa-credit-card"> </i> PRINCIPAL PAID </small>

              <h4 class="text-green"> P23213 </h4>


                 <span class="pull-right"> of <%= @loan.loan_amount %></span>
              <div class="progress xs">
                              <div class="progress-bar progress-bar-success" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">20% Complete</span>
                              </div>
                            </div>
            </div>
            <div class="col-md-2">
              AMOUNT
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
               Loan Approval
              <%= link_to "Approve", loans_department_loan_approvals_path(@loan),  method: :create, class: "btn btn-success btn-xs" %>
              <hr>
              <% @loan.loan_approvals.each do |approval| %>
                <div class="row">
                  <div  class="col-md-2">
                    <%= image_tag(approval.approver.avatar.url(:small), class: "img-circle", height: 45, width: 45) %>
                  </div>
                  <div class="col-md-10">
                    <%= approval.approver.first_and_last_name %><br>
                    <small class="text-muted"> <%= approval.approver.role.titleize %></small><br>
                    <i class="fa fa-calendar"></i> <small> <%= approval.date_approved.strftime("%B %e, %Y") %></small>
                  </div>
                </div>
                <br>
              <% end %>
              Disbursement
              <%= link_to "Disburse", new_loans_department_loan_disbursement_path(@loan), class: "btn btn-primary btn-xs" %>

            </div>
            <div class="col-md-6">
              Payments History
            </div>
          </div>
