<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header">
        <br>
        <div class="row">
          <div class="col-md-2">
            <h3 class="box-title"> <%= image_tag(current_user.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %></h3>
          </div>
          <div class="col-md-9">
            <h3 class="box-title"><%=current_user.first_and_last_name.try(:upcase) %> </h3><br>
            <small><%= @employee.role.try(:titleize) %></small>
          </div>
        </div>
        <hr>
         <h3><%= number_to_currency @employee.cash_on_hand_account.balance(recorder_id: @employee.id) + @employee.fund_transfer_total %></h3>
        <small class="text-muted"><%= @employee.cash_on_hand_account.try(:name).try(:upcase)%></small>
        <hr>
      </div>
      <div class="box-body">
        <%=simple_form_for @entry, url: :employee_remittances do |f| %>
          <%= f.error_notification %>
          <%= f.input :user_id, input_html: { value: @employee.id }, as: :hidden %>
          <%= f.input :entry_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :reference_number %>
          <%= f.input :description, as: :text %>
          <%= f.input :amount %>
          <%= f.input :entry_type, input_html: {value: 'fund_transfer'}, as: :hidden %>
          <% if current_user.teller?  %>
            <%= f.input :credit_account_id, label: "Credit Account", input_html: { value: AccountingModule::Account.find_by(name: "Cash on Hand (Teller)").id }, as: :hidden %>
            <%= f.input :debit_account_id, label: "Debit Account:", input_html: { value: AccountingModule::Account.find_by(name: "Cash on Hand (Treasury)").id }, as: :hidden %>
          <% elsif current_user.treasurer? %>
             <%= f.input :credit_account_id, label: "Credit Account", input_html: { value: AccountingModule::Account.find_by(name: "Cash on Hand (Treasury)").id }, as: :hidden %>
            <%= f.input :debit_account_id, label: "Debit Account:", input_html: { value: AccountingModule::Account.find_by(name: "Cash on Hand (Teller)").id }, as: :hidden %>
          <% end %>
            
          <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
          <% if current_user.treasurer? %>
            <%= f.input :commercial_document_id, label: "Transfer To:", collection: User.teller.all.map{|a| [a.first_and_last_name, a.id] } %>
          <% else %>
            <%= f.input :commercial_document_id, label: "Transfer To:", collection: User.treasurer.all.map{|a| [a.first_and_last_name, a.id] } %>
          <% end %>
          <div class="box-footer">
            <%= f.submit "Save Remittance", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>        

<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_entry_form_credit_account_id").select2({
      theme: "bootstrap"
    });
     $("#accounting_module_entry_form_debit_account_id").select2({
      theme: "bootstrap"
    });
      $("#accounting_module_entry_form_entry_type").select2({
      theme: "bootstrap"
    });
  });
</script>