<div class="tab-pane <%= 'active' if current_page?(store_front_module_customer_path(@customer)) %>">
  <small class="text-muted"> TOTAL PURCHASES (<%= Time.zone.now.year %>) </small>
        <h4><%= number_to_currency @customer.total_purchases(from_date: Time.zone.now.beginning_of_year, to_date: Time.zone.now.end_of_year) %></h4>
        <hr />
  <small class="text-muted"> SAVINGS </small>
        <h4><%= number_to_currency @customer.total_savings %></h4>
        <hr />
        <small class="text-muted"> SHARE CAPITAL </small>
        <h4><%= number_to_currency @customer.total_share_capitals %></h4>
        <hr />
        <small class="text-muted"> ACCOUNTS RECEIVABLE (STORE) </small>
        <h4><%= number_to_currency @customer.account_receivable_store_balance %></h4>
        <%= link_to "New Credit Sales", new_store_front_module_customer_credit_sales_order_line_item_path(@customer), class: "btn btn-warning" %>
        <hr />
</div>
