<div class="tab-pane <%= 'active' if current_page?(store_front_module_customer_path(@customer)) %>">

        <center><span class="text-muted text-center"><%= @customer.current_occupation %> &nbsp; </span> </center>
        <hr>
        <strong><i class="fa fa-phone margin-r-5"></i> Contact Number</strong>
        <p class="text-muted"><%= @customer.contact_number %></p>
        <hr>
        <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
        <p class="text-muted"><%= @customer.current_address %></p>
        <hr>
        <strong><i class="fa fa-book margin-r-5"></i> TIN Number</strong>
        <p class="text-muted"><%= @customer.tin_number %></p>
        <hr>
        <strong><i class="fa fa-book margin-r-5"></i> Membership Type</strong>
        <p class="text-muted"><%#= @customer.membership_type_for(current_user.cooperative) %></p>
        <hr>
        <strong><i class="fa fa-map-marker margin-r-5"></i> Date of Birth</strong>
        <p class="text-muted"><%= @customer.date_of_birth.try(:strftime, "%B %e, %Y") %></p>
        <p class="text-muted"> Age <%= @customer.age %> Years</p>
        <hr>
        <strong><i class="fa fa-book margin-r-5"></i> Office</strong>
        <p class="text-muted"><%= @customer.office_name %></p>
        <hr />
  <small class="text-muted"> TOTAL PURCHASES (<%= Time.zone.now.year %>) </small>
        <h4><%= number_to_currency @customer.total_purchases(from_date: Time.zone.now.beginning_of_year, to_date: Time.zone.now.end_of_year) %></h4>
        <hr />
  <small class="text-muted"> SAVINGS </small>
        <h4><%= number_to_currency @customer.total_savings %></h4>
        <hr />
        <small class="text-muted"> SHARE CAPITAL </small>
        <h4><%= number_to_currency @customer.total_share_capitals %></h4>
        <hr />
        <small class="text-muted"> ACCOUNTS RECEIVABLE (STORE) </small>
        <h4><%= number_to_currency @customer.account_receivable_store_balance %></h4>
        <%= link_to "New Credit Sales", new_store_front_module_customer_credit_sales_line_item_path(@customer), class: "btn btn-warning" %>
        <hr />
</div>
