<% breadcrumb :savings_account_balance_transfer, @origin_saving %>
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <%= render "savings_accounts/shared/savings_info_header", savings_account: @origin_saving %>
      </div>
      <div class="card-body">
        <%= render "savings_accounts/shared/savings_info_body", savings_account: @origin_saving %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title"> Balance Transfer </h3>
        <p class="no-margin-bottom">Please select savings account where you want to tranfer balance to.</p>
      </div>
      <div class="card-body">
        <%=form_tag new_savings_account_balance_transfer_destination_account_path, method: :get do %>
          <div class="input-group">
            <%= hidden_field_tag :origin_saving_id, @origin_saving.id %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name, Last Name ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
        <% @savings_accounts.each do |savings_account| %>
          <% if params[:search].present? %>
            <div class="row">
              <div class="col-md-2">
                <%= image_tag(savings_account.avatar, class: "img-circle", height: 45, width: 45) %>
              </div>
              <div class="col-md-8">
                <%= savings_account.depositor_name %><br>
                <%= number_to_currency savings_account.balance %>
              </div>
              <div class="col-md-2">
                <%= simple_form_for @destination_saving, url: :savings_account_balance_transfer_destination_accounts do |f| %>
                  <%= f.input :destination_saving_id, input_html: { value: savings_account.id }, as: :hidden %>
                  <%= f.submit "Select", id: "#{savings_account.id}-select-destination-account", class: "btn btn-outline-danger float-right", data: { disable_with: "Processing..." } %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
