<% content_for(:html_title) { "#{@time_deposit.depositor_name} | New Term Extension" } %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> New Term Extension Details </h3>
        <center>
          <%= image_tag(@time_deposit.depositor.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %>
          <h3><%= @time_deposit.depositor_name %></h3>
        </center>
      </div>
      <div class="card-body">
        Maturity Date: <%= @time_deposit.current_term.maturity_date.strftime("%B %e, %Y") %>
<%= simple_form_for [@time_deposit, @renewal], url: :time_deposit_term_extensions do |f| %>
  <%= f.error_notification %>
  <%= f.input :time_deposit_id, input_html: { value: @time_deposit.id }, as: :hidden %>
  <%= f.input :member_id, input_html: { value: @time_deposit.depositor.id }, as: :hidden %>
  <%= f.input :renewal_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :term %>
  <div class="box-footer">
    <%= f.submit "Save Term Extension", class: "btn btn-primary pull-right", data: { disable_with: "Processing..."} %>
  </div>
<% end %>
