<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title">Balance Sheet</h3>
      </div>
      <div class="box-body">

    <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      <%= label_tag :date, nil, class: 'sr-only'%>
      <%= text_field_tag :date, @to_date, :class => 'datepicker form-control' %>
      </div>
      <button type="submit" class="btn btn-default">Get Report</button>
    <% end %>
  </center>

  <div claas="box-footer">
  <%= render 'account', :name => "Assets", :accounts => @assets %>
  <%= render 'account', :name => "Liabilities", :accounts => @liabilities %>
  <%= render 'account', :name => "Equity", :accounts => @equity %>
</div>
