<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="title-up"> Utility Bill Details </h4>
            <center>
              <%=image_tag("electricity.png") %>
            </center>
            <br>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Amount </span>
              </div>
              <div class="col-md-7">
                <%= number_to_currency @utility_bill.amount %>
              </div>
            </div>
             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Payee </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.payee_name %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Merchant </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.merchant_name %>
              </div>
            </div>

            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Description </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.description %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Reference Number </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.reference_number %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Bill Category </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.utility_bill_category_title %>
              </div>
            </div>

             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Due Date </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.due_date.strftime("%B %e, %Y") %>
                <span class="badge badge-warning"><%= @utility_bill.remaining_days %> days from now </span>
              </div>
            </div>
            
            
            <hr>
          <%= simple_form_for @payment, url: :banking_agent_module_utility_bill_payments do |f| %>
            <%= f.input :amount %>
            <%= f.input :reference_number %>
            <%= f.input :description %>
            <%= f.input :utility_bill_id,        input_html: { value: @utility_bill.id }, as: :hidden %>
            <%= f.input :banking_agent_id, input_html: { value: current_banking_agent.id }, as: :hidden %>
            <%= f.input :cart_id,          input_html: { value: current_banking_agent_cart.id }, as: :hidden %>
            <%= f.input :account_number,   input_html: { value: SecureRandom.uuid }, as: :hidden %>
            <%= f.submit "Proceed", class: "btn btn-primary float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>