<%= render 'store_front_module/suppliers/partials/header', supplier: @supplier %>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <nav class="nav flex-column nav-pills">
          <li class="nav-item"><%= link_to 'Info', store_front_module_supplier_path(@supplier), class: "nav-link #{ 'active' if current_page?(store_front_module_supplier_path(@supplier)) }" %></li>
          <li class="nav-item"><%= link_to 'Purchases', store_front_module_supplier_purchase_deliveries_path(@supplier), class: "nav-link #{ 'active' if current_page?(store_front_module_supplier_purchase_deliveries_path(@supplier)) }" %></li>
          <li class="nav-item"><%= link_to 'Vouchers', store_front_module_supplier_vouchers_path(@supplier), class: "nav-link #{'active' if current_page?(store_front_module_supplier_vouchers_path(@supplier)) }" %></li>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-9">
        <% if current_page?(store_front_module_supplier_path(@supplier)) %>
          <%=render 'store_front_module/suppliers/partials/supplier_info' %>
        <% end %>
         <% if current_page?(store_front_module_supplier_vouchers_path(@supplier)) %>
          <%=render 'store_front_module/suppliers/partials/vouchers' %>
        <% end %>
          <% if current_page?(store_front_module_supplier_purchase_deliveries_path(@supplier)) %>
            <%= render 'store_front_module/suppliers/partials/purchases'%>
          <% end %>
      </div>
    </div>
  </div>
</div>
