<h4>Loans per Barangay</h4>

<% barangay_current_loans_data = [] %>
<% Addresses::Barangay.all.each do |barangay| %>
  <% barangay_current_loans_data << { barangay.name => barangay.loans.current_loans.count } %>
<% end %>
<% barangay_past_loans_data = [] %>
<% Addresses::Barangay.all.each do |barangay| %>
  <% barangay_past_loans_data << { barangay.name => barangay.loans.past_due.count } %>
<% end %>
<%= bar_chart [
  {name: "Current Loans", data: (Hash[*barangay_current_loans_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
  {name: "Past Due", data: (Hash[*barangay_past_loans_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
], width: "900px", height: "1000px" %>
<hr>
<div class="table table-responsive">
  <table class="table table=striped table-hover">
    <thead>
      <tr>
        <th>Barangay</th>
        <th> Loans Count </th>
        <th>Loans Disbursed</th>
        <th>Payments</th>
        <th>Balance</th>
        <th>Collection Efficiency Rate</th>
      </tr>
    </thead>
    <tbody>
      <% Addresses::Barangay.all.each do |barangay| %>
        <tr>
          <td><%=link_to barangay.name, barangay_path(barangay) %></td>
          <td><%= barangay.loans.disbursed.distinct.count %> </td>
          <td><%= number_to_currency barangay.loans.disbursed.distinct.total_debits_balance %></td>
          <td><%= number_to_currency barangay.loans.disbursed.distinct.total_credits_balance %></td>
          <td><%= number_to_currency barangay.loans.disbursed.distinct.total_balance %></td>
          <td><%= number_to_currency((barangay.loans.disbursed.distinct.total_credits_balance / barangay.loans.disbursed.distinct.total_debits_balance) * 100.0, unit: "") %> %</td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>
