<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@member.avatar, height: 60, width: 60, class: "img-circle") %>
          <h3 class="box-title"><%= @member.name %></h3>
        </center>
      </div>
      <div class="card-body">
        <%= simple_form_for [@member, @time_deposit], url: :member_time_deposits, html: {autocomplete: "off"} do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :reference_number %>
          <%= f.input :term, label: "Term (in months)" %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :depositor_id, input_html: { value: @member.id }, as: :hidden %>
          <%= f.input :time_deposit_product_id, collection: CoopServicesModule::TimeDepositProduct.all.map{|a| [a.amount_range_and_days, a.id] }, as: :radio_buttons %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.submit "Save Time Deposit", class: "btn btn-primary float-right", data: { disable_with: "Processing..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
