<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
<%= simple_form_for [@member, @time_deposit], url: :member_time_deposits do |f| %>
  <%= f.error_notification %>
  <%= f.input :member_id, input_html: { value: @member.id }, as: :hidden %>
  <%= f.input :date_deposited, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :or_number %>
  <%= f.input :amount %>
  <%= f.input :number_of_days, label: "No. of Days Deposited:" %>
  <%= f.input :recorder_id, input_html: { value: current_user.id } %>
  <%= f.input :account_number, input_html: { value: AccountNumberGenerator.generate_account_number(@time_deposit) } %>
  <div class="box-footer">
    <%= f.submit "Save Time Deposit", class: "btn btn-primary btn-flat pull-right" %>
  </div>
<% end %>
