<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header">
        <center>
          <%= image_tag(@membership.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %>
          <h4><%= @membership.name %></h4>
        </center>
      </div>
      <div class="box-body">
        <% @membership.voucher_amounts.each do |amount| %>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <%= amount.description %>
            </div>
            <div class="col-md-5">
              <span class="pull-right">
                <%= number_to_currency amount.amount %>
              </span>
            </div>
          </div>
          <br />
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h4><b>TOTAL</b></h4>
          </div>
          <div class="col-md-5">
            <h4><span class="pull-right"><b><%= number_to_currency @membership.voucher_amounts.total %></b></span></h4>
          </div>
        </div>
        <hr>
        <%= simple_form_for @entry, url: :membership_application_payments do |f| %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y %I:%M")} %>
              <%= f.input :description, as: :text, input_html: { value: "Payment of membership fee, share capital and MAS Contribution"} %>
              <%= f.input :reference_number %>
              <%= f.input :membership_id, input_html: { value: @membership.id }, as: :hidden %>
              <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
              <div class="box-footer">
                <%= f.submit "Save Payment", class: "btn btn-primary"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
