<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Loan Protection Plan Provider Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @net_income_distribution, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_settings_net_income_distributions do |f| %>

  <div class="modal-body">
    <%= f.input :description %>
    <%= f.error_notification %>
    <%= f.input :account_id, collection: current_cooperative.accounts.active.map{|a| [a.name, a.id] } %>
    <%= f.input :rate %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Details", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#net_income_distribution_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
