<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> <%= report.title %></h3>
      <span class="text-muted"> As of <%= @to_date.strftime('%B %e, %Y') %></span>
      <%= form_tag({:action => 'show'}, {:method => :get, :class => 'form-inline'}) do%>
        <div class="form-group">
        <%= label_tag :to_date, nil, class: 'sr-only'%>
        <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
      <% end %>
      <% assets_total = 0  %>
      <% liabilities_total = 0 %>
      <% equities_total = 0 %>


      <% report.account_categories.asset.each do |category| %>
        <% category_total  = 0 %>
        <div class="row min-margin">
                  <div class="col-md-5">
                    <b><%= category.title.upcase %></b>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
                <% category.accounts.each do |account| %>
                <% assets_total += account.balance(to_date: @to_date) %>
                <% category_total += account.balance(to_date: @to_date) %>

                 <div class="row">
        <div class="col-md-5">
          &nbsp; &nbsp; <%= account.name %>
      </div>
      <div class="col-md-3">
        <span class="float-right">
          <%= number_to_currency account.balance(to_date: @to_date) %>
          </span>
        </div>
      </div>
      <% end %>
          <% category.sub_categories.each do |sub_category| %>
            &nbsp; &nbsp; <%= sub_category.title %><br>
              <% sub_category_sub = 0 %>
              <% sub_category.accounts.each do |account| %>
                <% sub_category_sub += account.balance(to_date: @to_date) %>
                <% category_total += account.balance(to_date: @to_date) %>
                <% assets_total += account.balance(to_date: @to_date) %>



                <div class="row min-margin">
                  <div class="col-md-5">
                    &nbsp; &nbsp;  &nbsp; &nbsp; <%= account.name %>
                  </div>
                  <div class="col-md-3">
                    <span class="float-right"><%= number_to_currency account.balance(to_date: @to_date) %></span>
                  </div>
                </div>
               <% end %>

            <% sub_category.sub_categories.each do |sub1_category| %>
              <% sub1_total = 0 %>
               &nbsp; &nbsp;  &nbsp; &nbsp; <%= sub1_category.title %>
                <% sub1_category.accounts.each do |sub_account| %>
                <% sub_category_sub += sub_account.balance(to_date: @to_date) %>
                <% category_total += sub_account.balance(to_date: @to_date) %>
                <% sub1_total += sub_account.balance(to_date: @to_date) %>
                <% assets_total += sub_account.balance(to_date: @to_date) %>


              <div class="row min-margin">
                <div class="col-md-5">
                  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <%= sub_account.name %>
                </div>
                <div class="col-md-3">
                  <span class="float-right"><%= number_to_currency sub_account.balance(to_date: @to_date) %></span>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="row min-margin">
                <div class="col-md-5">
                  &nbsp; &nbsp;  &nbsp; &nbsp; Total <%= sub1_category.title %>
                </div>
                <div class="col-md-3">
                  <span class="float-right"><%= number_to_currency sub1_total %></span>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="row min-margin">
              <div class="col-md-5">
                &nbsp; &nbsp;  Total <%= sub_category.title %>
              </div>
               <div class="col-md-3">
                <span class="float-right">
                  <%= number_to_currency sub_category_sub %>
                </span>
              </div>
            </div>
          <% end %>
          <hr>
          <div class="row min-margin">
            <div class="col-md-5">
              &nbsp; &nbsp; <b> TOTAL <%= category.title.upcase %></b>
            </div>
             <div class="col-md-3">
              <span class="float-right">
                <b><%= number_to_currency category_total %></b>
              </span>
            </div>
          </div>
          <hr>
        <% end %>

        <% report.account_categories.liability.each do |category| %>
          <% category_total  = 0 %>
          <div class="row min-margin">
                    <div class="col-md-5">
                      <b><%= category.title.upcase %></b>
                    </div>
                    <div class="col-md-3">

                    </div>
                  </div>
                  <% category.accounts.each do |account| %>
                  <% liabilities_total += account.balance(to_date: @to_date) %>
                  <% category_total += account.balance(to_date: @to_date) %>

                   <div class="row">
          <div class="col-md-5">
            &nbsp; &nbsp; <%= account.name %>
        </div>
        <div class="col-md-3">
          <span class="float-right">
            <%= number_to_currency account.balance(to_date: @to_date) %>
            </span>
          </div>
        </div>
        <% end %>
            <% category.sub_categories.each do |sub_category| %>
              &nbsp; &nbsp; <%= sub_category.title %><br>
                <% sub_category_sub = 0 %>
                <% sub_category.accounts.each do |account| %>
                  <% sub_category_sub += account.balance(to_date: @to_date) %>
                  <% category_total += account.balance(to_date: @to_date) %>
                  <% liabilities_total += account.balance(to_date: @to_date) %>



                  <div class="row min-margin">
                    <div class="col-md-5">
                      &nbsp; &nbsp;  &nbsp; &nbsp; <%= account.name %>
                    </div>
                    <div class="col-md-3">
                      <span class="float-right"><%= number_to_currency account.balance(to_date: @to_date) %></span>
                    </div>
                  </div>
                 <% end %>

              <% sub_category.sub_categories.each do |sub1_category| %>
                <% sub1_total = 0 %>
                 &nbsp; &nbsp;  &nbsp; &nbsp; <%= sub1_category.title %>
                  <% sub1_category.accounts.each do |sub_account| %>
                  <% sub_category_sub += sub_account.balance(to_date: @to_date) %>
                  <% category_total += sub_account.balance(to_date: @to_date) %>
                  <% sub1_total += sub_account.balance(to_date: @to_date) %>
                  <% liabilities_total += sub_account.balance(to_date: @to_date) %>


                <div class="row min-margin">
                  <div class="col-md-5">
                    &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <%= sub_account.name %>
                  </div>
                  <div class="col-md-3">
                    <span class="float-right"><%= number_to_currency sub_account.balance(to_date: @to_date) %></span>
                  </div>
                </div>
              <% end %>
              <hr>
              <div class="row min-margin">
                  <div class="col-md-5">
                    &nbsp; &nbsp;  &nbsp; &nbsp; Total <%= sub1_category.title %>
                  </div>
                  <div class="col-md-3">
                    <span class="float-right"><%= number_to_currency sub1_total %></span>
                  </div>
                </div>
              <% end %>
              <hr>
              <div class="row min-margin">
                <div class="col-md-5">
                  &nbsp; &nbsp;  Total <%= sub_category.title %>
                </div>
                 <div class="col-md-3">
                  <span class="float-right">
                    <%= number_to_currency sub_category_sub %>
                  </span>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="row min-margin">
              <div class="col-md-5">
                &nbsp; &nbsp; <b> TOTAL <%= category.title.upcase %></b>
              </div>
               <div class="col-md-3">
                <span class="float-right">
                  <b><%= number_to_currency category_total %></b>
                </span>
              </div>
            </div>
            <hr>
          <% end %>


          <% report.account_categories.equity.each do |category| %>
            <% category_total  = 0 %>
            <div class="row min-margin">
                      <div class="col-md-5">
                        <b><%= category.title.upcase %></b>
                      </div>
                      <div class="col-md-3">

                      </div>
                    </div>
                    <% category.accounts.each do |account| %>
                    <% equities_total += account.balance(to_date: @to_date) %>
                    <% category_total += account.balance(to_date: @to_date) %>

                     <div class="row">
            <div class="col-md-5">
              &nbsp; &nbsp; <%= account.name %>
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency account.balance(to_date: @to_date) %>
              </span>
            </div>
          </div>
          <% end %>
              <% category.sub_categories.each do |sub_category| %>
                &nbsp; &nbsp; <%= sub_category.title %><br>
                  <% sub_category_sub = 0 %>
                  <% sub_category.accounts.each do |account| %>
                    <% sub_category_sub += account.balance(to_date: @to_date) %>
                    <% category_total += account.balance(to_date: @to_date) %>
                    <% equities_total += account.balance(to_date: @to_date) %>



                    <div class="row min-margin">
                      <div class="col-md-5">
                        &nbsp; &nbsp;  &nbsp; &nbsp; <%= account.name %>
                      </div>
                      <div class="col-md-3">
                        <span class="float-right"><%= number_to_currency account.balance(to_date: @to_date) %></span>
                      </div>
                    </div>
                   <% end %>

                <% sub_category.sub_categories.each do |sub1_category| %>
                  <% sub1_total = 0 %>
                   &nbsp; &nbsp;  &nbsp; &nbsp; <%= sub1_category.title %>
                    <% sub1_category.accounts.each do |sub_account| %>
                    <% sub_category_sub += sub_account.balance(to_date: @to_date) %>
                    <% category_total += sub_account.balance(to_date: @to_date) %>
                    <% sub1_total += sub_account.balance(to_date: @to_date) %>
                    <% equities_total += sub_account.balance(to_date: @to_date) %>


                  <div class="row min-margin">
                    <div class="col-md-5">
                      &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <%= sub_account.name %>
                    </div>
                    <div class="col-md-3">
                      <span class="float-right"><%= number_to_currency sub_account.balance(to_date: @to_date) %></span>
                    </div>
                  </div>
                <% end %>
                <hr>
                <div class="row min-margin">
                    <div class="col-md-5">
                      &nbsp; &nbsp;  &nbsp; &nbsp; Total <%= sub1_category.title %>
                    </div>
                    <div class="col-md-3">
                      <span class="float-right"><%= number_to_currency sub1_total %></span>
                    </div>
                  </div>
                <% end %>
                <hr>
                <div class="row min-margin">
                  <div class="col-md-5">
                    &nbsp; &nbsp;  Total <%= sub_category.title %>
                  </div>
                   <div class="col-md-3">
                    <span class="float-right">
                      <%= number_to_currency sub_category_sub %>
                    </span>
                  </div>
                </div>
              <% end %>
              <hr>
              <div class="row min-margin">
                <div class="col-md-5">
                  &nbsp; &nbsp; <b> TOTAL <%= category.title.pluralize.upcase %></b>
                </div>
                 <div class="col-md-3">
                  <span class="float-right">
                    <b><%= number_to_currency category_total %></b>
                  </span>
                </div>
              </div>
              <hr>
              <div class="row min-margin">
                <div class="col-md-5">
                  &nbsp; &nbsp; <b> TOTAL LIABILITIES AND EQUITY</b>
                </div>
                 <div class="col-md-3">
                  <span class="float-right">
                    <b><%= number_to_currency liabilities_total + equities_total %></b>
                  </span>
                </div>
              </div>
            <% end %>
