<div class="row">
  <div class="box box-solid">
    <div class="box-header">
      <h3 class="box-title"> Budget Details </h3>
    </div>
    <div class="box-body">
      <%=form_tag new_management_module_account_budget_path, class: "sidebar-form", method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account Name", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
      <hr>
      <% @accounts.each do |account| %>
        <div class="row">
          <div class="col-md-4">
            <%= account.name %>
          </div>
          <%= simple_form_for @account_budget, url: :management_module_account_budgets do |f| %>
            <%= f.input :account_id, input_html: { value: account.id }, as: :hidden %>
            <div class="col-md-2">
              <%= f.input :year, label: false, placeholder: "Year" %>
            </div>
            <div class="col-md-4">
              <%= f.input :proposed_amount, label: false, placeholder: "Proposed Amount", as: :currency %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Set Budget", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <hr>
      <% end %>
      <center><%= will_paginate @accounts %></center>
