<div class="row">
  <div class="col-md-6 col-md-offset-">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit Cooperative Details </h3>
      </div>
      <div class="card-body">
        <%= image_tag(@cooperative.logo.url(:medium)) %>
        <%= simple_form_for @cooperative, url: :management_module_settings_cooperative do |f| %>
          <%= f.input :logo %>
          <%= f.input :name %>
          <%= f.input :abbreviated_name %>

          <%= f.input :registration_number %>
          <%= f.input :address %>
          <%= f.input :contact_number %>
          <div class="box-footer">
            <%= f.submit "Save Cooperative Details", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
