<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Cooperative Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @cooperative, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_settings_cooperative do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :abbreviated_name %>

    <%= f.input :registration_number %>
    <%= f.input :address %>
    <%= f.input :contact_number %>
    <%= f.input :operating_days, collection: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], include_blank: false , input_html: { multiple: true }, as: :check_boxes %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Cooperative Details", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>
