
<div class='row'>
  <div class='col-md-3'>
    <div class="card">
      <div class="card-header">
        <h4 class="subtitle-up">Filter By Date</h4>
      </div>
      <div class="card-body">
        <%= form_tag({:action => "index", controller: "/accounting_module/entries/cash_receipts"}, {:method => :get})  do %>
          <p class="no-margin-bottom">From</p>
          <div class="form-group">
            <%= text_field_tag :from_date, @from_date.present? ? @from_date.strftime("%B %e, %Y") : @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
          </div>
          <p class="no-margin-bottom">To</p>
          <div class="form-group">
            <%= text_field_tag :to_date, @to_date.present? ? @to_date.strftime("%B %e, %Y") : @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-block"> Generate</button>
          <br>
          <hr>
          <small class='text-muted'> EXPORT TO: </small><br>
          <% if params[:search].present? %>
            <%= link_to 'Excel', accounting_module_cash_receipts_path(format: 'csv', search: params[:search]), class: 'btn btn-outline-success float-left' %>
          <% else %>
            <%= link_to 'Excel', accounting_module_cash_receipts_path(format: 'csv', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-success float-left' %>
          <% end %>

                <% if params[:search].present? %>
                <%= link_to 'PDF', accounting_module_cash_receipts_path(format: 'pdf', search: params[:search]), class: 'btn btn-outline-success float-right' %>
                <% else %>
                  <%= link_to 'PDF', accounting_module_cash_receipts_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-success float-right' %>
                <% end %>

        <% end %>
      </div>
    </div>
    <div class='card'>
      <div class='card-body'>
        <h4 class='subtitle-up'> Filter By Accounts </h4>
         <% current_office.cash_accounts.each do |cash_account| %>
      <%= link_to cash_account.name,  accounting_module_account_reports_path(account_id: cash_account.id), class: "btn btn-sm btn-outline-primary" %>
    <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-9'>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-md-4'>
            <h4 class='subtitle-up'> Cash Receipts </h4>
          </div>
          <div class='col-md-6'>
            <%=form_tag accounting_module_cash_receipts_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Entry", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-secondary") do %>
                    <i class="fa fa-search"></i> Search
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <%= render 'accounting_module/entries/entries', entries: @entries %>
      </div>
    </div>
  </div>
</div>
