<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <%=link_to organization_path(@organization), title: "Back" do %>
          <span class="btn btn-default pull-left"><i class="fa fa-chevron-left"></i> Back </span>
        <% end %> &nbsp; &nbsp;
        <h3 class="box-title"><%= @organization.name %></h3>
      </div>
      <div class="box-body">
<% @members.each do |member| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag(member.avatar.url(:medium), class: "img-circle", height: 50, width: 50) %>
    </div>
    <div class="col-md-5">
      <b><%= member.name %></b><br>
      <small class="text-muted"><%= member.current_occupation.try(:upcase) %></small>
    </div>
    <div class="col-md-2">
      <%= simple_form_for [@organization, @member], url: :organization_members do |f| %>
        <%= f.input :organization_membership_id, input_html: { value: member.id }, as: :hidden %>
        <%= f.input :organization_membership_type, input_html: { value: member.class }, as: :hidden %>
        <% if @organization.organization_members.pluck(:organization_membership_id).exclude?(member.id) %>
                <%= button_tag(class: "btn btn-default btn-sm") do %>
                  <i class="icon-user-follow"></i> Add Member
                <% end %>
              <% else %>
                <%= button_tag(class: "btn btn-success btn-sm disabled")do %>
                  <i class="icon-user-following"></i> Member Added
                <% end %>

              <% end %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
<%=will_paginate @members %>
