  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <% if current_user.avatar.attachment.present? %>
        <%= image_tag(current_user.avatar) %>
      <% else %>
        <%= image_tag("default_avatar.png", class: "img-circle") %>
      <% end %>
    </div>
    <div class="info">
      <a href="#" class="d-block"><%= current_user.first_and_last_name %></a>
      <small><%= current_user.designation %></small>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <li class="nav-item">
        <a href="/loans_module" class="nav-link">
          <i class="nav-icon fa fa-home"></i>
          <p>
            Dashboard
          </p>
        </a>
      </li>
    </ul>
          <li class="header"> LOANS DEPARTMENT </li>
           <li class=<%= 'active' if current_page?(loans_module_index_path) %> ><a href="/loans_module"><i class="fa fa-home"></i> <span>Dashboard </span></a></li>
           <li class=<%= 'active' if current_page?(matured_loans_path) %> ><a href="/matured_loans"><i class="fa fa-eye"></i> <span>Loans Maturity </span></a></li>
          <li class=<%= 'active' if current_page?(loans_module_schedules_path) %> ><a href="/loans_module/schedules"><i class="fa fa-calendar"></i> <span> Amortization Schedules</span></a></li>


          <li class=<%= 'active' if current_page?(loans_module_index_path) %> ><a href="/loans_module/loan_products"><i class="fa fa-tag"></i> <span>Loan Products </span></a></li>
          <li class=<%= 'active' if current_page?(members_path) %> ><a href="/members"><i class="fa fa-users"></i> <span>Members</span></a></li>
          <li class=<%= 'active' if current_page?(loans_module_loans_path) %> ><a href="/loans"><i class="fa fa-credit-card"></i> <span> Loans</span></a></li>
          <li class=<%= 'active' if current_page?(organizations_path) %> ><a href="/organizations"><i class="fa fa-sitemap"></i> <span> Organizations</span></a></li>
          <li class=<%= 'active' if current_page?(loans_module_reports_path) %> ><a href="/loans_module/reports"><i class="fa fa-folder"></i> <span>  &nbsp;Reports</span></a></li>
          <li class="header"> MONITORING </li>
          <li class=<%= 'active' if current_page?(loans_module_monitoring_metrics_path) %> ><a href="/loans_module/monitoring/metrics"><i class="fa fa-circle"></i> <span> Loans Portfolio</span></a></li>
          <li class=<%= 'active' if current_page?(savings_accounts_dashboards_path) %> ><a href="/savings_accounts_dashboards"><i class="fa fa-circle"></i> <span> Savings Portfolio</span></a></li>
          <li class=<%= 'active' if current_page?(share_capitals_section_dashboards_path) %> ><a href="/share_capitals_section/dashboards"><i class="fa fa-circle"></i> <span> Share Capitals Portfolio</span></a></li>
          <li class=<%= 'active' if current_page?(cooperative_services_path) %> ><a href="/cooperative_services"><i class="fa fa-circle"></i> <span> Services Portfolio</span></a></li>



    </section>
    <!-- /.sidebar -->
  </aside>
