<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%=link_to(image_tag(current_user.avatar.url(:small), class: "img-circle", width: 40, height: 40), user_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%= current_user.first_name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role %></small></a>
        </div>
      </div>
      <!-- search form -->
      <%=form_tag loans_module_root_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> LOANS DEPARTMENT </li>
          <li><a href="/loans_module/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

          <li class=<%#= 'active' if current_page?(loans_module_loan_products_path) %> ><a href="/loans_module/loan_products"><i class="fa fa-pie-chart"></i> <span>Loan Products </span></a></li>
          <li class=<%#= 'active' if current_page?(loans_module_loan_products_path) %> ><a href="/loans_module/loan_applications/new"><i class="fa fa-calculator"></i> <span>New Loan</span></a></li>
          <li class=<%#= 'active' if current_page?(loans_module_loans_path) %> ><a href="/loans_module/loans"><i class="fa fa-credit-card"></i> <span> Loans</span></a></li>

          <li class=<%#= 'active' if current_page?(loans_module_members_path) %> ><a href="/loans_module/members"><i class="fa fa-users"></i> <span> Members</span></a></li>
          <li class=<%#= 'active' if current_page?(loans_module_members_path) %> ><a href="/loans_module/schedules"><i class="fa fa-calendar"></i> <span> Calendar</span></a></li>
          <li class=<%#= 'active' if current_page?(admin_settings_path) %> ><a href="/loans_module/settings"><i class="fa fa-cog"></i> <span> &nbsp; Settings</span></a></li>
          <li class=<%#= 'active' if current_page?(admin_settings_path) %> ><a href="/loans_module/aging_loans"><i class="fa fa-hourglass-end"></i> <span> Aging Loans</span></a></li>

    </section>
    <!-- /.sidebar -->
  </aside>
