<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> Loan Releases vs Loan Payments </h3>
      </div>
      <div class="box-body">
        <% disbursements_data = [] %>
        <% months = [] %>
              <% (DateTime.now.beginning_of_year..DateTime.now).each do |month| %>
               <% months << month.beginning_of_month %>
              <% end %>
              <% loan_releases_data = [] %>
              <% months.uniq.each do |month| %>
                <% loan_releases_data << { month.strftime("%B %Y") => LoansModule::LoanProduct.total_loan_releases(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
              <% end %>

              <% loan_payments_data = [] %>
              <% months.uniq.each do |month| %>
                <% loan_payments_data << { month.strftime("%B %Y") => LoansModule::LoanProduct.total_loan_payments(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
              <% end %>


           <%= line_chart [
      {name: "Loan Releases", data: (Hash[*loan_releases_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
      {name: "Loan Payments", data: (Hash[*loan_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
    ], thousands: "," %>
        <hr>
        <h4 class="box-title"> Loan Realeases (Actual vs Target Comparison) </h4>
        <div class="row">
          <div class="col-md-3">
            Loan Product
          </div>
          <div class="col-md-3">
            Target
          </div>
          <div class="col-md-3">
            Actual
          </div>
          <div class="col-md-3">
            Variance
          </div>
        </div>
        <% LoansModule::LoanProduct.current_accounts.each do |account| %>
          <div class="row">
            <div class="col-md-3">
              <%= account.name %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.account_budgets.current.try(:proposed_amount) %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.debits_balance(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.debits_balance(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) - account.account_budgets.current_proposed_amount %>
            </div>
          </div>
          <br>
        <% end %>

