<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Loans </h4>
        <div class="row">
          <div class="col-md-7">
            <p>Beginning Balance </p>
          </div>
          <div class="col-md-4">
            <span class="pull-right">
              <%= number_to_currency LoansModule::LoanProduct.total_balance(to_date: Date.today.yesterday) %>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <p class="text-success">&nbsp; &nbsp; <i class="fa fa-plus-circle"></i> Disbursements </p>
        </div>
        <div class="col-md-4">
          <span class="text-success pull-right"><%= number_to_currency LoansModule::LoanProduct.total_debits_balance(from_date: Date.today.beginning_of_day, to_date: Date.today.end_of_day) %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <p class="text-danger">&nbsp; &nbsp; <i class="fa fa-minus-circle"></i> Payments </p>
        </div>
        <div class="col-md-4">
          <span class="text-danger pull-right"><%= number_to_currency LoansModule::LoanProduct.total_credits_balance(from_date: Date.today.beginning_of_day, to_date: Date.today.end_of_day) %></span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <p><b>Ending Balance </b> </p>
        </div>
        <div class="col-md-4">
          <span class="pull-right"><b><%= number_to_currency LoansModule::LoanProduct.total_balance(to_date: Date.today.end_of_day) %></b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"> Matured Loans </h3><br>
      <span class="text-muted"> For this day <%= Date.today.strftime("%B %e, %Y") %></span>
    </div>
    <div class="card-body">
      <% LoansModule::Loan.past_due(from_date: Date.today, to_date: Date.today).first(10).each do |loan| %>
        <%= link_to loan_path(loan) do %>
          <div class="row">
            <div class="col-md-8">
              <b><%= loan.borrower_name %></b><br>
              <small><%= loan.loan_product_name.try(:upcase) %></small>
            </div>
            <div class="col-md-4">
              <%= number_to_currency loan.principal_balance %>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
      <center>
        <%= link_to 'View All', matured_loans_path(from_date: Date.today, to_date: Date.today), class: "btn btn-default" %>
      </center>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"> Loans that will mature next week </h3><br>
      <span class="text-muted"> From <%= Date.today.next_week.beginning_of_week.strftime("%B %e, %Y") %> - <%= Date.today.next_week.end_of_week.strftime("%B %e, %Y") %> </span>
    </div>
    <div class="card-body">
      <% LoansModule::Loan.past_due(from_date: Date.today.next_week.beginning_of_week, to_date: Date.today.next_week.end_of_week).first(10).each do |loan| %>
        <%= link_to loan_path(loan) do %>
          <div class="row">
            <div class="col-md-8">
              <b><%= loan.borrower_name %></b><br>
              <small><%= loan.loan_product_name.try(:upcase) %></small>
            </div>
            <div class="col-md-4">
              <%= number_to_currency loan.principal_balance %>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
      <center>
        <%= link_to 'View All', matured_loans_path(from_date: Date.today.next_week.beginning_of_week, to_date: Date.today.next_week.end_of_week), class: "btn btn-default" %>
      </center>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"> Loan Transactions Summary </h3><br>
      <span class="text-muted"> For this day <%= Date.today.strftime("%B %e, %Y") %></span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 border-right">
          <h3><%= LoansModule::Loan.disbursed(from_date: Date.today, to_date: Date.today).count %></h3>
          <small>LOAN RELEASES</small>
        </div>
        <div class="col-md-3 border-right">
          <h3><%= LoansModule::Loan.past_due(from_date: Date.today, to_date: Date.today).count %></h3>
          <small>MATURED</small>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Loan Releases vs Loan Payments </h3>
      </div>
      <div class="card-body">
        <% disbursements_data = [] %>
        <% months = [] %>
              <% (DateTime.now.beginning_of_year..DateTime.now).each do |month| %>
               <% months << month.beginning_of_month %>
              <% end %>
              <% loan_releases_data = [] %>
              <% months.uniq.each do |month| %>
                <% loan_releases_data << { month.strftime("%B %Y") => LoansModule::LoanProduct.total_loan_releases(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
              <% end %>

              <% loan_payments_data = [] %>
              <% months.uniq.each do |month| %>
                <% loan_payments_data << { month.strftime("%B %Y") => LoansModule::LoanProduct.total_loan_payments(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
              <% end %>


           <%= line_chart [
      {name: "Loan Releases", data: (Hash[*loan_releases_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
      {name: "Loan Payments", data: (Hash[*loan_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
    ], thousands: "," %>
        <hr>
        <h4 class="box-title"> Loan Realeases (Actual vs Target Comparison) </h4>
        <div class="row">
          <div class="col-md-3">
            Loan Product
          </div>
          <div class="col-md-3">
            Target
          </div>
          <div class="col-md-3">
            Actual
          </div>
          <div class="col-md-3">
            Variance
          </div>
        </div>
        <% LoansModule::LoanProduct.current_accounts.each do |account| %>
          <div class="row">
            <div class="col-md-3">
              <%= account.name %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.account_budgets.current.try(:proposed_amount) %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.debits_balance(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency account.debits_balance(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) - account.account_budgets.current_proposed_amount %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>

