<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">

      </div>
      <div class="box-body">
        <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(loans_module_monitoring_disbursements_path)%>"><%= link_to 'Disbursements', loans_module_monitoring_disbursements_path %></li>
        </ul>




<h4>Loans Status</h4>

<% loans_status_data = [] %>

    <% loans_status_data << { "Current" => LoansModule::Loan.current_loans.count.to_i } %>
    <% loans_status_data << { "Past Due" => LoansModule::Loan.matured.count.to_i } %>



  <%= pie_chart (Hash[*loans_status_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, legend: true, label: "Value" %>


<h4></h4>
<h4>LOANS</h4>
<%= LoansModule::Loan.count%>





<h4>Loan Product </h4>

<% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>



<% loans_maturity_balance_data = [] %>
<% months.uniq.each do |month| %>
  <% LoansModule::Loan.matured(from_date: month.beginning_of_month, to_date: month.end_of_month).map{|loan| loan.balance }.sum %>
  <% loans_maturity_balance_data << { month.strftime("%B") => LoansModule::Loan.matured(from_date: month.beginning_of_month, to_date: month.end_of_month).balance } %>
<% end %>
<%= bar_chart (Hash[*loans_maturity_balance_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, legend: true, label: "Value" %>


<%= line_chart [
  {name: "Loan Payments", data: (Hash[*loan_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
  {name: "Loan Disbursements", data: (Hash[*loan_disbursements_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
], width: "1000px", height: "400px", curve: false %>
