<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New Loan Product Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @loan_product, url: :loans_module_loan_product do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :description, as: :text %>
          <%= f.input :maximum_loanable_amount, label: "Maximum Loanable Amount", as: :currency %>

          <%= f.input :account_id, label: "Select Loan Account", collection: AccountingModule::Asset.all.map{|a| [a.name.titleize, a.id] }, input_html: { id: 'loanAccountSelect'} %>
          <%= f.input :interest_account_id, label: "Select Loan Interest Account", collection: AccountingModule::Asset.all.map{|a| [a.name.titleize, a.id] }, input_html: { id: 'loanInterestAccountSelect'} %>

           <%= f.input :penalty_account_id, label: "Select Loan Penalty Account", collection: AccountingModule::Asset.all.map{|a| [a.name.titleize, a.id] }, input_html: { id: 'loanPenaltyAccountSelect'} %>

            <%= f.input :interest_rate, label: "Interest Rate (Annual):", placeholder: 'e.g. 12' %>

          <div class="box-footer">
            <%= f.submit "Create Loan Product", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#loanAccountSelect").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#loanInterestAccountSelect").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#loanPenaltyAccountSelect").select2({
      theme: "bootstrap"
    });
  });
</script>
