<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
    <div class="box box-header">
      <h3 class="box-title"><%= @loan_product.name %></h3>
      <%= link_to "Add Charges", new_loans_module_loan_product_loan_product_charge_path(@loan_product) %>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-muted">LOAN CHARGES </p>
          <% @loan_product.charges.each do |charge| %>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <%= charge.name %><br>
                <%= charge.minimum_loan_amount %> -
                <%= charge.maximum_loan_amount %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency charge.amount %>
                <% if charge.percent_type? %>
                  <%= charge.percent %> %
                <% end %>
                <%= charge.depends_on_loan_amount? %>
              </div>
              <div class="col-md-2">

              </div>
            </div>
            <br />
          <% end %>
        </div>

