<%= render 'loans_module/loans/shared/borrower_avatar' %>
<%= render 'loans_module/loans/shared/loan_details' %>
<%= simple_form_for [@loan, @penalty_posting], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_penalty_postings do |f| %>
  <div class="modal-body">
    <h4 class="card-title">Penalty Posting Details</h4>
    <hr>
    <%= f.error_notification %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Date.today.strftime("%B %e, %Y") } %>
    <%= f.input :amount, input_html: { value: @loan.loan_penalty_computation }, as: :currency %>
    <%= f.input :description, input_html: { value: "Loan penalties from #{@loan.try(:maturity_date).try(:strftime, "%B %e, %Y")} to #{Date.today.strftime("%B %e, %Y")}"}, as: :text %>
    <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Post Penalty", class: "btn btn-danger pull-right" %>
  </div>
<% end %>
