<% breadcrumb :new_savings_account_application, @depositor %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <%= image_tag(@depositor.avatar, width: 45, height: 45, class: "img-circle") if @depositor.avatar.attached? %>
          </div>
          <div class="col-md-10 col-sm-10">
            <h3 class="card-title no-margin-bottom"> <%= @depositor.name %> </h3>
            <small class="text-muted">Borrower</small>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @savings_account_application, url: :savings_account_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :date, label: "Date Opened", as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :saving_product_id, collection: current_cooperative.saving_products.map{|a| [ a.name, a.id ] }, input_html: { class: 'chosen-select' } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, as: :text, input_html: { value: "Savings account opening."} %>
          <%= f.input :beneficiaries, label: "Beneficiaries", placeholder: "Fullname", as: :text %>
          <%= f.input :reference_number %>
          <%= f.input :cash_account_id, label: "Cash Account(Debit)", collection: current_cooperative.users.teller.last.cash_accounts.map{|a| [a.name, a.id] }, default: current_cooperative.users.teller.last.cash_accounts.first %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :depositor_id, input_html: { value: @depositor.id }, as: :hidden %>
          <%= f.input :depositor_type, input_html: { value: @depositor.class.to_s }, as: :hidden %>

          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#savings_account_application_processing_cash_account_id").select2({
      theme: "bootstrap"
    });

    $("#savings_account_application_processing_saving_product_id").select2({
      theme: "bootstrap"
    });

    $("#vouchers_voucher_processing_payee_id").select2({
      theme: "bootstrap"
    });

  });
</script>
