<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@depositor.avatar, class: "img-circle", height: 45, width: 45) %>
          </div>
          <div class="col-md-10">
            <h3 class="card-title"><%= @depositor.name %></h3>
            <% if @depositor.class.name == "Member" %>
              <i class="fa fa-map-marker"></i> <%= @depositor.current_address_complete_address %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @savings_account_application, url: :savings_account_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :saving_product_id, collection: current_cooperative.saving_products.map{ |a| [a.name, a.id] }, prompt: "Please Select" %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] }, prompt: "Please Select" %>
          <%= f.input :date, label: "Date Opened", as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :reference_number %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, as: :text %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :depositor_id, input_html: { value: @depositor.id }, as: :hidden %>
          <%= f.input :depositor_type, input_html: { value: @depositor.class.to_s }, as: :hidden %>
          <%= f.input :beneficiaries, label: "Beneficiary/ies", placeholder: "Fullname", as: :text %>

          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#savings_account_application_processing_cash_account_id").select2({
      theme: "bootstrap"
    });

    $("#savings_account_application_processing_saving_product_id").select2({
      theme: "bootstrap"
    });

    $("#vouchers_voucher_processing_payee_id").select2({
      theme: "bootstrap"
    });

  });
</script>
