
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <%= link_to portfolios_savings_path do %>
          <h4 class="title-up">Savings Accounts</h4>
          <div class="card-sub-title">Generate report on savings deposit balances of members.</div>
        <% end %>
      </div>
    </div>
    <hr>
    
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <%= link_to portfolios_share_capitals_path do %>
          <h4 class="title-up">Share Capitals</h4>
          <div class="card-sub-title">Generate report on share capital balances of members.</div>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="title-up">Time Deposits </h4>
        <div class="card-sub-title">Generate report on time deposit balances of members.</div>
      </div>
    </div>
    <hr>
    
    <label class="no-margin-bottom">As of</label>
    <%= form_tag({format: 'csv', :action => 'index', controller: "portfolios/time_deposits"}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
        <%= select_tag :time_deposit_product_id, options_for_select(current_office.time_deposit_products.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input' %>

      </div>
      <button type="submit" class="btn btn-outline-primary">Generate </button>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="title-up">Loans Portfolio</h4>
        <div class="card-sub-title">Generate report on loan balances of members.</div>
      </div>
    </div>
    <hr>
    <label class="no-margin-bottom">As of</label>
    <%= form_tag({format: 'csv', :action => 'index', controller: "portfolios/loans"}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
      </div>
      <div class="form-group">
        <%= select_tag :loan_product_id, options_for_select(current_office.loan_products.map {|m| [m.name, m.id]}, params[:loan_product_id]), class: ' form-control border-input', prompt: false %>
      </div>
     
      <button type="submit" class="btn btn-default">Get Report (Excel)</button>
    <% end %>
  </div>
</div>
