<div class="modal-header">
  <%= image_tag(@loan_application.avatar.variant(resize: '45x45'), class: "img-circle") if @loan_application.avatar.attached? %>
  <h4 class="modal-title card-title" id="mainModalLabel" style="margin-left: 10px">
    <%= @loan_application.borrower_name %>
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <h4 class="modal-title card-title">
    Charge Details
  </h4>
  <div class="row">
    <div class="col-md-7">
      <%= @voucher_amount.description %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency @voucher_amount.amount %>
    </div>
  </div>
</div>
<hr class="no-margin">
<%= simple_form_for [@voucher_amount, @adjustment], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_application_voucher_amount_adjustments do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :adjustment_type, collection: Vouchers::AmountAdjustment.adjustment_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
    <%= f.input :amount %>
    <%= f.input :rate %>
    <%= f.input :number_of_payments %>
    <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
    <%= f.input :voucher_amount_id, input_html: { value: @voucher_amount.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>
