<div class='container'>
  <div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-4'>
          <h3 class='title-up'>L1 Account Categories </h3>
        </div>
        <div class='col-md-4'>
           <%=form_tag accounting_module_level_one_account_categories_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Category", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
        </div>
        <div class='col-md-4'>
          <%= link_to 'New Category', new_accounting_module_level_one_account_category_path, class: 'btn btn-primary float-right' %>
        </div>
      </div>
      <div class='table table-responsive'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th> Code </th>
              <th> Title </th>
              <th> Type </th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= link_to category.code, accounting_module_level_one_account_category_path(category) %></td>
                <td><%= link_to category.title, accounting_module_level_one_account_category_path(category) %></td>
                <td><%= category.normalized_type %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%==pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>

  
