<div class="row">
        <div class="col-md-6">
          <p class="text-muted"> INTEREST </p>

          Rate <%= @loan_product.interest_config_rate %>

          <%=link_to 'Edit', edit_loans_module_interest_config_path(@loan_product.interest_config) %>
          <hr />
          <%= @loan_product.maximum_loanable_amount %>
          <p class="text-muted">LOAN CHARGES </p>
          <% @loan_product.charges.each do |charge| %>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <%= charge.name %><br>
                <%= charge.minimum_loan_amount %> -
                <%= charge.maximum_loan_amount %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency charge.amount %>
                <% if charge.percent_type? %>
                  <%= charge.percent %> %
                <% end %>

                <% if charge.depends_on_loan_amount? %>
                  <span class="text-muted"> Depends on Loan Amount </span>
                <% end %>
              </div>
              <div class="col-md-2">

              </div>
            </div>
            <br />
          <% end %>
        </div>

