<div class='container'>
  <div class='card'>
    <div class='card-body'>
<h4 class="card-title">Loan Payments</h4>
    <%= form_tag({:action => "index", controller: "loans_module/reports/loan_collections", format: 'csv'}, {:method => :get})  do %>
    <div class="row">
      <div class="col-md-3">
      <div class="form-group">
        <%= hidden_field_tag :loan_product_id, @loan_product.id %>
        <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-warning btn-sm"> Generate Report</button>
    </div>
  </div> 
<% end %>
<hr>
<h4 class='subtitle-up'> Portfolio at Risk Reports </h4>
<span class='text-muted'> Generate reports for your <%= @loan_product.name %> portfolios. </span><br><br>
<% @loan_aging_groups.order(start_num: :asc).each do |loan_aging_group| %>
  <div class='row min-margin'>
    <div class='col-md-7'>
      <%= loan_aging_group.title %>
    </div>
    <div class='col-md-5'>
      <%= link_to 'Export (Excel)', loans_module_loan_product_loan_aging_group_path(loan_aging_group_id: loan_aging_group.id, id: @loan_product.id, format: "csv", to_date: Date.current.last_year.end_of_year), class: "btn btn-secondary" %>
    </div>
  </div>
  <hr>
<% end %>