      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="row justify-content-end">
              <div class="col-md-11">
                <div class="row">
                  <div class="col-md-5">
                    <label>Bank</label>
                  </div>
                  <div class="col-md-6">
                    <b><%= @bank_account.bank_name.try(:upcase) %></b>
                  </div>
                </div>
                <hr class="min-margin">
                <div class="row">
                  <div class="col-md-5">
                    <label>Bank Address</label>
                  </div>
                  <div class="col-md-6">
                    <b><%= @bank_account.bank_address %></b>
                  </div>
                </div>
                <hr class="min-margin">
                <div class="row">
                  <div class="col-md-5">
                    <label>Account Number</label>
                  </div>
                  <div class="col-md-6">
                    <b><%= @bank_account.account_number %></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <hr class="min-margin set-visibility">
            <div class="row justify-content-end">
              <div class="col-md-7 col-sm-6 col-auto">
                <small>BALANCE</small>
                <h3><%= number_to_currency @bank_account.balance %></h3>
                <br>
                <%= link_to 'New Deposit', new_bank_account_deposit_path(@bank_account), class: "btn btn-success"%> &nbsp; &nbsp;
                <%= link_to 'New Withdraw', new_bank_account_withdrawal_path(@bank_account), class: "btn btn-danger" %>

              </div>
              <div class="col-md-4 col-sm-6 col-auto">
                <small class="text-muted">EARNED INTEREST</small><br>
                <small><%= number_to_currency @bank_account.earned_interests %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted">TRANSACTIONS HISTORY </p>
          </div>
          <div class="col-md-6">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Entry
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <%= link_to 'New Bank Charge', new_bank_account_bank_charge_path(@bank_account), class: 'dropdown-item' %>
                <%= link_to 'New Earned Interest', new_bank_account_bank_earned_interest_path(@bank_account), class: 'dropdown-item' %>
                <div role="separator" class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
        <% @entries.each do |entry| %>
          <%= render 'accounting_module/entries/partials/header', entry: entry %>
        <% end %>
      </div>
    </div>
  </div>
</div>
