<div class="tab-pane <%= 'active' if current_page?(accounting_module_account_entries_path(@account))%>">
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Employee</th>
          <th> Description </th>
          <th> Reference Number </th>
          <th> Amount </th>
          <th> Member </th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.entry_date.strftime("%B %e, %Y"), accounting_module_entry_path(entry) %></td>
            <td><%= image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35)%> <%= entry.recorder.try(:name)%> </td>
            <td><%= entry.description %></td>
            <td><%= entry.reference_number %></td>
            <td><%= number_to_currency entry.debit_amounts.distinct.sum(:amount) %></td>
            <td><%= entry.commercial_document.try(:name) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @entries %>
  </div>
</div>
