<%= link_to accounting_module_account_path(account) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <b><%= account.name %></b><br>

          <small class="text-muted">
            <i class="fa fa-clock"></i> Last Transaction <%= account.default_last_transaction_date.strftime("%B %e, %Y") %>
            <i class="fa fa-server"></i> <%= account.code %>
          </small>
          <span class="badge bg-gray"><%= account.normalized_type %></span>

          <% if !account.active? %>
            &nbsp; <span class="badge bg-danger"> Inactive </span>
          <% end %>
          <% if account.contra? %>
            <span class="badge bg-warning"> Contra </span>
          <% end %>
        </div>
        <div class="col-md-2">
          <small>DEBITS BALANCE </small><br>
          <%= number_to_currency account.debits_balance %>
        </div>
        <div class="col-md-2">
          <small>CREDITS BALANCE </small><br>
          <%= number_to_currency account.credits_balance %>
        </div>
        <div class="col-md-2">
          <small>BALANCE </small><br>
          <%= number_to_currency account.balance %>
        </div>
      </div>
    </div>
  </div>
<% end %>
