<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-6">
				<h4 class="card-title">Sub-Accounts</h4>
			</div>
			<div class="col-md-6">
				<%= link_to "Manage Sub-Accounts", new_accounting_module_account_main_sub_account_path(@account), class: 'btn btn-sm btn-primary float-right' %>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th colspan="3">Name</th>
					<th>Code</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% if @main_sub_accounts.present? %>
					<% @main_sub_accounts.each do |main_sub_account| %>
						<tr>
							<td colspan="3">
								<b><%= main_sub_account.name%></b> 
								<span class="badge bg-gray"><%= main_sub_account.normalized_type %></span>
			          <% if !main_sub_account.active? %>
			            &nbsp; <span class="badge bg-danger"> Inactive </span>
			          <% end %>
			          <% if main_sub_account.contra? %>
			            <span class="badge bg-warning"> Contra </span>
			          <% end %>
			        </td>
							<td><%= main_sub_account.code%></td>
			        <td></td>
						</tr>
						<% if AccountingModule::Account.main_sub_accounts_for(account: main_sub_account).present? %>
							<% AccountingModule::Account.main_sub_accounts_for(account: main_sub_account).each do |msub_account| %>
								<tr>
									<td style="width:30px"></td>
									<td colspan="2"><span class="fa fa-long-arrow-alt-right">&nbsp&nbsp&nbsp</span>
										<%= msub_account.name%>
										<span class="badge bg-gray"><%= msub_account.normalized_type %></span>
					          <% if !msub_account.active? %>
					            &nbsp; <span class="badge bg-danger"> Inactive </span>
					          <% end %>
					          <% if msub_account.contra? %>
					            <span class="badge bg-warning"> Contra </span>
					          <% end %>
									</td>
									<td><%= msub_account.code%></td>
									<td></td>
								</tr>
								<% AccountingModule::Account.sub_accounts_for(account: msub_account).each do |sub_account| %>
									<tr>
										<td style="width:30px"></td>
										<td style="width:30px"></td>
										<td><span class="">&nbsp&nbsp&nbsp</span>
											<%= sub_account.name%>
											<span class="badge bg-gray"><%= sub_account.normalized_type %></span>
						          <% if !sub_account.active? %>
						            &nbsp; <span class="badge bg-danger"> Inactive </span>
						          <% end %>
						          <% if sub_account.contra? %>
						            <span class="badge bg-warning"> Contra </span>
						          <% end %>
										</td>
										<td><%= sub_account.code%></td>
										<td></td>
									</tr>
								<% end if AccountingModule::Account.sub_accounts_for(account: msub_account).present? %>
							<% end %>
						<% else %>
							<% AccountingModule::Account.sub_accounts_for(account: main_sub_account).each do |sub_account| %>
								<tr>
									<td style="width:30px"></td>
									<td colspan="2">
										<span class="fa fa-long-arrow-alt-right">&nbsp&nbsp&nbsp</span>
										<%= sub_account.name%>
										<span class="badge bg-gray"><%= sub_account.normalized_type %></span>
					          <% if !sub_account.active? %>
					            &nbsp; <span class="badge bg-danger"> Inactive </span>
					          <% end %>
					          <% if sub_account.contra? %>
					            <span class="badge bg-warning"> Contra </span>
					          <% end %>
									</td>
									<td><%= sub_account.code%></td>
									<td></td>
								</tr>
							<% end %>
						<% end %>
					<% end %>
				<% else %>
					<% @sub_accounts.each do |sub_account| %>
						<tr>
							<td colspan="2">
								<b><%= sub_account.name%></b>
								<span class="badge bg-gray"><%= sub_account.normalized_type %></span>
			          <% if !sub_account.active? %>
			            &nbsp; <span class="badge bg-danger"> Inactive </span>
			          <% end %>
			          <% if sub_account.contra? %>
			            <span class="badge bg-warning"> Contra </span>
			          <% end %>
			        </td>
							<td><%= sub_account.code%></td>
			        <td></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>