<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%= render 'savings_accounts/partials/navbar_links' %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <%=form_tag savings_accounts_path, method: :get, class: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Savings Account ", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
    <% savings_accounts.each do |savings_account| %>
      <%= render 'savings_accounts/partials/header', savings_account: savings_account %>
    <% end %>
  </div>
</div>
