<% content_for(:html_title) { "#{@savings_account.depositor_name} | #{@savings_account.saving_product_name}" } %>
<%= render 'savings_accounts/partials/header', savings_account: @savings_account %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header no-border">
        <ul class="nav nav-tabs">
          <li class="nav-item"><%= link_to 'Details', savings_account_path(@savings_account), class: "text-sm-center nav-link #{'active' if current_page?(savings_account_path(@savings_account))}" %></li>
          <li class="nav-item"><%= link_to 'Settings', savings_account_settings_path(@savings_account), class: "text-sm-center nav-link #{'active' if current_page?(savings_account_settings_path(@savings_account))}" %></li>
        </ul>
      </div>
      <% if current_page? savings_account_path(@savings_account) %>
        <%= render 'savings_accounts/partials/info' %>
      <% end %>
      <% if current_page? savings_account_settings_path(@savings_account) %>
        <%= render 'savings_accounts/partials/settings' %>
      <% end %>
    </div>
  </div>
</div>
