<div class="row">
  <div class="card">
    <div class="card-header">
      <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
        <div class="form-group">
        <%= label_tag :to_date, nil, class: 'sr-only'%>
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
        </div>
        <button type="submit" class="btn btn-default">Get Report</button>
      <% end %>
      <% if @to_date.present? %>
        <%= link_to "View (Excel)", savings_accounts_reports_path(format: 'xlsx', to_date: @to_date), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <%= form_tag savings_accounts_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Depositor ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>Search Savings
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <% @savings_accounts.each do |savings_account| %>
      <%= render 'savings_accounts/partials/header', savings_account: savings_account, cached: true %>
    <% end %>
    <center><%= will_paginate @savings_accounts %> </center>
  </div>
</div>
