<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <div class="box-header with-border">
        
           <center><%= image_tag(@savings_account.depositor.avatar.url(:large), height: 90, width: 90, class: 'img-circle') %></center>
           
            <h3><center><%= @savings_account.depositor_name %></center></h3>
            <center><small><%= @savings_account.depositor_current_occupation %></small></center>
      </div>
     <div class="box-body">
        <div class="row">
          <div class="col-md-3 col-md-offset-1 border-right">
            <small class="text-muted">DEPOSITS </small>
            <h4><%= number_to_currency @savings_account.deposits %></h4>
            <%= link_to 'New Deposit', new_savings_account_deposit_path(@savings_account), class: "btn btn-success" %>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">WITHDRAWALS </small>
            <h4><%= number_to_currency @savings_account.withdrawals %></h4>
            <%= link_to 'New Withdrawal', new_savings_account_withdrawal_path(@savings_account), class: "btn btn-warning" %>
          </div>
          <div class="col-md-2 border-right">
            <small class="text-muted">EARNED INTERESTS</small>
            <h4><%= number_to_currency @savings_account.interests_earned %></h4>
          </div>
          <div class="col-md-3 border-right">
            <small class="condensed-text">BALANCE </small>
            <h3><i class="fa fa-circle text-green"></i> <%= number_to_currency @savings_account.balance %></h3>
          </div>
        </div>
         <hr>
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p class="text-muted">TRANSACTIONS HISTORY </p>
              <div class="table table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th> Date </th>
                      <th>Reference Number</th>
                      <th> Amount </th>
                      <th> Type </th>
                      <th> Employee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @savings_account.entries.each do |entry| %>
                      <tr>
                        <td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
                        <td><%= entry.reference_number %></td>
                        <td><%= number_to_currency entry.credit_amounts.sum(:amount) %></td>

                        <td><%= entry.entry_type %></td>
                        <td><% if entry.recorder %>
                          <%=image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35) %> &nbsp;
                          <%= entry.recorder_first_and_last_name %>
                          <% end %>
                         </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
