<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="col-md-6 border-right">
          <%=form_tag time_deposits_path, class: "sidebar-form", method: :get do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Depositor, Account Number", id: 'account-search-form' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            <br>
          <% @time_deposits.each do |time_deposit| %>
            <%= link_to time_deposit_path(time_deposit) do %>
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag(time_deposit.depositor.avatar.url(:thumb), class: "img-circle", height: 50, width: 50) %>
                </div>
                <div class="col-md-8">
                  <h4><%= number_to_currency time_deposit.amount_deposited %></h4>
                  <p><%= time_deposit.depositor_name.upcase %></p>
                  <% if time_deposit.current_term.present? %>
                  <span><i class="fa fa-calendar"> </i> Matures on: <%= time_deposit.current_term_maturity_date.strftime("%B %e, %Y") %></span>
                  <% end %><br>
                  <% if time_deposit.withdrawn? %>
                   <span class="text-danger"> Withdrawn last <%= time_deposit.withdrawal_date.strftime("%B %e, %Y") %></span>
                  <% end %>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</div>
