<%= render 'employees/shared/form_header' %>
<%= simple_form_for @employee, url: :employee_account, html: { autocomplete: "off", data: { modal: true } } do |f| %>
	<div class="modal-body">
		<h4 class="card-title">Account Details</h4>
		<hr>
		<%= f.input :email %>
	  <%= f.input :password  %>
    <%= f.input :password_confirmation %>
	</div>
	<div class="modal-footer">
	  <%= f.submit "Update", class: 'btn btn-danger float-right' %>
	</div>
<% end %>