<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-solid">
    <div class="box-body">
      <center><%=image_tag(@member.avatar.url(:medium), class: "img-circle", height: 120, width: 120) %></center>
      <h3 class="text-muted"><center><%= @member.first_and_last_name %></center></h3>
      <br>
      <p class="text-muted">Loan Application Details</p>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= simple_form_for [@member, @loan], url: :loans_department_member_loan_applications do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-md-5">
                <%= f.input :application_date, as: :string, input_html: { class: "datepicker" } %>
              </div>
            </div>
              <%= f.input :loan_product_id, input_html: {class: 'icheck-me', "data-skin" => 'square', "data-color" => "blue"}, collection: LoansDepartment::LoanProduct.all.map{ |a| [a.name.titleize, a.id] }, as: :radio_buttons %>
            <div class="row">
              <div class="col-md-5">
                <%= f.input :loan_amount %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <%= f.input :duration %>
              </div>
              <div class="col-md-2">
                <%= f.input :loan_term_duration, collection: LoansDepartment::Loan.loan_term_durations.keys.to_a.map{ |a| [a.titleize.pluralize, a] } %>
              </div>
            </div>
            <div class="box-footer">
              <%= f.submit "Save Loan Application", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
