<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header bg-gray">
          <div class="row">
            <div class="col-md-3">
              <center><%= image_tag(@loan.borrower.avatar.url(:medium), class: "img-circle", height: 80, width: 80) %></center>
            </div>
            <div class="col-md-8">
              <br>
              <h3 class="box-title"><%= @loan.borrower.first_and_last_name %></h3><br>
              <i class="fa fa-map-marker"></i> <%= @loan.borrower.try(:current_address) %>
            </div>
          </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
        <p class="text-purple">LOAN DETAILS </p>
        <div class="row">
          <div class="col-md-6">
            &nbsp; &nbsp; Loan Amount 
          </div>
          <div class="col-md-5">
            <%= number_to_currency @loan.loan_amount %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
              &nbsp; &nbsp; Date Applied
            </div>
            <div class="col-md-5">
              <%= @loan.application_date.strftime("%B %e, %Y") %>
            </div>
          </div>
        <br>
        <div class="row">
          <div class="col-md-6">
             &nbsp; &nbsp; Co Makers 
          </div>
          <div class="col-md-5">
            <% @loan.co_makers.each do |member| %>
              <%=image_tag(member.avatar.url(:medium), class: "img-circle", height: 40, width: 40) %>
            <% end %>
          </div>
        </div>
        <hr>
        <p class="text-purple">APPROVAL DETAILS </p>
        <%= simple_form_for [@loan, @approval], url: :loan_approvals do |f| %>
          <%= f.input :description, as: :text, placeholder: "Add remarks for this loan", label: "Remarks" %>
          <%= f.input :date_approved, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y")} %>
          <%= f.input :approver_id, input_html: {value: current_user.id }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Approve Loan", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>

