<% ledgers.each do |ledger, children| %>
  <% current_year_balance = ledger.running_balance(entry_date: @to_date.end_of_year) %>
  <% last_year_balance = ledger.running_balance(entry_date: @to_date.last_year.end_of_year) %>

<tr>
  <td class="<%= "pl-#{ledger.ancestors.size + 3}" if ledger.ancestors.present? %>"> <%= link_to ledger.name, accounting_module_ledger_path(ledger) %></td>
  <td> <span class="float-right <%= 'text-red' if last_year_balance.negative? %>"> <%= number_to_currency last_year_balance if children.blank? %></span></td>
  <td> <span class="float-right <%= 'text-red' if current_year_balance.negative? %>"> <%= number_to_currency current_year_balance if children.blank? %></span></td>

  <%= render 'ledgers', ledgers: children if children.present? %>

    <% if children.present? %>
    <td><b>Total <%= ledger.name %></td> 
    <td><span class="float-right"> <%= number_to_currency last_year_balance %></span></td>
    <td><span class="float-right"> <%= number_to_currency current_year_balance %></span></td>
    <% end %>
</tr>
<% end %>
