<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <%= @membership.full_name %>
        <hr>
        <p class="text-muted"> CONTRIBUTIONS</p>
        <% @membership.voucher_amounts.each do |voucher_amount| %>
          <div class="row">
            <div class="col-md-5">
              <%= voucher_amount.description %>
            </div>
            <div class="col-md-3">
              <span class="pull-right">
                <%= number_to_currency voucher_amount.amount %>
              </span>
            </div>
          </div>
          <br>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <h4>TOTAL</h4>
          </div>
          <div class="col-md-3">
            <h4><span class="pull-right"><%= number_to_currency @membership.voucher_amounts.total %></span></h4>
          </div>
        </div>
        <%= link_to 'Accept Payment', new_membership_application_payment_path(@membership), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
