<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Membership Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <%= render 'members/partials/form_header', member: @member %>
</div>
<hr class="no-margin">
<%= simple_form_for [@member, @membership], url: :member_membership do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :membership_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :membership_type, collection: Membership.membership_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Membership", class: "btn btn-primary float-right"%>
  </div>
<% end %>
