<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1">
        <% if loan.borrower.avatar.attachment.present? %>
          <%=image_tag(loan.borrower.avatar, height: 45, width: 45, class: "img-circle") %>
        <% end %>
      </div>
      <div class="col-md-5">
        <%= link_to loan_path(loan) do %>
        <b><%=  loan.borrower_name.try(:upcase) %></b><br>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <small class="text-muted"><i class="fa fa-tag"></i> <%= loan.loan_product_name %></small>
          </div>
          <div class="col-md-4">
            <small class="text-muted" data-toggle="tooltip" title="Disbursement Date">
              <i class="fa fa-calendar"></i> <%= loan.try(:disbursement_date).try(:strftime, "%B %e, %Y") %>
            </small>
          </div>
          <div class="col-md-4">
            <% if loan.forwarded_loan? %>
              <span class="badge bg-warning"> Forwarded Loan </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <% if !loan.forwarded_loan? %>
            <h4 class="card-title"><%=number_to_currency loan.loan_amount %></h4>
          <small class="text-muted">LOAN AMOUNT</small>
        <% end %>
      </div>
      <div class="col-md-3">
        <h4 class="card-title"><%= number_to_currency loan.principal_balance %></h4>
        <small class="text-muted">PRINCIPAL BALANCE</small><br>
      </div>
    </div>
  </div>
</div>
