<%= link_to loan_path(loan) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <% if loan.borrower.avatar.attachment.present? %>
            <%=image_tag(loan.borrower.avatar, height: 45, width: 45, class: "img-circle") %>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b><%=  loan.borrower_name.try(:upcase) %></b>
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <small class="text-muted" id="loanProductName"><i class="fa fa-tag"></i><%= loan.loan_product_name %></small>
              <br>
              <small class="text-muted" data-toggle="tooltip" title="Disbursement Date">
                <i class="fa fa-calendar"></i> <%= loan.try(:disbursement_date).try(:strftime, "%B %e, %Y") %>
              </small>
            </div>
            <div class="col-md-4 col-sm-4">
              <% if loan.forwarded_loan? %>
                <span class="badge bg-warning"> Forwarded Loan </span>
                <br>
              <% else %>
                <span class="text-muted" data-toggle="tooltip" title="Reference Number">
                  <%= "##{Voucher.find(loan.disbursement_voucher_id).try(:reference_number)}" %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <% if loan.loan_amount.present? && !loan.forwarded_loan? %>
                <h4 class="card-title"><%=number_to_currency loan.loan_amount %></h4>
                <small class="text-muted">LOAN AMOUNT</small>
              <% elsif loan.forwarded_loan? %>
                <h4 class="card-title"><%= number_to_currency loan.principal_debits_balance %></h4>
                <small class="text-muted"> FORWARDED BALANCE </small><br>
              <% end %>
            </div>
            <div class="col-md-6 col-sm-6">
              <h4 class="card-title"><%= number_to_currency loan.principal_balance %></h4>
              <small class="text-muted">PRINCIPAL BALANCE</small><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <% if loan.cancelled == true %>
                <span class="fa fa-exclamation text-danger" title="Please cancel these loan application." data-toggle="tooltip">Cancelled</span><br>
              <% end %>
              <small class="text-muted min-margin"><%= loan.try(:purpose) %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>