<div class="card">
              <div class="card-body">

                    <div class="row">
                      <div class="col-md-1">
                        <% if loan.borrower.avatar.attachment.present? %>
                          <%=image_tag(loan.borrower.avatar, height: 45, width: 45, class: "img-circle") %>
                        <% end %>
                      </div>
                      <div class="col-md-5">
                        <%= link_to loan_path(loan) do %>
                        <b><%=  loan.borrower_name.try(:upcase) %></b><br>
                        <% end %>

                        <div class="row">
                          <div class="col-md-4">
                            <small class="text-muted"><i class="fa fa-server"></i> <%= loan.loan_product_name %></small>
                          </div>
                          <div class="col-md-4">
                            <% if loan.forwarded_loan? %>
                              <span class="badge bg-warning"> Forwarded Loan </span>
                            <% end %>
                          </div>
                        </div>

                      </div>
                      <div class="col-md-2">
                        <b><%= number_to_currency loan.loan_amount %></b><br>
                        <small class="text-muted">LOAN AMOUNT</small>
                      </div>
                      <div class="col-md-2">
                        <span class="text-red"><%= number_to_currency loan.principal_balance %></span><br>
                        <small class="text-muted">PRINCIPAL BALANCE</small><br>
                      </div>
                      <div class="col-md-2">
                        <% if !loan.disbursed? && loan.disbursement_voucher_id.present? && current_user.cash_accounts.present? %>
                          <%= link_to 'Disburse Loan', loan_voucher_path(loan_id: loan.id, id: loan.disbursement_voucher_id), class: "btn btn-primary btn-sm" %>
                        <% end %>
                      </div>
                    </div>


              </div>
            </div>
