<% content_for(:html_title) { "#{@loan.borrower_name} | #{@loan.loan_product_name }" } %>
<div class="row">
  <div class="col-md-3 border-right">
    <center>
      <p><b><%= @loan.tracking_number %></b></p>
      <small>TRACKING #</small>
    </center>
  </div>
  <div class="col-md-3 border-right">
    <center>
      <%= @loan.last_transaction_date.try(:strftime, ("%B %e, %Y")) %><br>
      <small>LAST PAYMENT DATE</small>
    </center>
  </div>
  <div class="col-md-3">
    <% if @loan.is_past_due? %>
      <center>
        <h2><%= @loan.number_of_days_past_due %>
        </h2>
        <small> DAYS PAST DUE </small>
      </center>
    <% elsif @loan.current? %>
      <center>
        <h2><%= @loan.remaining_term %>
        </h2>
        <small> REMAINING TERM (DAYS) </small>
      </center>
    <% end %>
  </div>
</div>
<hr>
  <div class="row">
    <div class="col-md-3">
      <% if @loan.disbursed? %>
        <h4 class="card-title"><%= number_to_currency @loan.principal_balance %></h4>
      <% else %>
        <h4 class="card-title"><%= number_to_currency @loan.loan_amount %> </h4>
      <% end %>
      <small>PRINCIPAL BALANCE</small>
    </div>
    <div class="col-md-3">
      <h4 class="card-title"><%= number_to_currency @loan.loan_interests_balance %></h4>
      <small>INTERESTS</small>
    </div>
    <div class="col-md-3">
      <h4 class="card-title"><%= number_to_currency @loan.loan_penalties_balance %></h4>
      <small>PENALTIES</small>
    </div>
    <div class="col-md-3">
      <h4 class="card-title text-danger"><%= number_to_currency @loan.balance %></h4>
      <small>RECEIVABLES</small>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4 class="card-title">Loan Details </h4>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Borrower</b>
        </div>
        <div class="col-md-6">
          <% if @loan.borrower.kind_of?(Member) %>
            <b> <%=link_to @loan.borrower_name, member_path(@loan.borrower)%></b>
          <% elsif @loan.borrower.kind_of?(User) %>
            <b> <%=link_to @loan.borrower_name, employee_path(@loan.borrower)%></b>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b> Loan Type</b>
        </div>
        <div class="col-md-6">
          <span class="text-muted"> <%=@loan.loan_product_name.try(:upcase) %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Loan Amount</b>
        </div>
        <div class="col-md-6">
          <%=number_to_currency @loan.loan_amount %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Annual Interest Rate</b>
        </div>
        <div class="col-md-6">
          <%=  @loan.loan_product_interest_rate %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Mode of Payment</b>
        </div>
        <div class="col-md-6">
          <%=  @loan.mode_of_payment %>
        </div>
      </div>
      <% if @loan.disbursed? %>
        <p class="text-muted">LOAN TERM</p>
        <div class="row">
          <div class="col-md-6">
            &nbsp; &nbsp; <b>Disbursement Date</b>
          </div>
          <div class="col-md-6">
            <%=  @loan.disbursement_date.strftime("%B %e, %Y") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            &nbsp; &nbsp; <b> Maturity Date</b>
          </div>
          <div class="col-md-6">
            <% if @loan.disbursed? %>
              <%=  @loan.maturity_date.try(:strftime, ("%B %e, %Y")) %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Organization</b>
        </div>
        <div class="col-md-6">
          <%=  @loan.organization_name %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="card-title">Loan Charges</h4>
      <div class="row">
        <div class="col-md-6">
          &nbsp; &nbsp; <b>Loan Amount</b>
        </div>
        <div class="col-md-5">
          <span class="pull-right">
            <%= number_to_currency @loan.loan_amount %>
          </span>
        </div>
      </div>
      <p class="text-muted">LOAN CHARGES </p>
      <% @loan.loan_charges.each do |loan_charge| %>
        <div class="row">
          <div class="col-md-6">
            &nbsp; &nbsp; <%= loan_charge.charge.try(:name) %>
          </div>
          <div class="col-md-5">
            <span class="pull-right">
              <%= number_to_currency loan_charge.charge_amount_with_adjustment %>
            </span>
          </div>
        </div>
        <br>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h4 class="card-title">Net Proceed</h4>
        </div>
        <div class="col-md-5">
          <h4 class="card-title"><span class="pull-right"><%= number_to_currency @loan.net_proceed %></span></h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 border-right">
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title"> Loan Interest</h4>
      </div>
      <div class="col-md-5">
        <%=link_to 'New Interest', new_loans_module_loan_interest_posting_path(@loan), class: "btn btn-sm btn-outline-danger float-right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Total Interests
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.loan_interests.total %></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Interest Discounts
        <br>
        <%=link_to 'New Discount', new_loans_module_loan_loan_interest_discount_path(@loan), class: "btn btn-sm btn-outline-success" %>
      </div>
      <div class="col-md-5">
        <span class="pull-right"><%= number_to_currency @loan.loan_discounts.interest.total %></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Interest Payments
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.interest_payments %></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Interest Balance
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.loan_interests_balance %></span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title">Loan Penalty </h4>
      </div>
      <div class="col-md-5">
        <%=link_to 'New Penalty', new_loans_module_loan_penalty_posting_path(@loan), class: "btn btn-sm btn-outline-danger pull-right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Total Penalties
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.loan_penalties.total %></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Penalty Discounts <br>
        <br> <%=link_to 'New Discount', new_loans_module_loan_loan_penalty_discount_path(@loan), class: "btn btn-sm btn-outline-success" %>
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.loan_discounts.penalty.total %></span>
         <br><br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Penalty Payments
      </div>
      <div class="col-md-5">
        <span class="pull-right"> <%= number_to_currency @loan.penalty_payments %></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><b>Penalty Balance</b></p>
      </div>
      <div class="col-md-5">
        <span class="pull-right"><b> <%= number_to_currency @loan.loan_penalties_balance %></b></span>
      </div>
    </div>
  </div>
</div>







