<div class="tab-pane <%='active' if current_page?(loan_path(@loan))%>" id="loan-info">
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@loan.borrower.avatar.url(:medium), class: 'img-circle', height: 60, width: 60 ) %>    
          </div>
          <div class="col-md-6">
            <h3><%= @loan.borrower_name.try(:upcase) %></h3>
          </div>
        </div>
        <hr>
        <p class="text-purple">BALANCES </p>
        <div class="row">
          <div class="col-md-4">
            <%= @loan.loan_amount %>
          </div>

          <div class="col-md-4">
            <%= @loan.payments_total %>
          </div>
          <div class="col-md-4">
            <%= @loan.balance %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-5 border-right">
             <p class="text-purple">LOAN DETAILS </p>
            <div class="row">
              <div class="col-md-6">
                &nbsp; &nbsp;  Loan Product 
              </div>
              <div class="col-md-6">
                <span class="text-purple"> <%=@loan.loan_product_name.try(:upcase) %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                &nbsp; &nbsp; Loan Amount 
              </div>
              <div class="col-md-6">
                <%=number_to_currency @loan.loan_amount %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                &nbsp; &nbsp; Interest Rate
              </div>
              <div class="col-md-6">
                <%=  @loan.loan_product_interest_rate %>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-md-8">
                <p class="text-purple">CO MAKERS</p>
              </div>
              <div class="col-md-4">
                <%= link_to new_loan_loan_co_maker_path(@loan) do %>
                  <span class="btn btn-default pull-right"><i class="fa fa-user-plus"></i> Add </span>
                <% end %>
              </div>
            </div>
            <br>
            <% @loan.loan_co_makers.each do |loan_co_maker| %>
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag(loan_co_maker.co_maker.avatar.url(:thumb), class: "img-circle", height: 40, width: 40) %>
                </div>
                <div class="col-md-9">
                  <%=link_to loan_co_maker_path(loan_co_maker), method: :delete, title: "Remove" do %>
                    <span data-toggle="tooltip" data-placement="top" title="Remove"><i class="text-red fa fa-trash"></i>
                  <% end %> <%= loan_co_maker.co_maker.full_name.try(:titleize) %>
                  
                </div>
              </div>
              <br>
            <% end %>
          </div>
          <% if @loan.approved? %>
            <div class="col-md-6 border-right">
              <span class="text-purple"><i class="fa fa-calendar"></i> NEXT PAYMENT DUE </span>
              <h4> <%=Time.zone.now.strftime("%B %e, %Y") %></h4>
              <br>
              <small class="text-purple"><i class="fa fa-credit-card"> </i> PRINCIPAL PAID </small>
              <h4 class="text-green"> P 23213 </h4>
              <span class="pull-right"> of <%= @loan.loan_amount %></span>
              <div class="progress xs">
                <div class="progress-bar progress-bar-success" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              AMOUNT
            </div>
          <% end %>
        </div>
        <hr>
        <p class="text-purple"> APPROVAL DETAILS </p>
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <% User.loan_approvers.each do |employee| %>
                    <div class="row">
                      <div class="col-md-3">
                        &nbsp; &nbsp; <%=image_tag(employee.avatar.url(:medium), height: 40, width: 40, class: "img-circle") %>
                      </div>
                      <div class="col-md-7">
                        <strong><%=employee.first_and_last_name %></strong><br>
                        <small class="text-purple"><%= employee.role.titleize %></small><br>
                        <% if @loan.approvers.include?(employee) %>
                          Approved on
                          <%=@loan.loan_approvals.where(approver: employee).last.date_approved.strftime("%B %e, %Y") %>
                        <% end %>
                      </div>
                      <div class="col-md-2">
                        <% if !@loan.approvers.include?(employee) && current_user == employee %>
                          <%= link_to "Approve", new_loan_approval_path(@loan), class: "btn btn-success btn-xs" %>
                        <% end %>
                        
                      </div>
                    </div>
                    <br>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
          <span class="text-purple"> MATURITY DETAILS </span><br>
          <span class="badge bg-red"><%= @loan.number_of_days_past_due %> days </span> before maturity date 
          <hr>
          or
          <%= @loan.number_of_months_past_due %> months before maturity date 
          
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

   