<% breadcrumb :loan_details, @loan %>
<% content_for(:html_title) { "#{@loan.borrower_name} | #{@loan.loan_product_name }" } %>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h4 class="card-title number"><%= number_to_currency (@loan.forwarded_loan? ? @loan.principal_debits_balance : @loan.loan_amount) %> </h4>
        <small>PRINCIPAL</small>
      </div>
      <div class="col-md-3">
        <h4 class="card-title number"><%= number_to_currency @loan.loan_interests_balance %></h4>
        <small>INTERESTS</small>
      </div>
      <div class="col-md-3">
        <h4 class="card-title number"><%= number_to_currency @loan.loan_penalties_balance %></h4>
        <small>PENALTIES</small>
      </div>
      <div class="col-md-3">
        <h4 class="card-title text-danger number"><%= number_to_currency @loan.balance %></h4>

        <small class="text-danger">RECEIVABLES</small>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Loan Details </h4>
    <hr class="no-margin">
    <div class="row min-margin justify-content-end">
      <div class="col-md-11 col-sm-11">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <b>Borrower</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if @loan.borrower.kind_of?(Member) %>
              <b> <%=link_to @loan.borrower_name, member_path(@loan.borrower)%></b>
            <% elsif @loan.borrower.kind_of?(User) %>
              <b> <%=link_to @loan.borrower_name, employee_path(@loan.borrower)%></b>
            <% end %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b> Loan Type</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="text-muted"> <%=@loan.loan_product_name.try(:upcase) %></span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b>Loan Amount</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if @loan.forwarded_loan? %>
              <span class="badge bg-warning"> Forwarded Loan </span>
            <% else %>
              <%= number_to_currency @loan.loan_amount %>
            <% end %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b>Annual Interest Rate</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= (@loan.loan_product.current_interest_config_rate*100).to_f %>%
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b>Mode of Payment</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= @loan.mode_of_payment %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b>Purpose of Loan</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= sanitize @loan.purpose %>
          </div>
        </div>
        <% if @loan.disbursed? %>
          <p class="text-muted">LOAN TERM</p>
          <div class="row min-margin">
            <div class="col-md-4 col-sm-6">
              <b>Disbursement Date</b>
            </div>
            <div class="col-md-6 col-sm-6">
              <%= @loan.effectivity_date.strftime("%B %e, %Y") %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4 col-sm-6">
              <b> Maturity Date</b>
            </div>
            <div class="col-md-6 col-sm-6">
              <% if @loan.disbursed? %>
                <%=  @loan.maturity_date.try(:strftime, ("%B %e, %Y")) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="row min-margin">
          <div class="col-md-4 col-sm-6">
            <b>Organization</b>
          </div>
          <div class="col-md-6 col-sm-6">
            <%=  @loan.organization_name %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            <b> Co Makers </b>
          </div>
          <div class="col-md-6">
            <%= link_to new_loans_module_loan_co_maker_path(@loan) do %>
              <span class="btn btn-outline-warning btn-sm" data-toggle="tooltip" title="Add Co Maker"><i class="fa fa-user-plus"></i> Add </span>
            <% end %>
          </div>
        </div>
        <br>
      <% @loan.loan_co_makers.each do |co_maker| %>
        <div class="row min-margin">
          <div class="col-md-3 offset-md-1">
            <%= image_tag(co_maker.avatar, height: 45, width: 45, class: "img-circle") %>
          </div>
          <div class="col-md-6">
            <% if co_maker.co_maker_type == "Member" %>
              <%= link_to co_maker.name,  member_path(id: co_maker.co_maker_id) %>
            <% elsif co_maker.co_maker_type == "User" %>
              <%= link_to co_maker.name,  employee_path(id: co_maker.co_maker_id) %>
            <% else %>
              <%= co_maker.name %>
            <% end %>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <h4 class="card-title">Charge Details</h4>
    <hr class="min-margin">
    <div class="row min-margin justify-content-end">
      <div class="col-md-11 col-sm-11">
        <% if @loan.disbursed? %>
          <div class="row">
            <div class="col-md-3">
              Loan Amount
            </div>
            <div class="col-md-2">
              <span class="float-right">
                <%= number_to_currency @loan.loan_amount %>
              </span>
            </div>
          </div>
          <div class="min-margin"></div>
          <% if @loan.disbursement_voucher.present? %>
            <% @loan.disbursement_voucher.voucher_amounts.excluding_account(account: @loan.loan_product_current_account).excluding_account(account: current_cooperative.cash_accounts).each do |voucher_amount| %>
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <%= voucher_amount.description %>
                </div>
                <div class="col-md-2 col-sm-6">
                  <span class="float-right"><%= number_to_currency voucher_amount.amount %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @loan.disbursement_voucher.present? %>
          <hr class="min-margin">
          <div class="row">
            <div class="col-md-3">
              Net Proceed
            </div>
            <div class="col-md-2">
              <span class="float-right">
                <%= number_to_currency @loan.disbursement_voucher.voucher_amounts.for_account(account: current_cooperative.cash_accounts).total %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row min-margin">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title"> Loan Interest</h4>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <%= link_to 'View Details', loans_module_loan_interests_path(@loan) %>

      </div>
    </div>
    <hr class="no-margin">
    <div class="row min-margin justify-content-end">
      <div class="col-md-11 col-sm-11">
        <div class="row">
          <div class="col-md-3 col-sm-6">
          Total Interests
          </div>
          <div class="col-md-2 col-sm-6">
            <span class="float-right"><%= number_to_currency @loan.total_loan_interests %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
          Interest Discounts
          </div>
          <div class="col-md-2 col-sm-3">
            <span class="float-right"><%= number_to_currency @loan.total_interest_discounts %>
          </div>
          <div class="col-md-5 col-sm-3">
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
          Interest Payments
          </div>
          <div class="col-md-2 col-sm-6">
            <span class="float-right"><%= number_to_currency @loan.total_interest_payments %></span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
            <h6>Interest Balance</h6>
          </div>
          <div class="col-md-2 col-sm-6">
            <h6 class="float-right"><%= number_to_currency @loan.loan_interests_balance %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row min-margin">
      <div class="col-md-6 col-sm-6">
        <h4 class="card-title">Loan Penalty </h4>
      </div>
      <div class="col-md-5 col-sm-6">
        <%= link_to 'View Details', loans_module_loan_penalties_path(@loan) %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row min-margin justify-content-end">
      <div class="col-md-11 col-sm-11">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            Total Penalties
          </div>
          <div class="col-md-2 col-sm-6">
            <span class="float-right"><%= number_to_currency @loan.total_loan_penalties %></span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
            Penalty Discounts
          </div>
          <div class="col-md-2 col-sm-3">
            <span class="float-right"><%= number_to_currency @loan.total_penalty_discounts %></span>
          </div>

        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
            Penalty Payments
          </div>
          <div class="col-md-2 col-sm-6">
            <span class="float-right"><%= number_to_currency @loan.total_penalty_payments %></span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 col-sm-6">
            <h6>Penalty Balance</h6>
          </div>
          <div class="col-md-2 col-sm-6">
            <h6 class="float-right"><%= number_to_currency @loan.loan_penalties_balance %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
