<% content_for(:html_title) { "#{@loan.borrower_name} | #{@loan.loan_product_name }" } %>
<div class="tab-pane <%='active' if current_page?(loan_path(@loan))%>" id="loan-info">
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <small class="text-muted">PRINCIPAL</small>
            <h3><%= number_to_currency @loan.loan_amount %></h3>
          </div>
           <div class="col-md-2">
            <small class="text-muted">INTEREST RECEIVABLE</small>

            <h5><%= number_to_currency @loan.interest_receivable_debits_balance %></h5>
            <small> INTEREST PAID</small>
            <h5><%= number_to_currency @loan.interest_payments %></h5>
            <small> INTEREST BALANCE</small>
            <h5><%= number_to_currency @loan.interest_receivable_balance %></h5>

            <small class="text-muted">UNEARNED INTERESTS</small>
            <h5><%= number_to_currency @loan.unearned_interests %></h5>

            <%=link_to 'New Interest', new_loans_module_loan_interest_posting_path(@loan), class: "btn btn-xs btn-danger" %><br>
            <%=link_to 'New Rebate', new_loans_module_loan_interest_rebate_posting_path(@loan), class: "btn btn-xs btn-default" %><br>

          </div>
          <div class="col-md-2">
            <small class="text-muted">PENALTIES</small>
            <h5><%= number_to_currency @loan.penalties_debits_balance %></h5>
            <%=link_to 'New Penalty', new_loans_module_loan_penalty_posting_path(@loan), class: "btn btn-xs btn-danger" %><br>
          </div>
          <div class="col-md-2">
            <small class="text-muted">PAYMENTS</small>
            <h3><%= number_to_currency @loan.payments_total %></h3>
          </div>
          <div class="col-md-3">
            <small class="text-red">BALANCE</small>
            <h3 class="text-red"><%= number_to_currency @loan.balance %></h3>
          </div>
        </div>
        <hr />
        <div class="row">
                <h4 class="condensed-text">LOAN DETAILS </h4>
            <div class="row">
              <div class="col-md-6">
                Borrower
              </div>
              <div class="col-md-6">
                <%= image_tag(@loan.borrower.avatar.url(:medium), class: 'img-circle', height: 40, width: 40 ) %> &nbsp;
                <% if @loan.borrower.kind_of?(Member) %>
                  <b> <%=link_to @loan.borrower_name, member_path(@loan.borrower)%></b>
                <% elsif @loan.borrower.kind_of?(User) %>
                  <b> <%=link_to @loan.borrower_name, employee_path(@loan.borrower)%></b>
                <% end %>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Loan Type
              </div>
              <div class="col-md-6">
                <span class="text-muted"> <%=@loan.loan_product_name.try(:upcase) %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Loan Amount
              </div>
              <div class="col-md-6">
                <%=number_to_currency @loan.loan_amount %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Interest Rate
              </div>
              <div class="col-md-6">
                <%=  @loan.loan_product_interest_rate %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Mode of Payment
              </div>
              <div class="col-md-6">
                <%=  @loan.mode_of_payment %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Application Date
              </div>
              <div class="col-md-6">
                <%=  @loan.application_date.strftime("%B %e, %Y") %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                Maturity Date
              </div>
              <div class="col-md-6">
                <% if @loan.disbursed? %>
                  <%=  @loan.maturity_date.try(:strftime, ("%B %e, %Y")) %>
                <% end %>
              </div>
            </div>
            <br>
             <div class="row">
              <div class="col-md-6">
                Organization
              </div>
              <div class="col-md-6">
                <%=  @loan.organization_name %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8">
                <h4 class="condensed-text"> LOAN CO MAKERS </h4>
              </div>
              <div class="col-md-4">
                <%= link_to new_loan_loan_co_maker_path(@loan) do %>
                  <span class="btn btn-default pull-right"><i class="fa fa-user-plus"></i> Add / Remove</span>
                <% end %>
              </div>
            </div>
            <br>
            <% @loan.loan_co_makers.each do |loan_co_maker| %>
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag(loan_co_maker.co_maker.avatar.url(:thumb), class: "img-circle", height: 40, width: 40) %>
                </div>
                <div class="col-md-9">
                  <% if loan_co_maker.co_maker.kind_of?(Member) %>
                  <b><%=link_to loan_co_maker.co_maker.name.try(:titleize), member_path(loan_co_maker.co_maker) %></b>
                  <% elsif loan_co_maker.co_maker.kind_of?(User) %>
                    <b><%=link_to loan_co_maker.co_maker.name.try(:titleize), employee_path(loan_co_maker.co_maker) %></b>
                  <% end %>
                  <br>
                  <small class="text-muted"> <%= loan_co_maker.current_occupation.try(:titleize).try(:upcase) %></small>

                </div>
              </div>
              <br>
            <% end %>
            <hr>
          </div>
