
        <h4 class="title-up"> Notes </h4>
        <span class="text-muted"> Actions taken for this loan for monitoring purposes. </span>


        <%= link_to "Add Note", new_loan_note_path(@loan), class: 'btn btn-outline-primary float-right', data: {modal: true} %>

<% @notes.each do |note| %>
      <div class="row">
        <div class="col-md-1">
          <%=image_tag(note.noter.avatar, width: 45, height: 45, class: "img-circle") if note.noter.avatar.attached? %>
        </div>
        <div class="col-md-8">
          <p class="condensed-text"><%= note.title %></p>
          <span class="text-muted">
            <%= note.content %>
          </span>
          <br>
          <%= note.noter_name %> &nbsp; &nbsp;
          <%= note.date.strftime("%a, %b %e, %Y %-l:%M %p") %>
        </div>
      </div>

<% end %>
