<div class="row">
  <div class="col-md-8">
    <h4 class="box-title"> Notes </h4>
    <span class="text-muted"> Document actions taken for this loan for monitoring purposes. </span>
  </div>
  <div class="col-md-4">
    <%= link_to 'New Note', new_loan_note_path(@loan), class: "btn btn-primary pull-right" %>
  </div>
</div>
<hr>
<% @notes.each do |note| %>
  <div class="row">
    <div class="col-md-2">
      <%= note.date.strftime("%B %e, %Y %M:%I") %>
    </div>
    <div class="col-md-8">
      <b><%= note.title %></b><br>
      <span class="text-muted">
        <%= note.content %>
      </span>
      <br>
      <i class="fa fa-user"></i> <%= note.noter.try(:name) %>
    </div>
  </div>
  <hr>
<% end %>
