<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title"> Payments History</h3>
        <%= link_to 'PDF', loan_payments_path(format: 'pdf',loan_id: @loan.id) %>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<table class="table">
  <tr>
    <th>Date</th>
    <th>OR/CDV #</th>
    <th class="text-right">Interest</th>
    <th class="text-right">Fines</th>
    <th class="text-right">Principal</th>
    <th class="text-right">Total</th>
    <th class="text-right">Balance</th>
    <td></td>
  </tr>
  <% @payments.sort_by(&:entry_date).each do |entry| %>
    <% if entry.cancelled? %>
      <tr>
        <td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
        <td><%= entry.reference_number %>- CANCELLED</td>
        <td class="text-right">-</td>
        <td class="text-right">-</td>
        <td class="text-right">-</td>
        <td class="text-right">-</td>
        <td></td>
      </tr>
    <% else %>
      <% interest  = LoansModule::Payments::Classifier.new(loan: @loan, entry: entry).interest %>
      <% penalty   = LoansModule::Payments::Classifier.new(loan: @loan, entry: entry).penalty %>
      <% principal = LoansModule::Payments::Classifier.new(loan: @loan, entry: entry).principal %>

      <tr>
        <td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
        <td><%= link_to entry.try(:reference_number), accounting_module_entry_path(entry), data:{toggle: 'tooltip'}, title: entry.description %></td>
        <td class="text-right"><%= number_to_currency interest  %></td>
        <td class="text-right"><%= number_to_currency penalty %></td>
        <td class="text-right"><%= number_to_currency principal %></td>
        <td class="text-right">
          <%= number_to_currency (interest + penalty + principal) %>
        </td>
        <td class="text-right"><%= number_to_currency @loan.principal_balance(to_date: entry.entry_date.to_date) %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
</table>
<center><%= will_paginate @payments %></center>
