<div class="tab-pane <%= 'active' if current_page?(loan_payments_path(@loan))%>" id='loan-payments'>
    <% if policy([:loans_module, :payment]).new? && @loan.disbursed?  %>
    <%=link_to 'New Payment', new_loan_payment_path(@loan), class: "btn btn-primary" %>
    <% end %>
  <hr>
  <p class="condensed-text"> PAYMENTS HISTORY </p>

  <div class="table table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
        <th> DATE </th>
          <th> AMOUNT </th>
          <th> REFERENCE NUMBER </th>
          <th> EMPLOYEE</th>
        </tr>
      </thead>
      <tbody>
        <% @loan.loan_payments.each do |payment| %>
          <tr>
            <td><%= payment.entry_date.strftime("%B %e, %Y") %></td>
            <td><%= number_to_currency payment.credit_amounts.where(commercial_document: @loan).sum(:amount) %> </td>
            <td><%= payment.reference_number %></td>
            <td>
              <%= image_tag(payment.recorder.avatar.url(:thumb), class: "img-circle", height: 40, width: 40) %> &nbsp; <%= payment.recorder.try(:name) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
