<div class="tab-pane <%= 'active' if current_page? loan_settings_path(@loan) %>">
  Settings
  <%= @loan.barangay_name %>
  <%= link_to 'Set Barangay', edit_loan_barangay_path(id: @loan.id), class: "btn btn-danger" %>
  <hr>
  <p>Loss</p>
  <%= link_to 'Set as Loss', new_loans_module_loan_loss_path(@loan), class: "btn btn-danger" %>
</div>
<p>Extend Loan Term</p>
<% @loan.terms.each do |term| %>
  <%= term.effectivity_date.strftime("%B %e %Y") %>
  <%= term.maturity_date.strftime("%B %e, %Y") %>
<% end %>
  <%= link_to 'New Extension', new_loans_module_loan_term_path(@loan), class: "btn btn-danger" %>
