
<%= link_to member_path(member) do %>
  <div class="card min-margin card-<%=member.activity_status_text_color(office: current_office, from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month) %> card-outline-left">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <%= image_tag(member.avatar, height: 45, width: 45, class: "img-circle") if member.avatar.attached? %>
        </div>
        <div class="col-md-11 col-sm-11">
          <div class="row">
            <div class="col-md-4">
              <h4 class='title-up'><%= member.full_name %></h4><br>
              
              <% if member.retired? %>
                <small class="text-warning">RETIRED</small>
              <% end %>
            </div>
            <div class="col-md-4">
              <small class="text-muted">
                <i class="fa fa-phone"></i>&nbsp;  <%= member.current_contact_number %>
              </small><br>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i>&nbsp;  <%= member.current_address_details %>
              </small>
            </div>
            <div class="col-md-4">
              <small class="text-muted">
                <i class="fa fa-sitemap"></i> <%= member.current_organization_name || "No organization"%>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
