<%= link_to member_path(member) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <%= image_tag(member.avatar.variant(resize: "45x45"), class: "img-circle") if member.avatar.attached? %>
        </div>
        <div class="col-md-11">
          <b> <%= member.full_name %></b><br>
          <div class="row">
            <div class="col-md-3">
              <small class="text-muted"><i class="fa fa-map-marker"></i>&nbsp;  <%= member.current_address_complete_address %></small>
            </div>
            <div class="col-md-3">
              <small class="text-muted">
                <i class="fa fa-phone"></i>&nbsp;  <%= member.current_contact_number %>
              </small>
            </div>
            <div class="col-md-3">
              <small class="text-muted">
                <i class="fa fa-sitemap"></i> <%= member.current_organization_name %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
