<div class="tab-pane <%='active' if current_page?(member_info_index_path(@member)) %>">
<%= member.full_name %>
<hr>
<p class="text-muted">REAL PROPERTIES </p>
  <%= link_to 'New Property', new_member_real_property_path(@member) %>
<% @member.real_properties.each do |real_property| %>
  <%= real_property.address %>
<% end %>
<hr>
<%= link_to 'Print Member Info', member_info_index_path(@member, format: 'pdf') %>
<hr>
