 <%= link_to 'View (PDF)', member_info_index_path(@member, format: 'pdf'), class: 'btn btn-default' %>
<hr>
  <div class="row">
    <div class="col-md-6">
      <h4 class="title-up"> Personal Information </h4>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> First Name </span>
        </div>
        <div class="col-md-8">
          <%= @member.first_name %>
        </div>
      </div>

      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Middle Name </span>
        </div>
        <div class="col-md-8">
          <%= @member.middle_name %>
        </div>
      </div>

       <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Last Name </span>
        </div>
        <div class="col-md-8">
          <%= @member.last_name %>
        </div>
      </div>

      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Date of Birth </span>
        </div>
        <div class="col-md-8">
          <%= @member.date_of_birth.try(:strftime, ("%B %e, %Y")) %>
        </div>
      </div>

      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Sex </span>
        </div>
        <div class="col-md-8">
          <%= @member.sex %>
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Civil Status </span>
        </div>
        <div class="col-md-8">
          <%= @member.civil_status %>

 
        </div>
      </div>
      <hr>
      <h4 class="title-up"> Address Details </h4>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Organization / Office / Department </span>
        </div>
        <div class="col-md-8">
 
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Complete Address </span>
        </div>
        <div class="col-md-8">
          <%= @member.current_address_complete_address %>
 
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Barangay </span>
        </div>
        <div class="col-md-8">
          <%= @member.current_address.try(:barangay_name) %>

 
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Municipality </span>
          <%= @member.current_address.try(:municipality_name) %>

        </div>
        <div class="col-md-8">
 
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Province </span>
        </div>
        <div class="col-md-8">
          <%= @member.current_address.try(:province_name) %>
 
        </div>
      </div>
      <hr>

      <h4 class="title-up"> Contact Details </h4>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Mobile Phone # </span>
        </div>
        <div class="col-md-8">
          <%= @member.current_contact_number %>
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Email </span>
        </div>
        <div class="col-md-8">
         
        </div>
      </div>

      <div class="row min-margin">
        <div class="col-md-4">
          <span class="text-muted"> Facebook </span>
        </div>
        <div class="col-md-8">
 
        </div>
      </div>

      

    </div>

    <div class="col-md-5 offset-md-1">
      <h4 class="title-up"> Photo Specimen </h4>
      <%=image_tag(@member.avatar, height: 220, width: 220) %>
      <hr>
      <h4 class="title-up"> Signature Specimen </h3>
      <% if @member.signature_specimen.attachment.present? %>
        <%= image_tag(@member.signature_specimen, height: 200, width: 300) %>
      <% end %>
      <%= simple_form_for Member.new, url: member_signature_specimens_path(@member) do |f| %>
        <%= f.input :signature_specimen, label: false %>
        <a class="btn btn-outline-primary" id="browse">Update</a>
      <% end %>
      <hr>
      <h4 class="title-up"> Identifications </h3>
 <%= link_to new_identification_path(identifiable_id: @member.id, identifiable_type: @member.class.to_s) do %>
                <span class="btn btn-warning btn-sm" title="New Identification" data-toggle="tooltip"> <i class="fa fa-plus-circle"></i> New </span>
              <% end %>
              <% @member.identifications.each do |identification| %>
            <h6><%= identification.identity_provider_name %></h6>
            <div class="row">
              <div class="col-md-3">
                <span>ID Number: </span>
              </div>
              <div class="col-md-9">
                <%= identification.number %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Date Issued: </span>
              </div>
              <div class="col-md-9">
                <%= identification.issuance_date.try(:strftime, "%B %e, %Y") %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Expiry Date: </span>
              </div>
              <div class="col-md-9">
                <%= identification.expiry_date.try(:strftime, "%B %e, %Y") %>
              </div>
            </div>
            <% identification.photos.each do |photo| %>
              <%= image_tag(photo, height: 200, width: 350)  %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
       
      
      
      
      
      
      
     
      
      
    


<script type="text/javascript">
  $('#browse').click(function(e) {
    $('#member_signature_specimen').click();
    e.preventDefault();
    e.stopPropagation();
    $('#member_signature_specimen').change(function() {
      var val = $('#member_signature_specimen').val();
      if (val != ''){
        $('#new_member').submit();
      }
    });
  });
</script>