<div class="tab-pane <%='active' if current_page?(member_info_index_path(@member)) %>">
  <h4 class="card-title"> Information </h4>
  <br>
  <table class="table">
    <tbody>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-map-marker"></i> Current Address</strong></td>
        <td><%= @member.current_address_complete_address || "N/A" %></td>
        <td>
          <%= link_to 'Update', new_member_address_path(@member), class: "btn btn-outline-warning btn-sm" %>
        </td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-phone"></i> Account Number </strong></td>
        <td><%= @member.account_number || "N/A" %></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-phone"></i> Contact Info </strong></td>
        <td><%= @member.current_contact_number || "N/A" %></td>
        <td><%= link_to 'Update', new_member_contact_path(@member), class: "btn btn-outline-warning btn-sm" %></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-calendar"></i> Date of Birth </strong></td>
        <td><%= @member.date_of_birth.try(:strftime, "%B %e, %Y") || "N/A" %></td>
        <td><%= link_to 'Update', edit_member_path(@member), class: "btn btn-outline-warning btn-sm" %></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-calendar"></i> Age </strong></td>
        <td><%= @member.date_of_birth.present? ? @member.age.to_s + "Years Old" : "N/A" %></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-calendar"></i> Sex </strong></td>
        <td><%= @member.sex.try(:titleize) %><br></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-calendar"></i> Civil Status </strong></td>
        <td><%= @member.civil_status.try(:titleize) || "N/A" %></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-info"></i> TIN Number </strong></td>
        <td><%= @member.current_tin_number || "N/A"%></td>
        <td><%= link_to 'Update', new_member_tin_path(@member), class: "btn btn-outline-warning btn-sm" %></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-info"></i> Office </strong></td>
        <td><%= @member.office_name || "N/A" %></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-info"></i> Organizations </strong></td>
        <td>
          <% @member.organizations.each do |organization| %>
            <p><%= organization.name || "N/A" %></p>
          <% end %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-calendar"></i> Membership Date </strong></td>
        <% if @member.memberships.present? %>
          <td><%= @member.memberships.pluck(:membership_date).last.strftime("%B %e, %Y") || "N/A" %></td>
          <td></td>
        <% end %>
      </tr>
      <tr>
        <td style="width:200px"><strong><i class="fa fa-info"></i> Beneficiaries </strong></td>
        <td>
          <% @member.beneficiaries.each do |beneficiary| %>
            <div class="row">
              <div class="col-md-6">
                <p><%= beneficiary.full_name %></p>
              </div>
              <div class="col-md-6">
                <p><%= beneficiary.relationship.try(:titleize) %></p>
              </div>
            </div>
          <% end %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3 class="card-title"> Signature Specimen </h3>
  <br>
  <% if @member.signature_specimen.attachment.present? %>
    <%= image_tag(@member.signature_specimen, height: 300, width: 500) %>
  <% end %>
  <hr>
  <%= link_to 'Print Member Info', member_info_index_path(@member, format: 'pdf'), class: 'btn btn-success float-right' %>
</div>
