<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title">Loan Applications</h3>
      </div>
      <div class="col-md-6">
        <% if policy([:members, :loan]).new? %>
          <%= link_to 'New Loan Application', new_loans_module_loan_application_path(borrower_id: @member.id, borrower_type: @member.class.to_s) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% @loan_applications.each do |loan_application| %>
  <%= render 'loans_module/loan_applications/partials/header', loan_application: loan_application, cached: true %>
<% end %>
<center><%= will_paginate @loan_applications %></center>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title">Loans </h3>
      </div>
      <div class="col-md-6">

        <%= link_to 'Transactions', member_loan_transactions_path(member_id: @member.id, loan_product_id: @member.applied_loan_products.last.id), class: 'btn btn-sm btn-default float-right' if @member.applied_loan_products.present? %>
      </div>
    </div>
  </div>
</div>
<% @loans.each do |loan| %>
  <%= render 'loans/partials/header', loan: loan, cached: true %>
<% end %>
<center><%= will_paginate @loans %></center>
