<div class="tab-pane <%='active' if current_page?(member_loans_path(@member)) %>" id="loans">
  <% if policy([:members, :loan]).new? %>
    <%= link_to 'New Loan Application', new_member_loan_path(@member), class: "btn btn-primary" %>
  <% end %>
<hr />
<small>ACCOUNTS RECEIVABLE (STORE)</small>
  <h3 class="box-title"><%=number_to_currency @member.account_receivable_store_balance %></h3>
  <hr>
  <% @member.loans.each do |loan| %>
    <% cache loan do %>
      <%=link_to loan_path(loan) do %>
        <div class="row">
          <div class="col-md-2 border-left">
            <span class="text-muted"> <%=loan.loan_product_name.try(:upcase) %></span><br>
            <h4 class="text-muted"><%=number_to_currency loan.loan_amount %></h4>
          </div>
          <div class="col-md-2">
            <span class="text-muted"> PAYMENTS </span><br>
            <h4 class="text-muted"><%=number_to_currency loan.payments.total %></h4>
          </div>
          <div class="col-md-2">
            <span class="text-muted"> BALANCE </span><br>
            <h4 class="text-muted"><%=number_to_currency loan.balance %></h4>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>
