<div class="card">
  <div class="card-body">
    <div class="row">
      <% @loan_types.each do |loan_type| %>
        <div class="col-md-3">
          <center>
            <span class="text-red">
              <%= number_to_currency @loan_products.where(loan_type: loan_type).sum{ |l| l.loans.where(borrower_id: @member.id).sum(&:principal_balance)} %>
            </span><br>
            <small class="text-muted"><%= loan_type.titleize.upcase %></small><br>
            <small class="text-muted">BALANCE</small>
          </center>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title">Loan Applications</h3>
      </div>
      <div class="col-md-6">
        <% if policy([:members, :loan]).new? %>
          <%= link_to new_loans_module_loan_application_path(borrower_id: @member.id, borrower_type: @member.class.to_s), 'data-turbolinks' => false do %>
            <span class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i> New Loan Application </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% @member.loan_applications.each do |loan_application| %>
  <%= render 'loans_module/loan_applications/partials/header', loan_application: loan_application %>
<% end %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Loans </h3>
  </div>
</div>
<% @member.loans.each do |loan| %>
  <%= render 'loans/partials/header', loan: loan %>
<% end %>
