<div class="tab-pane" id="savings">
  <% if @member.savings.any? %>
    <% @member.savings.each do |saving| %>
      <%= link_to savings_account_path(saving) do %>
        <small class="text-muted condensed-text"> BALANCE </small><br>
          <h3 class="no-padding"><%= number_to_currency saving.balance %></h3>
          <small><%= saving.saving_product_name %></small>
      <% end %>
    <% end %>
  <% else %>
    <br>
    <span class="alert alert-info"> No Savings Account opened by <%= @member.first_and_last_name %> <%=link_to 'Open Savings Account', new_member_savings_account_path(@member) %></span>
    <br>
    <br>
    <br>
  <% end %>

</div>
