<div class="tab-pane <%='active' if current_page?(member_share_capitals_path(@member)) %>">
  <div class="row">
    <div class="col-md-12">
      <% if policy([:members, :share_capital]).new? %>
        <% @member.memberships.each do |membership| %>
          <% if membership.cooperative == current_user.cooperative %>
            <%= link_to 'New Share Capital', new_membership_share_capital_subscription_path(membership), class: "btn btn-primary btn-flat pull-right" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% @member.share_capitals.each do |share_capital| %>
    <%=link_to share_capital_url(share_capital) do %>
      <%= share_capital.balance %>
      <small><%=share_capital.share_capital_product_name %></small>
    <% end %>
  <% end %>
  <hr />

