<div class="tab-pane <%='active' if current_page?(member_subscriptions_path(@member)) %>" id='subscriptions'>
  <p class="text-muted"> PROGRAM SUBSCRIPTIONS </p>
<%=link_to "Pay All", new_member_subscription_payment_path(@member), class: "btn btn-primary" %>
  <% @programs.each do |program| %>
    <%= program.name %>
    <% if member.subscribed?(program) %>
      Subscribed
    <% else %>
      <%= link_to 'Subscribe', member_subscriptions_path(@member, program_id: program.id), method: :create %>
    <% end %>
  <% end %>
  <% @member.program_subscriptions.each do |program| %>
    <div class="row">
      <div class="col-md-6">
        <%= program.name %><br>
        <span class="text-muted"><%= program.description %></span>
      </div>
      <div class="col-md-6">
        <% if program.paid?(from_date: Time.zone.now.beginning_of_year.beginning_of_day, to_date: Time.zone.now.end_of_year.end_of_day) %>
          <span class="label label-success"> Paid </span>
        <% else %>
          <%= link_to 'Pay Contribution', new_program_payment_path(program, subscriber_id: @member.id), class: "btn btn-sm btn-flat btn-primary" %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
