<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Cooperative Programs</h3>
    <p class="text-muted"> List of cooperative programs/fees. </p>
    <% @programs.each do |program| %>
      <div class="row">
        <div class="col-md-5">
          <b><%= program.name %></b>
          <span class="text-muted"><%= program.description %></span>
        </div>
        <div class="col-md-5">
          <% if program.subscribed?(member) %>
            <span data-toggle="tooltip" title="Subscribed"><i class="fa fa-toggle-on fa-2x text-success"></i>
          <% else %>
            <%= link_to  member_program_subscriptions_path(program_id: program.id, member_id: @member.id), method: :create  do %>
            <span data-toggle="tooltip" title="Subscribe"><i class="fa fa-toggle-off fa-2x"></i></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
    <hr>
    <h3 class="card-title"> Program Subscriptions </h3>
    <br>
    <% @member.program_subscriptions.each do |program_subscription| %>
      <div class="row">
        <div class="col-md-6">
          <%= link_to program_subscription.name, program_subscription_path(program_subscription) %><br>
          <span class="text-muted"><%= program_subscription.description %></span>
        </div>
        <div class="col-md-6">
          <%= number_to_currency program_subscription.amount %>
           <%=link_to "New Adjusting Entry", new_accounting_module_commercial_document_adjusting_entry_line_item_path(commercial_document_type: program_subscription.class.to_s, commercial_document_id: program_subscription.id), class: "btn btn-sm btn-danger", 'data-turbolinks' => false %>
          <% if program_subscription.paid?(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %>
            <span class="badge bg-success"> Paid </span>
          <% else %>
            <%= link_to 'Pay Contribution', new_program_subscription_payment_path(program_subscription, member_id: @member.id), class: "btn btn-sm btn-flat btn-primary" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <h3 class="card-title"> Transactions History </h3>

  </div>
</div>
