<div class="tab-pane <%='active' if current_page?(member_subscriptions_path(@member)) %>" id='subscriptions'>
  <%=link_to "Pay All", new_member_subscription_payment_path(@member), class: "btn btn-primary" %>
  <% @member.program_subscriptions.each do |program| %>
    <div class="row">
      <div class="col-md-6">
        <%= program.name %><br>
        <span class="text-muted"><%= program.description %></span>
      </div>
      <div class="col-md-6">
        <% if program.paid?(Time.zone.now.beginning_of_year.beginning_of_day, Time.zone.now.end_of_year.end_of_day) %>
          <span class="label label-success"> Paid </span>
        <% else %>
          <%= link_to 'Pay Contribution', new_program_payment_path(program, member_id: @member.id), class: "btn btn-sm btn-flat btn-primary" %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>