<div class="tab-pane <%='active' if current_page?(member_subscriptions_path(@member)) %>" id='subscriptions'>
  <p class="text-muted"> COOPERATIVE PROGRAMS </p>
  <% @programs.each do |program| %>
    <div class="row">
      <div class="col-md-5">
        <h4><%= program.name %></h4>
        <span class="text-muted"><%= program.description %></span>
      </div>
      <div class="col-md-5">
        <% if member.subscribed_programs.include?(program) %>
          <span data-toggle="tooltip" title="Subscribed"><i class="fa fa-toggle-on fa-2x text-green"></i>
        <% else %>
          <%= link_to  member_program_subscriptions_path(program_id: program.id, member_id: @member.id), method: :create  do %>
          <span data-toggle="tooltip" title="Subscribe"><i class="fa fa-toggle-off fa-2x"></i></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
  <p class="text-muted"> SUBSCRIBED PROGRAMS </p>
  <% @member.program_subscriptions.each do |program_subscription| %>
    <div class="row">
      <div class="col-md-6">
        <%= program_subscription.name %><br>
        <span class="text-muted"><%= program_subscription.description %></span>
      </div>
      <div class="col-md-6">
        <%= number_to_currency program_subscription.contribution %>
        <% if program_subscription.paid?(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %>
          <span class="label label-success"> Paid </span>
        <% else %>
          <%= link_to 'Pay Contribution', new_program_subscription_payment_path(program_subscription, member_id: @member.id), class: "btn btn-sm btn-flat btn-primary" %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
