<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> New Voucher Details </h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
        <p>Payee</p>


            <%=image_tag(@employee.avatar.url(:medium), class: "img-circle", height: 50, width: 50) %>

            <p><%= @employee.name.try(:upcase) %></p>

        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Description</th>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @employee.voucher_amounts.each do |voucher_amount| %>
                <tr>
                  <td><%= voucher_amount.description %></td>
                  <td><%= voucher_amount.account_name %></td>
                  <td>
                    <% if voucher_amount.debit? %>
                      <%= number_to_currency voucher_amount.amount %>
                    <% end %>
                  </td>
                   <td>
                    <% if voucher_amount.credit? %>
                      <%= number_to_currency voucher_amount.amount %>
                    <% end %>
                  </td>
                  <td>
                    <%=link_to employee_amount_path(id: voucher_amount.id), method: :delete do %>
                      <span class="text-danger"><i class="fa fa-trash"></i> </span>
                    <% end %>
                  </td>

                </tr>
              <% end %>
              <% if @employee.voucher_amounts.present? %>
                 <tr>
                  <td></td>
                  <td>TOTAL</td>
                  <td><b><%= number_to_currency @employee.voucher_amounts.debit.sum(:amount) %></b></td>
                  <td><b><%= number_to_currency @employee.voucher_amounts.credit.sum(:amount) %></b></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>

              <%= simple_form_for @amount, url: :employee_amounts do |f| %>
                <tr>
                    <td width="300px"><%= f.input :description, label: false, placeholder: "Description" %></td>
                    <td width="200px"><%= f.input :account_id, label: false, prompt: "Select Account", collection: AccountingModule::Account.all.map{|a| [a.name, a.id] }  %></td>
                    <td><%= f.input :amount, label: false, placeholder: "Amount", as: :string %></td>
                    <td><%= f.input :amount_type, label: false, placeholder: "Amount Type", collection: Vouchers::VoucherAmount.amount_types.keys.to_a.map{|a| [a.titleize, a] } %></td>
                    <td><%= f.submit "Add", class: "btn btn-primary btn-sm" %></td>
                  </tr>
              <% end %>

            </tbody>
          </table>
        </div>
        <% if @employee.voucher_amounts.present? %>
          <p class="text-muted"> VOUCHER DETAILS </p>
          <%= simple_form_for @voucher, url: :employee_vouchers do |f| %>
          <tr>
          <td><%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description, as: :text %>
          <%= f.input :payee_id, input_html: { value: @employee.id }, as: :hidden %>
          <%= f.input :payee_type, input_html: { value: @employee.class }, as: :hidden %>
            <%= f.input :voucherable_id, input_html: { value: @employee.id }, as: :hidden %>
          <%= f.input :voucherable_type, input_html: { value: @employee.class }, as: :hidden %>
          <%= f.input :number, input_html: { value: Voucher.generate_number_for(@voucher) } %>
          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Create Voucher", class: "btn btn-primary pull-right" %>
          </div>
          <% end %>
        <% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#vouchers_voucher_amount_account_id").select2({
      theme: "bootstrap"
    });
    $("#vouchers_voucher_amount_amount_type").select2({
      theme: "bootstrap"
    });
  });
</script>
