<% @voucher.voucher_amounts.each do |voucher_amount| %>

  <% if voucher_amount.debit? %>
    <div class="row min-margin">
      <div class="col-md-6">
        <%= voucher_amount.account_name %>
      </div>
      <div class="col-md-6">
        <%= voucher_amount.amount %>
      </div>
    </div>
  <% end %>

  <% if voucher_amount.credit? %>
    <div class="row min-margin">
      <div class="col-md-5 offset-md-1">
        <%= voucher_amount.account_name %>
      </div>
      <div class="col-md-5">
        <%= voucher_amount.amount %>
      </div>
    </div>
  <% end %>
<% end %>
<%= link_to "Cancel", banking_agent_module_saving_withdrawal_confirmation_path(id: @voucher.id), method: :delete %>
<%= link_to "Confirm", banking_agent_module_saving_withdrawal_confirmations_path(id: @voucher.id), method: :create %>
