<div class="card">
  <div class="card-body">
    <%= link_to time_deposit_path(time_deposit) do %>
      <div class="row">
        <div class="col-md-1">
          <%= image_tag(time_deposit.depositor.avatar.variant(resize: '45x45'), class: "img-circle") if time_deposit.depositor.avatar.attached? %>
        </div>
        <div class="col-md-3">
          <b><%= time_deposit.depositor_name.try(:upcase) %></b><br>
          <% if time_deposit.withdrawn? %>
            <span class="text-danger"> Withdrawn last <%= time_deposit.withdrawal_date.strftime("%B %e, %Y") %></span>
          <% end %>
        </div>
        <div class="col-md-3">
            <h4 class="card-title"><%= number_to_currency time_deposit.balance %></h4>
          <small class="text-muted">AMOUNT DEPOSITED</small>

        </div>
        <div class="col-md-3">
          <% if time_deposit.current_term.present? %>
            <%= time_deposit.maturity_date.strftime("%B %e, %Y") %>
          <% end %><br>
          <small class="text-muted">MATURITY DATE</small>

        </div>
      </div>
    <% end %>
  </div>
</div>
