<div class="tab-pane <%= 'active' if current_page?(time_deposit_settings_path(@time_deposit)) %>">
  <%=link_to "New Adjusting Entry", new_accounting_module_adjusting_entry_path(commercial_document_type: @time_deposit.class.to_s, commercial_document_id: @time_deposit.id) %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <% if policy([:time_deposits, :break_contract]).new? && !@time_deposit.current_term_matured? && !@time_deposit.withdrawn? %>
        <%=link_to 'Break Contract', new_time_deposit_break_contract_path(@time_deposit), class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <hr>
  <h4>Terms</h4>
  <div class="row">
    <div class="col-md-4">
      <b>Date Deposited</b>
    </div>
    <div class="col-md-4">
      <b>Maturity Date</b>
    </div>
    <div class="col-md-2">
      <b>Term</b>
    </div>
  </div>
  <br>
  <% @time_deposit.terms.each do |term| %>
  <div class="row">
    <div class="col-md-4">
      <%= term.effectivity_date.strftime("%B %e, %Y") %>
    </div>
    <div class="col-md-4">
      <%= term.maturity_date.strftime("%B %e, %Y") %>
    </div>
    <div class="col-md-2">
      <%= term.number_of_months %> Months
    </div>
    <div class="col-md-2">
     <% if @time_deposit.current_term == term %>
       <span class="label bg-green"> Current </span>
      <% end %>
    </div>
  </div>
  <br>
  <% end %>

  <%= link_to 'New Term Extension', new_time_deposit_term_extension_path(@time_deposit), class: "btn btn-danger" %>
  <hr />
  <h4>Earned Interests</h4>
    <%= link_to 'New Earned Interest', new_time_deposit_earned_interest_path(@time_deposit), class: "btn btn-danger" %>
</div>
