<% breadcrumb :time_deposit_transactions, @time_deposit %>
<p class="text-muted">TRANSACTIONS HISTORY </p>
<table class="table table-hover">
	<thead>
		<tr>
			<td>DATE</td>
			<td>OR/CDV NO.</td>
			<td class="text-right">DEPOSIT</td>
			<td class="text-right">WITHDRAWAL</td>
			<td class="text-right">BALANCE</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tbody>
			<% @entries.each do |entry| %>
				<tr>
					<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
					<td><%= link_to entry.reference_number.present? ? entry.reference_number : "FRWD", accounting_module_entry_path(entry), data:{toggle: 'tooltip'}, title: entry.description %></td>
					<td class="text-right">
						<% if entry.credit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).present? && entry.credit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).last.try(:commercial_document) == @time_deposit %>
							<%= number_to_currency entry.credit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).total %>
						<% end %>
					</td>
					<td class="text-right">
						<% if entry.debit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).present? && entry.debit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).last.try(:commercial_document) == @time_deposit %>
							<%= number_to_currency entry.debit_amounts.for_account(account_id: @time_deposit.time_deposit_product.account_id).total %>
						<% end %>
					</td>
					<td class="text-right"><%= number_to_currency @time_deposit.balance(to_date: entry.entry_date.end_of_day) %></td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</tbody>
</table>
<center><%= will_paginate @entries %></center>