<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				<h4><center><%= image_tag("ipsmpc_logo", width: 60, height: 60, class: 'media-object img-circle') %></center></h4>
         <h3><center><%= current_cooperative.name %></center></h3>
				<h4 class="card-title">New Barangay</h4>
			</div>
			<div class="card-body">
				<%= simple_form_for @barangay, url: :cooperative_barangays, multipart: true, html: { autcomplete: 'off' } do |f| %>
				  <%= f.input :avatar, as: :file %>
				  <%= f.input :name %>
				  <%= f.input :municipality_id, collection: current_cooperative.municipalities.map{|a| [a.name, a.id] } %>
				 	<hr>
				  <%= f.submit "Save Barangay", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
				<% end %>
			</div>
		</div>
	</div>
</div>
