<div class='row'>
  <div class='col-md-6 offset-md-3'>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-md-2'>
            <%= image_tag(@time_deposit.avatar, height: 45, width: 45, class: 'img-circle') %>
          </div>
          <div class='col-md-10'>
            <h3 class='title-up'><%= @time_deposit.depositor_name %></h3>
          </div>
        </div>
        <hr>
        <h4 class='title-up'> Interest Posting Details </h4>
<%= simple_form_for @interest_posting, url: :time_deposit_interest_postings do |f| %>
  <%= f.error_notification %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
  <%= f.input :amount %>
  <%= f.input :reference_number %>
  <%= f.input :description %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :time_deposit_id, input_html: { value: @time_deposit.id }, as: :hidden %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>

  <%= f.submit "Proceed", class: 'btn btn-primary float-right' %>
<% end %>