<%= render "home/shared/navbar" %>
<%= render 'layouts/shared/flash_messages' %>

<div class="container">
	<br>
	<br>
	<br>
  <div class="landing-header">
  	<div class="row">
  		<div class="col-md-7">
  			<h1 class="text-open-sans-regular">A single workplace to manage all your cooperative operations</h1>
  			<br>
  			<p class="lead"> Coop Catalyst connects all your offices and operations in one platform <br> so that managing your cooperative is simpler, organized and less stress.</p>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Work will be in one organized place</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Every employee will be on the same page</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Make smart and timely decisions</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">You'll know exactly what's going on your finances</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">You'll spend less time on meetings and manual work</p>
              </div>
            </div>
  		    </div>
        </div>
  </div>
  <br>
  <center>
</div>
<div class="landing-mid-section bg-danger">
  <div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1 class="text-open-sans-regular">Your <u>manual processes</u> is the barrier to your cooperative's growth.</h1>
      <p class="lead">

        Keeping track of financial statements, staff performance, client information with manual processes ( pen and paper / spreadsheets / different ledgers),
        result to your employees spending too many extra hours to finish month-end reporting and fixing errors on their ledgers.
        <br><br>

      </p>
    </div>
  </div>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-1">
      <p class="lead"> The problems growing cooperatives deal with mostly boil down to information scattered in too many places — papers, spreadsheets, different ledgers, Word docs, etc. That makes usefule information to make smart and timely decisions easy to miss and hard to find, which leads to communication gaps, preventable emergencies, and extra work.
        </p>
      <br>
      <p class="lead">
        DIfferent systems (Accounting System, Sales Management System, Loans Management) that are not connected together can't fix this problem — they can only make it worse. CoopCatalyst is different.
        It combines all the tools growing cooperatives need in a single, organized package that makes work feel like less work.
      </p>
    </div>
    <div class="col-md-5 offset-1">
   </div>
 </div>
 <br>
 <br>
 <hr>

<div class="row">
  <br>
  <div class="col-md-9 offset-md-1">
    <br>
    <h3 class="text-open-sans-regular">Everything your Growing Cooperative needs</h3>
    <p class="lead">CoopCatalyst connects your operations and branch offices in one toolset.
       This eliminate much of the manual, time consuming effort currently required to keep balanced ledgers.
       Accounting entries are recorded and automatically posted without error.
       Duplications, reconciliations are checked and fixed.
       CoopCatalyst enable branch offices and employees to collaborate to maintain balanced ledgers.</p>

  </div>
</div>
  <br>

    <div class="row">
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-lightbulb fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Trustworthy Accounting System</h3>
            <br>
            <p>
              Dependable accounting system that keeps your ledgers accurate and balanced. Journal entries are validated, recorded and automatically posted without error.
               Duplications, reconciliations are checked and fixed. Separate financial statements, income statements and cash flows for each office can be generated.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-leaf fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">CDA Compliance</h3>
            <br>
            <p>
              Accounts are based on CDA Chart of Accounts. Reports generated conforms to CDA requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-file-alt fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Loans Portfolio Management</h3>
            <br>
            <p>
              Current, past due and overdue loans are monitored. Aging of loans, comparison of target and actual collections,  monitoring of scheduled amortizations are automatically generated. You can notify members on their due payments through email, text or messenger.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Memberships Portfolio</h3>
            <br>
            <p class="text-open-sans-regular">
              Members information, savings, share capitals, and time deposits are monitored and updated instantly.
              View active accounts, dormant and accounts that are below minimum balances.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-sync fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Collaboration tools</h3>
            <br>
            <p>
              Employees are connected in a single workplace and collaborate to maintain accurate and balanced ledgers.
              Branch offices can have a secure access and enter their daily transactions. No more waiting for delayed reports and
              fixing unbalanced ledgers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-lock fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Ease of Use and Security </h3>
            <br>
            <p>
              We made Coop Catalyst easy to use as possible to let you do your work quickly without on compromising security.

            </p>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-5 offset-1">
      <div class="row">
        <div class="col-md-2">
          <i class="fa fa-cubes fa-3x"></i>
        </div>
        <div class="col-md-9">
          <h3 class="card-title">Sales and Inventory</h3>
          <br>
          <p>
            Integrate your storefront's sales and inventories for stock monitoring and fast computation of patronage refunds. Provides you an up to date stocks and status of inventories, accounts receivables and payables.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <i class="fa fa-sitemap fa-3x"></i>
        </div>
        <div class="col-md-9">
          <h3 class="card-title">Multi Branch ready</h3>
          <br>
          <p>
            No more waiting for branch transactions to come into your main office. Branch offices can have secure access and enter their daily transactions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

      <div class="landing-mid-section bg-dark">
        <div class="container">
        <br>
        <br>
        <br>
        <br>

        <div class="row">
          <div class="col-md-9 offset-md-2">
            <h3 class="text-open-sans-regular"> Move your Cooperative Operations to the Cloud. </h3>
            <p class="lead"> Your banks are connected to the Cloud. ATMs and other financial services depend on it to deliver services. If you can access Facebook in your area of operation, you can use Coop Catalyst.
             It's time you move to cloud-based operations and be ahead of other cooperatives.</p>
          </div>
        </div>
      </div>
      </div>
      <br>

      <div class="container">
        <h2 class="text-open-sans-regular"> Gain this benefits when you move to the cloud. </h2>
        <br>
        <div class="row">
        <div class="col-md-5 offset-1">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-lock fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3 class="card-title">Reduce Risk of Losing Important Data</h3>
              <br>
              <p>
                We take it seriously to protect the security of your data. Backups, and
                security measures are put in place to deter hacking. In case disaster hits your offices,
                You can find your data safely on CoopCatalyst.

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-coins fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3 class="card-title">Cut back on your IT Costs.</h3>
              <br>
              <p>
                Focus on serving your members, not your infrastructure.Buying and managing your own IT systems can quickly drain your budget.
                You must pay the direct costs of the hardware and software.
                Then, you pay the indirect costs of operating, maintaining and repairing the system.
                CoopCatalyst gives you access to the software you need, without draining your budget.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 offset-1">
            <div class="row">
              <div class="col-md-2">
                <i class="fa fa-sync fa-3x"></i>
              </div>
              <div class="col-md-9">
                <h3 class="card-title">Collaborate with your branch offices</h3>
                <br>
                <p>
                  CoopCatalyst connects your satellite / branch offices, giving you a central source of information on your cooperative.
                 No more delayed reports from your branch offices. Transactions from branch offices are saved real-time and can be monitored from your main office.
                CoopCatalyst enable branch offices and employees to collaborate to maintain accurate ledgers
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <i class="fa fa-download fa-3x"></i>
              </div>
              <div class="col-md-9">
                <h3 class="card-title">Updates you dont have to pay for.</h3>
                <br>
                <p>
                You get automatic updates at all of your branches for no extra cost. When CDA issues new rules and memorandum,  CoopCatalyst is updated and rolled out to your offices without any extra hassle for you.

                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-open-sans-regular">Want to see everything CoopCatalyst does? </h2>
            <p class="lead">Transform the way you manage your cooperative. Request a demo and see for yourself how it can simplify work for your employees.</p>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success"></i>

              </div>
              <div class="col-md-9">
                Work will be in one organized place
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success"></i>
              </div>
              <div class="col-md-9">
                Everyone will be on the same page
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success"></i>

              </div>
              <div class="col-md-9">
                Make smart and timely decisions
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success"></i>

              </div>
              <div class="col-md-9">
                You'll know exactly what’s going on
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-1">
                <i class="fa fa-check-circle text-success"></i>

              </div>
              <div class="col-md-9">
                You'll spend less time in meetings
              </div>
            </div>
            <br>
            <br>
        </div>


          <div class="col-md-5 offset-1">
            <div class="card card-outline card-primary">
              <div class="card-body">
                <%= simple_form_for Lead.new do |f| %>
                  <%= f.input :email, placeholder: 'Email', label: false %>

                  <%= f.input :contact_number, label: false, placeholder: "Contact Number" %>
                  <%= f.input :message, label: false, placeholder: 'What do you want to automate in your coop?' %>
                  <hr>
                  <%= f.submit 'Request for Demo', class: 'btn btn-primary btn-lg btn-block' %>
                  <br>

                <% end %>

          </div>
        </div>
      </div>
<%= render "home/shared/footer" %>
