<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <center>
          <%= link_to edit_hr_module_employee_path(@employee) do %>
            <span class="pull-right text-muted"><i class="fa fa-pencil"></i>
          <% end %>
          <%=image_tag(@employee.avatar.url(:large), class: "img-circle user-profile-img", height: 80, width: 80) %><br><br>
          <h3 class="box-title"> <%= @employee.first_and_last_name.try(:upcase) %></h3><br>
          <small class="text-muted"><%= @employee.role.titleize %></small>
        </center>
      </div>
      <div class="box-body">
         <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(hr_module_employee_path(@employee))%>"><%= link_to 'Info', hr_module_employee_path(@employee) %></li>
          <li class="<%= 'active' if current_page?(hr_module_employee_payrolls_path(@employee))%>"><%= link_to 'Payroll', hr_module_employee_payrolls_path(@employee) %></li>

        </ul>
      </div>
        <div class="tab-content box-body">
          <% if current_page? hr_module_employee_path(@employee) %>
            <%= render 'hr_module/employees/partials/profile' %>
          <% end %>
          <% if current_page? hr_module_employee_payrolls_path(@employee) %>
            <%= render 'hr_module/employees/partials/payrolls' %>
          <% end %>

