<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <%= simple_form_for @employee, url: :hr_module_employees do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :date_of_birth, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :sex, collection: User.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.input :email %>
          <%= f.input :contact_number %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.input :role, collection: User.roles.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %> 
          <%= f.submit %>
        <% end %>