<div class="card">
  <div class="card-body">
<h3 class="card-title">Monitoring</h3>
<p class="text-muted"><%=@product.purchases_balance %></p>
<div class="row">
            <div class="col-md-3 border-right">
              <h3 class="no-padding"><center><%= @product.purchases_balance(store_front: current_store_front) %></center></h3>
              <small><center>PURCHASES</center></small>
              <br>
              <p class="text-danger"><center><%= @product.purchase_returns_balance(store_front: current_store_front) %></center></p>
              <small class="text-danger"> <center>PURCHASE RETURNS</center></small>
            </div>
            <div class="col-md-3 border-right">
              <h3 class="no-padding"><center><%= @product.sales_balance(store_front: current_store_front) %></center></h3>
              <small><center>SALES</center></small>
               <br>
              <p class="text-danger"><center><%= @product.sales_returns_balance(store_front: current_store_front) %></center></p>
              <small class="text-danger"> <center>SALES RETURNS</center></small>
            </div>
            <div class="col-md-3 border-right">
              <center>
              <h3 class="no-padding text-sucs316
              cess"><%= @product.balance %></h3>
              <small class="text-success">AVAILABLE QTY</small>
              </center>
            </div>
          </div>
          <hr>
<h4>Mark Up Prices</h4>
<% @product.unit_of_measurements.each do |unit_of_measurement| %>
  <div class="row">
    <div class="col-md-4">
      <%= unit_of_measurement.base_quantity_and_code %>
      <% if unit_of_measurement.base_measurement %>
        <span class="badge bg-green"> Base Measurement </span>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= number_to_currency unit_of_measurement.price %> <br>

    </div>
  </div>
  <br>
<% end %>
