<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%=image_tag(@saving.avatar, class: 'img-circle', height: 60, width: 60) %>
            </div>
            <div class="col-md-9">
              <h4 class="title-up"><%= @saving.depositor_name %></h4>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i> <%= @saving.depositor.current_address_details %><br>
                <i class="fa fa-phone"></i> <%= @saving.depositor.current_contact_number %>
              </small>
            </div>
          </div>
          <hr>
          <small class="text-muted"><%= @saving.saving_product_name %></small>
          <h3 class="title-up"> <%= number_to_currency @saving.balance %></h3>
          <hr>
<%= simple_form_for @payment, url: :loans_module_loan_payment_from_saving_processings do |f| %>
  <%= f.input :amount, autofocus: true %>
  <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
  <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
  <%= f.input :saving_id, input_html: { value: @saving.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.submit "Proceed", class: 'btn btn-danger float-right' %>
  <%= link_to 'Cancel', new_loans_module_loan_payment_from_saving_path(@loan), class: 'float-left' %>

<% end %>
