<b>LIABILITIES </b><br>
<% current_cooperative.accounts.liabilities.each do |account| %>
  <% balance = account.balance(to_date: @to_date) %>
  <% if !balance.zero? %>
    <div class="row">
      <div class="col-md-7">
        <%= account.name %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency balance %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>Total Liabilities</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.accounts.liabilities.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>
<b>EQUITY </b><br>
<% current_cooperative.accounts.equities.each do |account| %>
  <% balance = account.balance(to_date: @to_date) %>
  <% if !balance.zero? %>
    <div class="row">
      <div class="col-md-7">
        <%= account.name %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency balance %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>Total Equity</b>
  </div>
  <div class="col-md-5">
    <b> <%= number_to_currency current_cooperative.accounts.equities.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>
<% net_surplus = (current_cooperative.accounts.revenues.balance(from_date: @to_date.beginning_of_year, to_date: @to_date) - current_cooperative.accounts.expenses.balance(from_date: @to_date.beginning_of_year, to_date: @to_date)) %>
<div class="row">
  <div class="col-md-7">
    Net Surplus
  </div>
  <div class="col-md-5">
    <%= number_to_currency net_surplus %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-7">
    <b>Total Liabilities and Equity</b>
  </div>
  <div class="col-md-5">
    <b> <%= number_to_currency((current_cooperative.accounts.liabilities.balance(to_date: @to_date) + current_cooperative.accounts.equities.balance(to_date: @to_date) + net_surplus)) %></b>
  </div>
</div>
<hr>
