<div class="row">
  <div class="col-md-6">
		<h4> <%= number_to_currency @loan.loan_amount %></h4>
		<% @loan.charges.each do |charge| %>
		  <div class="row">
		    <div class="col-md-4">
			    <%= charge.name %>
			  </div>
			  <div class="col-md-4">
			    <%= number_to_currency Charge.charge_amount(charge, @loan) %>
			  </div>
			 </div>
			 <br>
		<% end %>
	</div>
	<div class="col-md-6">
	  <%= simple_form_for @loan, url: :loans_module_loan_application do |f| %>
  <%= f.error_notification %>
  <%= f.input :loan_product_id, collection: LoansModule::LoanProduct.all.map{|a| [a.name.titleize, a.id] }, as: :radio_buttons %>
  <%= f.input :member_id, collection: Member.all.map {|a| [a.full_name, a.id] } %>
  <%= f.input :loan_amount %>
  <%= f.input :term, label: "Loan Term (in months)" %>
  <%= f.submit "Calculate", class: "btn btn-primary" %>
  <hr>
<% end %>