<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-3">
				<h4 class="card-title">Loan Applications</h4>
			</div>
			<div class="col-md-6">
				<%=form_tag loans_module_loan_applications_path, method: :get do %>
				  <div class="input-group">
				    <%= text_field_tag :search, params[:search],  autofocus: true, class: "form-control", placeholder: "Search for Number, Description", id: 'account-search-form' %>
				    <span class="input-group-btn">
				      <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
				        <i class="fa fa-search"></i>
				      <% end %>
				    </span>
				  </div>
				<% end %>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>
<div class='card'>
  <div class='card-header'>
		<div class='table table-responsive'>
			<table class='table table-hover table-striped'>
				<thead>
					<tr>
						<th> Borrower </th>
						<th> Voucher # </th>
						<th> Loan Product </th>
						<th> Loan Amount </th>
						<th> Net Proceed </th>
						<th> Approval Status </th>
					</tr>
				</thead>
				<tbody>
					<% @loan_applications.each do |loan_application| %>
					  <tr>
						  <td><%= link_to loan_application.borrower_name, loans_module_loan_application_path(id: loan_application.id) %></td>
							<td><%= loan_application.voucher_reference_number %></td>
							<td><%= loan_application.loan_product_name %></td>
							<td><%= number_to_currency loan_application.loan_amount %></td>
							<td><%= number_to_currency loan_application.net_proceed %></td>
							<td><span class="badge badge-outline-<%= "#{loan_application.status_color}" %>"> <%= loan_application.status %></span></td>
						</tr>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% @loan_applications.each do |loan_application| %>
  <%= render 'loans_module/loan_applications/partials/header', loan_application: loan_application %>
<% end %>
<center><%= will_paginate @loan_applications %></center>