<% breadcrumb :new_loans_module_loan_application, @borrower %>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Loan Application</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <%= image_tag(@borrower.avatar, width: 45, height: 45, class: "img-circle") if @borrower.avatar.attached? %>
          </div>
          <div class="col-md-10 col-sm-10">
            <h3 class="card-title no-margin-bottom"> <%= @borrower.name %> </h3>
            
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for @loan_application, url: :loans_module_loan_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.error_notification %>
          <%= f.input :application_date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y") } %>
          <%= f.input :loan_product_id, validate: { presence: true }, label: 'Select Type of Loan', collection: current_office.loan_products.order(:name).map{|a| [a.name.titleize, a.id] }, input_html: { class: 'chosen-select' } %>

          <%= f.input :borrower_id, input_html: { value: @borrower.id }, as: :hidden %>
          <%= f.input :borrower_type, input_html: { value: @borrower.class.to_s }, as: :hidden %>
          <%= f.input :loan_amount, input_html: { class: 'currency-input form-control-lg' }  %>
          <%= f.input :number_of_days, label: "Term (Number of days)", input_html: {maxlength: 3600} %>

          <%= f.input :mode_of_payment, collection: LoansModule::LoanApplication.mode_of_payments.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.input :purpose, as: :string, label: "Purpose of Loan" %>

          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>

          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <hr>
          <%= button_tag( :class => "btn btn-primary float-right") do %>
            Proceed  &nbsp;<i class="fa fa-arrow-right"></i>
          <% end %>
          <%= link_to 'Cancel', member_path(@borrower), class: "btn-link text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", () => {
  new AutoNumeric('.currency-input');
</script>