<% breadcrumb :new_loans_module_loan_application, @borrower %>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Loan Application</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <%= image_tag(@borrower.avatar, width: 45, height: 45, class: "img-circle") if @borrower.avatar.attached? %>
          </div>
          <div class="col-md-10 col-sm-10">
            <h3 class="card-title no-margin-bottom"> <%= @borrower.name %> </h3>
            <small class="text-muted">
              <%= @borrower.memberships.present? ? @borrower.current_membership.membership_type.try(:titleize) : "Borrower"%>
            </small>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for @loan_application, url: :loans_module_loan_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.error_notification %>
          <%= f.input :application_date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y") } %>
          <%= f.input :loan_product_id, validate: { presence: true }, label: 'Select Type of Loan', collection: LoansModule::LoanProduct.all.where(active: true).order(:name).map{|a| [a.name.titleize, a.id] }, input_html: { id: 'loanProductSelect' } %>

          <%= f.input :borrower_id, input_html: { value: @borrower.id }, as: :hidden %>
          <%= f.input :borrower_type, input_html: { value: @borrower.class.to_s }, as: :hidden %>
          <%= f.input :loan_amount, as: :currency %>
          <%= f.input :term, label: "Loan Term (in months)" %>
          <%= f.input :mode_of_payment, collection: LoansModule::Loan.mode_of_payments.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons, input_html: { id: 'modePaymentSelect' } %>
          <%= f.input :purpose, as: :text, label: "Purpose of Loan" %>

          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>

          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <hr>
          <%= button_tag( :class => "btn btn-primary float-right") do %>
            Proceed  &nbsp;<i class="fa fa-arrow-right"></i>
          <% end %>
          <%= link_to 'Cancel Application', member_path(@borrower), class: "btn-link float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#loanProductSelect').on('change', function (e) {
    var filter = $("#loanProductSelect option:selected").text();
    if (filter == 'Short Term Loan(Non Member)' || filter == 'Short Term Loan(Member)') {
      $('input[type="radio"][value="lumpsum"]').click();
    }
    else {
      $('input[type="radio"][value="monthly"]').click();
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#borrowerSelect").select2({
      theme: "bootstrap"
    });
  });
</script>
