
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
<%= number_to_currency @loan_application.adjusted_interest_on_loan %>


<hr>
        <%= number_to_currency @loan_application.loan_amount %>
       <br>
        <% @loan_application.voucher_amounts.each do |voucher_amount| %>
        <div class="row">
          <div class="col-md-4">
            <%= voucher_amount.amount %>
            <%= voucher_amount.adjusted_amount %>
          </div>
          <div class="col-md-3">
            <%= voucher_amount.description %>
          </div>
          <div class="col-md-3">
            <%= link_to 'Adjust', new_loans_module_voucher_amount_amount_adjustment_path(voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id) %>
          </div>
        </div>
        <br>
        <% end %>
        <hr>
        <%= @loan_application.net_proceed %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-solid">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @borrower.share_capitals.each do |share_capital| %>
          <h4><%= number_to_currency share_capital.paid_up_balance %></h4>
          <div class="card-footer">
            <%=link_to 'Add Capital Build Up', new_loans_module_loan_application_capital_build_up_processing_path(share_capital_id: share_capital.id, loan_application_id: @loan_application.id), class: "btn btn-warning btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>

  </thead>
<tbody>
<% @loan_application.amortization_schedules.each do |amortization_schedule| %>
  <tr>
<td><%= amortization_schedule.date.strftime("%B %e, %Y") %></td>
<td><%= number_to_currency amortization_schedule.principal %></td>
<td><%= number_to_currency amortization_schedule.interest %></td>
</tr>

<% end %>
</tbody>
</table>



