<div class="row">
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%=image_tag(@loan.borrower.avatar.url(:medium), class: "img-circle", height: 80, width: 80) %>
          </div>
          <div class="col-md-8">
            <br>
            <h3 class="box-title"><%= @loan.borrower.first_and_last_name.try(:upcase) %></h3><br>
            <small><i class="fa fa-map-marker"></i> <%= @loan.borrower.current_address %></small>
          </div>
        </div>
      </div>
      <div class="box-body">
        <p class="text-purple">LOAN APPLICATION DETAILS </p>
    		<div class="row">
    		  <div class="col-md-5 col-md-offset-1">
    				<p class="condensed-text">AMOUNT APPLIED </p>
          </div>
          <div class="col-md-3">
            <span class="pull-right"> <%= number_to_currency @loan.loan_amount %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
  				  <p class="text-danger condensed-text">LESS CHARGES</p>
          </div>
          <div class="col-md-3">
            <%= link_to 'Add Charge', new_loans_module_loan_additional_charge_path(@loan), class: "btn btn-default btn-sm pull-right" %><br> 
          </div>
        </div>
				<% @loan.loan_charges.each do |loan_charge| %>
				  <div class="row">
				    <div class="col-md-5 col-md-offset-1">
					    <span class=""><%= loan_charge.chargeable.try(:name) %></span>
					  </div>
					  <div class="col-md-3">
					    <% if loan_charge.charge_adjustment.present? %>
					    <strike class="text-danger pull-right"><%= number_to_currency loan_charge.charge_amount, class: "pull-right" %></strike><br>
					    <span class="pull-right"><%= number_to_currency loan_charge.charge_adjustment.charge_amount %></span>
					    <% else %>
					      <span class="pull-right"><%= number_to_currency loan_charge.charge_amount %></span>

					    <% end %>
					  </div>
					  <div class="col-md-2">
					    <%= link_to new_loans_module_loan_charge_adjustment_path(loan_charge), class: "btn btn-default btn-xs" do %>
                <span data-toggle="tooltip" title="Adjust Charge" class="text-warning"><i class="fa fa-pencil"></i> </span>
              <% end %> &nbsp;
					    <% if !loan_charge.regular? %>
					      <%= link_to loans_module_loan_charge_path(loan_charge), title: "Remove Charge", method: :delete do %>
                <span data-toggle="tooltip" title="Remove Charge" class="text-danger"><i class="fa fa-trash"></i> </span>
              <% end %>
					    <% end %>

					  </div>
					 </div>
					 <br>
				<% end %>	
        <% @loan.loan_additional_charges.all.each do |charge| %>
				  <div class="row">
				    <div class="col-md-6">
				      <%= charge.name %>
				    </div>
				    <div class="col-md-6">
				      <%= number_to_currency charge.amount %>
				    </div>
				  </div>
				    <br>
				  <% end %>
				<div class="row">
				  <div class="col-md-5 col-md-offset-1">
				    <p class="condensed-text"> TOTAL CHARGES </p>
				  </div>
				  <div class="col-md-3">
					  <span class="pull-right text-danger"><%= number_to_currency @loan.total_loan_charges %></span>
					</div>
			  </div>
        <hr>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
				    <h4 class="condensed-text">NET PROCEED</h4>
          </div>
          <div class="col-md-3">
            <h4 class="pull-right"> <%= number_to_currency @loan.net_proceed %></h4>
          </div>
        </div>
        <hr>
        <h4 class="condensed-text">LOAN DETAILS </h4>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <span class="condensed-text"> MONTHLY PAYMENT (AVERAGE) </span>
          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= number_to_currency @loan.amortization_schedules.order(created_at: :asc).first.total_amortization %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <span class="condensed-text"> NUMBER OF PAYMENTS </span>
          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= @loan.term.to_i %></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Cancel Application', loans_module_loan_application_path(@loan), method: :delete, class: "btn btn btn-danger" %>
          </div>
          <div class="col-md-6">
				    <%= link_to 'Proceed', loan_path(@loan), class: "btn btn-success pull-right" %>
          </div>
        </div>
			  </div>
      </div>
    </div>
			<div class="col-md-4">
        <div class="well">
     
			  <%= simple_form_for @loan, url: :loans_module_loan_application do |f| %>
		  <%= f.error_notification %>
		  <%= f.input :loan_product_id, collection: LoansModule::LoanProduct.all.map{|a| [a.name.titleize, a.id] } %>
		  <%= f.input :member_id, collection: Member.all.map {|a| [a.full_name, a.id] } %>
		  <%= f.input :loan_amount %>
		  <%= f.input :term, label: "Loan Term (in months)" %>
      <%= f.input :mode_of_payment, collection: LoansModule::Loan.mode_of_payments.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
		  <%= f.input :application_date, as: :string, input_html: { class: "datepicker" } %>
		  <%= f.submit "Calculate", class: "btn btn-primary" %>
		  <hr>
		<% end %>
		</div>
		
