<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%=image_tag(@loan.borrower.avatar.url(:medium), class: "img-circle", height: 80, width: 80) %>
          </div>
          <div class="col-md-8">
            <br>
            <h3 class="card-title"><%= @loan.borrower.first_and_last_name.try(:upcase) %></h3><br>
            <small><i class="fa fa-map-marker"></i> <%= @loan.borrower.current_address %></small>
          </div>
        </div>
      </div>
      <div class="card-body">
    		<div class="row">
          <div class="col-md-1">
          </div>
    		  <div class="col-md-6">
    				<h4 class="card-title">Amount Applied </h4>
          </div>
          <div class="col-md-3">
            <h4 class="card-title"> <span class="float-right"> <%= number_to_currency @loan.loan_amount %></span></h4>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
  				  <p class="text-danger">LESS CHARGES</p>
          </div>
          <div class="col-md-5">
            <%= link_to 'Add Charge', new_loans_module_loan_additional_charge_path(@loan), class: "btn btn-outline-primary btn-sm float-right" %><br>
          </div>
        </div>
        <br>
				<% @loan.loan_charges.each do |loan_charge| %>
				  <div class="row">
            <div class="col-md-1">
            </div>
				    <div class="col-md-5">
					    <span class=""><%= loan_charge.charge.try(:name) %></span>
					  </div>
					  <div class="col-md-3">
					    <% if loan_charge.charge_adjustment.present? %>
					    <strike class="text-danger float-right"><%= number_to_currency loan_charge.regular_charge_amount, class: "float-right" %></strike><br>
					    <span class="float-right"><%= number_to_currency loan_charge.charge_amount_with_adjustment %></span>
					    <% else %>
					      <span class="float-right"><%= number_to_currency loan_charge.regular_charge_amount %></span>
					    <% end %>
					  </div>
					  <div class="col-md-2">
					    <%= link_to new_loans_module_loan_charge_adjustment_path(loan_charge), title: "Adjust Charge" do %>
                <span data-toggle="tooltip" title="Adjust Charge" class="text-warning"><i class="fa fa-calculator"></i> </span>
              <% end %> &nbsp;
					    <% if !loan_charge.regular? %>
					      <%= link_to loans_module_loan_charge_path(loan_charge), title: "Remove Charge", method: :delete do %>
                <span data-toggle="tooltip" title="Remove Charge" class="text-danger"><i class="fa fa-trash"></i> </span>
              <% end %>
              <% if loan_charge.amortize_balance? %>
                <%= link_to new_loans_module_loan_charge_payment_schedule_path(loan_charge), title: "Set Payment Schedule" do %>
                <span data-toggle="tooltip" title="Set Payment Schedule" class="text-primary"><i class="fa fa-calendar"></i> </span>
              <% end %>
              <% end %>
					    <% end %>

					  </div>
					 </div>
					 <br>
				<% end %>

        <hr />
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
				    <h4 class="card-title">Net Proceed</h4>
          </div>
          <div class="col-md-3">
            <h4 class="card-title float-right"> <%= number_to_currency @loan.net_proceed %></h4>
          </div>
        </div>
        <hr>


        <h3 class="card-title"> Disbursement Voucher Details </h3>
          <%= simple_form_for [@loan, @voucher], url: :loans_module_disbursement_vouchers do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :description, input_html: { value: "Loan disbursement voucher of #{@loan.borrower_name}" }, as: :text %>
            <%= f.input :number, input_html: { value: Voucher.generate_number_for(@voucher) } %>
            <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
            <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.submit "Create Voucher", class: "btn btn-primary btn-lg float-right" %>
              <%= link_to 'Cancel ', loans_module_loan_application_path(@loan), method: :delete, class: "btn float-left" %>
				    <% end %>


			  </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Amortization Schedule <span class="badge bg-blue"><%= @loan.amortization_schedules.count %></span> </h4>
        </div>
        <div class="card-body">
          <div class="table table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Principal</th>
                  <th>Interest</th>
                  <th>Total</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <% @loan.amortization_schedules.order(created_at: :asc).each do |schedule| %>
                  <tr>
                    <td><%= schedule.date.strftime("%B %e, %Y") %>
                    </td>
                    <td><%= number_to_currency schedule.principal %></td>
                    <td>
                      <% if schedule.has_prededucted_interest? %>
                       <span class="label bg-red">
                       PREDEDUCTED </span>
                      <% else %>
                        <%= number_to_currency schedule.interest %>
                      <% end %>
                    </td>

                    <td><%= number_to_currency schedule.total_amortization %> </td>
                    <td><%= number_to_currency @loan.balance_for(schedule) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-5">
    <div class="card card-solid">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @borrower.share_capitals.each do |share_capital| %>
          <h4><%= number_to_currency share_capital.paid_up_balance %></h4>
          <div class="card-footer">
            <%=link_to 'Add Capital Build Up', new_loans_module_loan_share_capital_build_up_path(share_capital_id: share_capital.id, loan_id: @loan.id), class: "btn btn-warning btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card card-solid">
      <div class="card-header">
        <h3 class="card-title"> Previous Loans </h3>
      </div>
      <div class="card-body">
         <p class="text-muted">PREVIOUS LOANS </p>
        <% @borrower.loans.disbursed(from_date: Date.today, to_date: Date.today).each do |loan| %>
          <%= number_to_currency loan.balance %>
          <%=link_to 'New Payment', new_loans_module_loan_previous_loan_payment_path(previous_loan_id: loan.id, loan_id: @loan.id) %>
        <%end %>
      </div>
    </div>
    <div class="card card-solid">
      <div class="card-header">
        <h3 class="card-title"> Program Subscriptions </h3>
      </div>
      <div class="card-body">
        <% @loan.borrower.program_subscriptions.unpaid.each do |subscription| %>
          <div class="row">
            <div class="col-md-6">
              <%= subscription.name %>
            </div>
            <div class="col-md-3">
              <%= subscription.contribution %>
            </div>
            <div class="col-md-3">
              <%= link_to 'Add to Charges', loans_module_loan_borrower_subscription_charges_path(@loan, program_subscription_id: subscription.id), method: :create, class: "btn btn-default btn-sm" %>
            </div>
          </div>
          <br />
        <% end %>
      </div>
    </div>
    <div class="card card-solid">
      <div class="card-header with-border">
        <h3 class="card-title"> Savings </h3>
      </div>
      <div class="card-body">
        <% @borrower.savings.each do |savings_account| %>
        <h4><%= number_to_currency savings_account.balance %></h4>
        <%= link_to "Add Deposit", new_loans_module_loan_savings_account_deposit_path(savings_account_id: savings_account.id, loan_id: @loan.id), class: "btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="card card-solid">
      <div class="card-header">
        <h3 class="card-title"> Accounts Receivable Store </h3>
      </div>
      <div class="card-body">
        <% current_user.cooperative.store_fronts.each do |store_front| %>
        <%= store_front.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
