<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%=image_tag(@loan.borrower.avatar.url(:medium), class: "img-circle", height: 80, width: 80) %>
          </div>
          <div class="col-md-8">
            <br>
            <h3 class="box-title"><%= @loan.borrower.first_and_last_name.try(:upcase) %></h3><br>
            <small><i class="fa fa-map-marker"></i> <%= @loan.borrower.current_address %></small>
          </div>
        </div>
      </div>
      <div class="box-body">
        <p class="text-muted"> Borrower's Profile </p>
        Share Capital
        <%#= @loan.borrower.share_capitals.balance %>
        <hr />
        <p class="text-muted">PREVIOUS LOANS </p>
        <% @loan.borrower.loans.disbursed_loans.each do |loan| %>
          <%= number_to_currency loan.balance %>
          <%=link_to 'New Payment', new_loans_module_loan_previous_loan_payment_path(previous_loan_id: loan.id, loan_id: @loan.id) %>
        <% end %>
        <hr>

          Unpaid Contributions
          <% @loan.borrower.program_subscriptions.unpaid.each do |subscription| %>
          <div class="row">
            <div class="col-md-6">
              <%= subscription.name %>
            </div>
            <div class="col-md-3">
              <%= subscription.contribution %>
            </div>
            <div class="col-md-3">
              <%= link_to 'Add to Charges', loans_module_loan_borrower_subscription_charges_path(@loan, program_subscription_id: subscription.id), method: :create, class: "btn btn-default btn-sm" %>
          </div>
        </div>
          <% end %>
          <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <p class="condensed-text">Accounts Receivable Store</p>
          </div>
          <div class="col-md-3">
            <span class="pull-right"> <%= number_to_currency @loan.borrower.account_receivable_store_balance %></span>
            <%= link_to 'New Payment', new_loans_module_loan_store_credit_payment_path(@loan) %>
          </div>
        </div>
        <br>
        <hr />
        <p class="text-purple">LOAN APPLICATION DETAILS </p>
    		<div class="row">
    		  <div class="col-md-5 col-md-offset-1">
    				<p class="condensed-text">AMOUNT APPLIED </p>
          </div>
          <div class="col-md-3">
            <span class="pull-right"> <%= number_to_currency @loan.loan_amount %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
  				  <p class="text-danger condensed-text">LESS CHARGES</p>
          </div>
          <div class="col-md-3">
            <%= link_to 'Add Charge', new_loans_module_loan_additional_charge_path(@loan), class: "btn btn-danger btn-sm pull-right" %><br>
          </div>
        </div>
        <br>
				<% @loan.loan_charges.each do |loan_charge| %>
				  <div class="row">
				    <div class="col-md-5 col-md-offset-1">
					    <span class=""><%= loan_charge.chargeable.try(:name) %></span>
					  </div>
					  <div class="col-md-3">
					    <% if loan_charge.charge_adjustment.present? %>
					    <strike class="text-danger pull-right"><%= number_to_currency loan_charge.regular_charge_amount, class: "pull-right" %></strike><br>
					    <span class="pull-right"><%= number_to_currency loan_charge.charge_amount_with_adjustment %></span>
					    <% else %>
					      <span class="pull-right"><%= number_to_currency loan_charge.regular_charge_amount %></span>
					    <% end %>
					  </div>
					  <div class="col-md-2">
					    <%= link_to new_loans_module_loan_charge_adjustment_path(loan_charge), class: "btn btn-default btn-xs" do %>
                <span data-toggle="tooltip" title="Adjust Charge" class="text-warning"><i class="fa fa-pencil"></i> </span>
              <% end %> &nbsp;
					    <% if !loan_charge.regular? %>
					      <%= link_to loans_module_loan_charge_path(loan_charge), title: "Remove Charge", method: :delete do %>
                <span data-toggle="tooltip" title="Remove Charge" class="text-danger"><i class="fa fa-trash"></i> </span>
              <% end %>
              <% if loan_charge.amortize_balance? %>
                <%= link_to new_loans_module_loan_charge_payment_schedule_path(loan_charge), title: "Set Payment Schedule" do %>
                <span data-toggle="tooltip" title="Set Payment Schedule" class="text-primary"><i class="fa fa-calendar"></i> </span>
              <% end %>
              <% end %>
					    <% end %>

					  </div>
					 </div>
					 <br>
				<% end %>

        <hr />
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
				    <h4 class="condensed-text">NET PROCEED</h4>
          </div>
          <div class="col-md-3">
            <h4 class="pull-right"> <%= number_to_currency @loan.net_proceed %></h4>
          </div>
        </div>
        <hr>
        <h4 class="condensed-text">LOAN DETAILS </h4>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <span class="condensed-text"> MONTHLY PAYMENT (AVERAGE) </span>
            <%=link_to 'View Schedule', loans_module_loan_amortization_schedules_path(@loan, format: 'pdf') %>

          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= number_to_currency @loan.amortization_schedules.average_monthly_payment(@loan) %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <span class="condensed-text"> NUMBER OF PAYMENTS </span>
          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= @loan.amortization_schedules.count %></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Cancel Application', loans_module_loan_application_path(@loan), method: :delete, class: "btn btn btn-danger" %>
          </div>
          <div class="col-md-6">
				    <%= link_to 'Proceed', loan_path(@loan), class: "btn btn-success pull-right" %>
          </div>
        </div>
			  </div>
      </div>
    </div>
