
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@loan_application.avatar, class: "img-circle", height: 60, width: 60) %><br>
          <h3 class="card-title"> <%= @borrower.name %> </h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title">Loan Amount </h3>
          </div>
          <div class="col-md-6">
            <h3 class="card-title"><%= number_to_currency @loan_application.loan_amount %></h3>
          </div>
        </div>
       <br>
        <% @loan_application.voucher_amounts.each do |voucher_amount| %>
        <div class="row">
          <div class="col-md-5">
            <%= voucher_amount.description %>
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency voucher_amount.adjusted_amount %>
            </span>
          </div>
          <div class="col-md-3">
            <%= link_to 'Adjust', new_loans_module_voucher_amount_amount_adjustment_path(voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id) %>
          </div>
        </div>
        <br>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title"> Net Proceed </h3>
          </div>
          <div class="col-md-6">
            <h3 class="card-title"><%= number_to_currency @loan_application.net_proceed %></h3>
          </div>
        </div>
        <hr>
        <%= simple_form_for [@loan_application, @voucher], url: :loans_module_disbursement_vouchers do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :description, input_html: { value: "Loan disbursement voucher of #{@loan_application.borrower_name}" }, as: :text %>
            <%= f.input :number, input_html: { value: Voucher.generate_number_for(@voucher) } %>
            <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>

            <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
            <%= f.input :net_proceed, input_html: { value: @loan_application.net_proceed }, as: :hidden %>


              <%= f.submit "Create Voucher", class: "btn btn-primary btn-lg float-right" %>
              <%= link_to 'Cancel ', loans_module_loan_application_path(@loan_application), method: :delete, class: "btn float-left" %>
            <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-solid">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @borrower.share_capitals.each do |share_capital| %>
          <h4><%= number_to_currency share_capital.paid_up_balance %></h4>
          <div class="card-footer">
            <%=link_to 'Add Capital Build Up', new_loans_module_loan_application_capital_build_up_processing_path(share_capital_id: share_capital.id, loan_application_id: @loan_application.id), class: "btn btn-warning btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Amortization Schedules </h3>
  </div>
  <div class="card-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th> Date </th>
      <th> Principal </th>
      <th> Interest </th>
      <th> Total </th>
      <th> Loan Balance </th>
    </tr>
  </thead>
<tbody>
<% @loan_application.amortization_schedules.each do |amortization_schedule| %>
  <tr>
<td><%= amortization_schedule.date.strftime("%B %e, %Y") %></td>
<td><%= number_to_currency amortization_schedule.principal %></td>
<td><%= number_to_currency amortization_schedule.interest %></td>
<td><%= number_to_currency amortization_schedule.total_amortization %></td>
<td><%= number_to_currency @loan_application.balance_for(amortization_schedule) %></td>

</tr>

<% end %>
</tbody>
</table>
