
<div class="row">
  <div class="col-md-7 offset-md-2">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@loan_application.avatar, height: 45, width: 45, class: "img-circle") if @loan_application.avatar.attached? %><br>
          <h3 class="card-title"> <%= @loan_application.borrower_name %> </h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Voucher (PDF)', loans_module_loan_application_voucher_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-left" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Schedule (PDF)', loans_module_loan_application_amortization_schedules_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
        <br>
      </div>
    </div>
  </div>
</div>
