<div class="row">
  <div class="col-md-6 col-md-offset-3">
<div class="box box-solid">
  <div class="box-header">
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-3">

         <%= member_avatar(@voucher.voucherable.borrower, style: 'width:60px;height:60px;', class: 'media-object img-circle') %>

      </div>
      <div class="col-md-9">
        <p><%= @voucher.voucherable.borrower.full_name.upcase %></p>
      </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-md-6">
      &nbsp; &nbsp; Loan Amount 
    </div>
    <div class="col-md-5">
      <span class="pull-right"> <%= number_to_currency @voucher.voucherable.loan_amount %></span>
    </div>
  </div>
  <br>
  <p class="text-danger">LOAN CHARGES </p>
  <% @voucher.voucherable.loan_charges.each do |loan_charge| %>
    <div class="row">
      <div class="col-md-6">
        &nbsp; &nbsp; <%= loan_charge.chargeable.name %>
      </div>
      <div class="col-md-5">
          <span class="pull-right"> <%= number_to_currency loan_charge.charge_amount_with_adjustment %></span>
      </div>
     
     
     </div>
     <br>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      &nbsp; &nbsp; Net Proceed
    </div>
    <div class="col-md-5">
      <span class='pull-right'> <%= number_to_currency @voucher.amount %></span>
    </div>
  </div>
  <br>