<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
    <div class="box-header">
    </div>
    <div class="box-body">
        <p class="text-muted">DELIVERED STOCKS </p>
        <div class="row">
          <div class="col-md-3">
            <small><b>QTY</b></small>
          </div>
          <div class="col-md-5">
            <small><b>PRODUCT</b></small>
            
          </div>
          <div class="col-md-3">
            <small><b>TOTAL COST</b></small>
          </div>
        </div>
        <hr>
        <% @voucher.voucherable.stocks.each do |stock| %>
          <div class="row">
            <div class="col-md-3">
              <%= stock.quantity %>
            </div>
            <div class="col-md-5">
              <%=stock.name %><br>
              <span class="label bg-gray"><%=number_to_currency stock.unit_cost %></span>
            </div>
            <div class="col-md-3">
              <%= stock.total_cost %>  
            </div>
          </div>
          <br>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <b>TOTAL</b>
          <div class="col-md-6">
          <span class="pull-right">
              <%=number_to_currency @voucher.voucherable.stocks.pluck(:total_cost).sum%>
            </span>
          </div>
        </div>
      </div>
        <hr>
        <%= simple_form_for [@voucher, @disbursement], url: :voucher_disbursements do |f| %>
  <%= f.error_notification %>
  <%= f.input :voucher_id, input_html: { value: @voucher.id }, as: :hidden %>
  <%= f.input :voucherable_id, input_html: { value: @voucher.payee_id }, as: :hidden %>
  <%= f.input :amount, input_html: { value: @voucher.payable_amount }, as: :hidden %>
  <%= f.input :reference_number %>
  <%= f.input :date, label: "Date Disbursed", as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
  <div class="box-footer">
    <%= link_to 'Back', voucher_path(@voucher), class: "btn btn-default pull-left" %>
    <%= f.submit "Disburse Loan", class: "btn btn-primary pull-right" %>
  </div>
<% end %>

