<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
            Payee <%= @voucher.payee_name %>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Account</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @voucher.voucher_amounts.each do |voucher_amount| %>
                  <tr>
                    <td><%= voucher_amount.description %></td>
                    <td><%= voucher_amount.account_name %></td>
                    <td>
                      <% if voucher_amount.debit? %>
                        <%= number_to_currency voucher_amount.amount %>
                      <% end %>
                    </td>
                     <td>
                      <% if voucher_amount.credit? %>
                        <%= number_to_currency voucher_amount.amount %>
                      <% end %>
                    </td>
                    <td>
                    </td>
                  </tr>
                <% end %>
                <% if @voucher.voucher_amounts.present? %>
                   <tr>
                    <td></td>
                    <td>TOTAL</td>
                    <td><b><%= number_to_currency @voucher.voucher_amounts.debit.sum(:amount) %></b></td>
                    <td><b><%= number_to_currency @voucher.voucher_amounts.credit.sum(:amount) %></b></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <hr>
            <h4><b>Amount to be Disbursed: <%= number_to_currency @voucher.voucher_amounts.where(account_id: current_user.cash_on_hand_account.id).sum(:amount) %></b></h4>
            <hr />
            <%= simple_form_for [@voucher, @disbursement], url: :voucher_disbursements do |f| %>
              <%= f.error_notification %>
              <%= f.input :voucher_id, input_html: { value: @voucher.id }, as: :hidden %>
              <%= f.input :voucherable_id, input_html: { value: @voucher.payee_id }, as: :hidden %>
              <%= f.input :amount, input_html: { value: @voucher.payable_amount }, as: :hidden %>
              <%= f.input :description, required: true %>
              <%= f.input :reference_number %>
              <%= f.input :date, label: "Date Disbursed", as: :string, input_html: { class: "datepicker" } %>
              <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.input :total_amount, input_html: { value: @voucher.voucher_amounts.where(account_id: current_user.cash_on_hand_account.id).sum(:amount) } %>
              <div class="box-footer">
                <%= link_to 'Back', voucher_path(@voucher), class: "btn btn-default pull-left" %>
                <%= f.submit "Disburse", class: "btn btn-primary pull-right" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

