<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        Order Details
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6 border-right">
            <% @cart.line_items.each do |line_item| %>
            <div class="row">
              <div class="col-md-4">
                <b><%= line_item.name %></b>
              </div>
              <div class="col-md-2">
                <%= line_item.quantity %>
              </div>
              <div class="col-md-2">
                <%= line_item.unit_cost %>
              </div>
              <div class="col-md-2">
                <%= line_item.total_cost %>
              </div>
            </div>
            <br>
            <% end %>
          </div>
      
        <div class="col-md-4 col-md-offset-1">
          <%= simple_form_for Order.new do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :member_id, collection: Member.all.map{|a| [a.full_name, a.id] } %>
            <%= f.input :payment_type, input_html: {class: 'icheck-me', "data-skin" => 'square', "data-color" => "blue"}, collection: Order.payment_types.keys.to_a.map {|a| [a.titleize, a]}, as: :radio_buttons %>
            <%= f.submit "Save Order", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
