<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h3 class="card-title"> From: </h3>
<h3 class="card-title">
  <%= number_to_currency @share_capital.paid_up_balance %>
</h3>
<p class="text-muted"><%= @share_capital.name %></p>
<hr>
<h3 class="card-title"> To: </h3>
<h3 class="card-title"><%= number_to_currency @destination_share_capital.paid_up_balance %></h3>
<p class="text-muted"><%= @destination_share_capital.subscriber_name %></p>
<br>
<%= simple_form_for @balance_transfer, url: :share_capital_balance_transfers do |f| %>
  <%= f.input :amount %>
  <%= f.input :origin_id, input_html: { value: @share_capital.id }, as: :hidden %>
  <%= f.input :destination_id, input_html: { value: @destination_share_capital.id }, as: :hidden %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :reference_number %>
  <%= f.submit "Proceed", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
<% end %>
