<div class='container'>
  <div class='card'>
    <div class='card-body'>
      <h3 class='title-up'><%= @entry.reference_number %></h3>
      <%= @entry.description %>
      <%= @entry.entry_date %>
      <%= @entry.entry_time %>



     <div class='table table-responsive'>     
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Borrower</th>
        <th> Loan Product </th>
        <th class="text-right">Principal</th>
        <th class="text-right">Interest</th>
        <th class="text-right">Fines</th>
        <th class="text-right">Total Payment</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% @loans.each do |loan| %>
      <% if @entry.cancelled? %>
        <tr>
          <td><%= @entry.entry_date.strftime("%B %e, %Y") %> - <%= @entry.reference_number %>- CANCELLED</td>
          
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td></td>
        </tr>
      <% else %>
        <% interest  = LoansModule::Payments::Classifier.new(loan: loan, entry: @entry).interest %>
        <% penalty   = LoansModule::Payments::Classifier.new(loan: loan, entry: @entry).penalty %>
        <% principal = LoansModule::Payments::Classifier.new(loan: loan, entry: @entry).principal %>

        <tr>
          <td><%= loan.borrower_name %> </td>
          <td><%= loan.loan_product_name %></td>
          <td class="text-right">
            <% if !principal.zero? %>
              <%= number_to_currency principal %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="text-right">
            <% if !interest.zero? %>
              <%= number_to_currency interest %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="text-right">
            <% if !penalty.zero? %>
              <%= number_to_currency penalty %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="text-right">
            <%= number_to_currency (interest + penalty + principal) %>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<center><%==pagy_bootstrap_nav(@pagy) %></center>
</div>
