<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Consolidated Proofsheet Report </h4>
        <%= link_to 'PDF', accounting_module_reports_proofsheets_path(format: "pdf"), class: "btn btn-default" %>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Debit</th>
                <th>Account Title</th>
                <th>Credit</th>
              </tr>
            </thead>
            <tbody>
              <% @accounts.each do |account| %>
                <tr>
                  <td><%= number_to_currency account.credits_balance %></td>
                  <td><%= account.name %></td>
                  <td><%= number_to_currency account.debits_balance %></td>
                </tr>
              <% end %>
              <tr>
                <td><b><%= number_to_currency @accounts.map{|a| a.credits_balance}.sum %></b></td>
                <td></td>
                <td><b><%= number_to_currency @accounts.map{|a| a.debits_balance}.sum %></b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
