<div class="row">
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header">
        <%=form_tag management_department_share_capitals_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account Number ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
      </div>
      <div class="box-body">
        <% @share_capitals.each do |share_capital| %>
          <%=link_to management_department_share_capital_path(share_capital) do %>
            <% cache share_capital do %>
              <div class="row">
                <div class="col-md-3">
                  <center> <%= member_avatar(share_capital.member, style: 'width:60px;height:60px;', class: 'media-object img-circle') %></center>
                </div>
                <div class="col-md-5">
                  <%= share_capital.account_number %>
                  <br>
                  <small class="text-muted"><%= share_capital.member.first_and_last_name.upcase %></small><br>
                  <small class="text-muted"> <%= share_capital.share_capital_product.try(:name) %></small><br>
                  <br>
                </div>
                <div class="col-md-3">
                  <h4 class="text-muted"><center><%=number_to_currency share_capital.balance %></center></h4>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title"> Saving Products </h3>
      </div>
      <div class="box-body">
        <% ShareCapitalProduct.includes(:subscribers).all.each do |share_capital_product_product| %>
          <div class="row">
            <div class="col-md-6">
              <%=share_capital_product_product.name %><br>
              <span class="badge bg-gray"><%=share_capital_product_product.subscribers.count %> Subscribers </span>
            </div>
            <div class="col-md-3">
              <%=number_to_currency share_capital_product_product.share_capital_product_shares.sum(:share_count)%>
            </div>
          </div>
          <br>
        <% end %>
      </div>
      <div class="box-footer">
        <small> TOTAL SAVINGS </small>
        <h3> <%=number_to_currency @share_capitals.sum(&:balance) %></h3>
      </div>
    </div>
  </div>
</div>
<!--
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row">
    <div class="col-md-12">
      <h3>Default Tab</h3>

      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              Tab 1 </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              Tab 2 </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
              Tab 3 </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <p>
                I'm in Tab 1.
              </p>
              <p>
                Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>
              <p>
                <a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
              </p>
              <p>
                <a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <p>
                Howdy, I'm in Tab 3.
              </p>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
              </p>
              <p>
                <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <h3>Below Tab</h3>
      
      <div class="tabbable-panel">
        <div class="tabbable-line tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_below_1">
              <p>
                I'm in Tab 1.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>
              <p>
                <a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
            <div class="tab-pane" id="tab_below_2">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>
              <p>
                <a class="btn btn-danger" href="http://j.mp/metronictheme" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
            <div class="tab-pane" id="tab_below_3">
              <p>
                Howdy, I'm in Tab 3.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.
              </p>
              <p>
                <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab_below_1" data-toggle="tab">
              Tab 1 </a>
            </li>
            <li class="">
              <a href="#tab_below_2" data-toggle="tab">
              Tab 2 </a>
            </li>
            <li>
              <a href="#tab_below_3" data-toggle="tab">
              Tab 3 </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<center>
<strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
</center>
<br>
<br>
