<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <h3 class="card-title"> Cash Receipts </h3>
          </div>
          <div class="col-md-6">
            <%=form_tag treasury_module_cash_receipts_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search OR #, description", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <span class="pull-right">
              <%=link_to 'New Cash Receipt', new_treasury_module_cash_receipt_line_item_path, class: "btn btn-primary" %>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Reference #</th>
                <th>Date</th>
                <th>Member/Payee</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @cash_receipts.each do |cash_receipt| %>
                <tr>
                  <td><%= link_to cash_receipt.reference_number, accounting_module_entry_path(cash_receipt) %></td>
                  <td><%= cash_receipt.entry_date.strftime("%B %e, %Y") %></td>
                  <td><%= cash_receipt.commercial_document.try(:name) %></td>
                  <td><%= cash_receipt.description %></td>
                  <td>
                    <span class="pull-right">
                      <%= number_to_currency cash_receipt.amounts.where(account: current_user.cash_on_hand_account).sum(:amount) %>
                    </span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <center><%= will_paginate @cash_receipts %></center>
      </div>
    </div>
  </div>
</div>
