<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
    <div class="box-header bg-gray">
      <div class="row">
        <div class="col-md-3">
          <center><%= image_tag(@loan.borrower.avatar.url(:medium), style: 'width:80px;height:80px;', class: 'media-object img-circle') %></center>
        </div>
        <div class="col-md-9">
          <br>
          <h3 class="box-title"><%= @loan.borrower_name.upcase %></h3><br>
           <i class="fa fa-map-marker"></i> Address: <%= @loan.borrower.try(:current_address) %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h4><%= number_to_currency @share_capital.paid_up_balance %></h4>
          <small class="text-muted"> SHARE CAPITAL </small>
          <hr>
          <%= simple_form_for [@share_capital, @capital_build_up], url: :loans_module_loan_share_capital_build_ups do |f| %>
            <%= f.error_notification %>
            <%= f.input :amount %>
            <%= f.input :share_capital_id, input_html: { value: @share_capital.id }, as: :hidden %>
            <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>

            <div class="box-footer">
              <%= f.submit "Add Capital Build Up", class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
