<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"> Product Details </h3>
      </div>
      <div class="box-body">
        <%= simple_form_for @product, url: :store_front_module_products do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category_id, collection: StoreFrontModule::Category.all.map{|a| [a.name, a.id] } %>
          <%= f.input :quantity %>
          <%= f.input :unit_of_measurement_code %>
          <%= f.input :unit_of_measurement_description %>
          <%= f.input :price, label: "Selling Price" %>
          <div class="box-footer">
            <%= f.submit "Create Product", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
