<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Time Deposit Product Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @time_deposit_product, url: :management_module_settings_time_deposit_products, html: {autocomplete: "off"} do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :minimum_deposit, label: 'Minimum Deposit Amount', as: :currency %>
          <%= f.input :maximum_deposit, label: 'Maximum Deposit Amount', as: :currency %>
          <%= f.input :interest_rate %>
          <%= f.input :number_of_days %>
          <%= f.input :account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
          <%= f.input :interest_expense_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
          <%= f.input :break_contract_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
          <%= f.input :break_contract_fee %>
          <%= f.input :break_contract_rate %>
          <hr>
          <%= f.submit "Create Time Deposit Product", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#coop_services_module_time_deposit_product_account_id").select2({
      theme: "bootstrap"
    });
    $("#coop_services_module_time_deposit_product_interest_expense_account_id").select2({
      theme: "bootstrap"
    });
    $("#coop_services_module_time_deposit_product_break_contract_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
