<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"><%= @cooperative_service.title %></h3>
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to 'Entries', accounting_module_cooperative_service_entries_path(@cooperative_service), class: "nav-link #{'active' if current_page?(accounting_module_cooperative_service_entries_path(@cooperative_service))}" %></li>
        <li class="nav-item"><%= link_to 'Accounts', accounting_module_cooperative_service_accounts_path(@cooperative_service), class: "nav-link #{'active' if current_page?(accounting_module_cooperative_service_accounts_path(@cooperative_service))}" %></li>

      </ul>
      <hr>

      <% if current_page?(accounting_module_cooperative_service_entries_path(@cooperative_service)) %>
        <%= render 'accounting_module/cooperative_services/partials/entries' %>
      <% end %>

      <% if current_page?(accounting_module_cooperative_service_accounts_path(@cooperative_service)) %>
        <%= render 'accounting_module/cooperative_services/partials/accounts' %>
      <% end %>

    </div>
  </div>
</div>
