
  <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <%= link_to image_tag(current_user.avatar.url(:medium), class: "img-circle", width: 40, height: 40), employee_path(current_user) %>
          </div>
          <div class="pull-left info">
            <p><%=link_to link_to current_user.first_name, employee_path(current_user) %></p>
            <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role.titleize %></small></a>
          </div>
        </div>
        <!-- search form -->
        <%=form_tag members_path, method: :get, class: "sidebar-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header"> MANAGEMENT </li>
          <li class=<%= 'active' if current_page?(management_module_index_path) %> ><a href="/management_module"><i class="fa fa-dashboard"></i> <span> Dashboard</span></a></li>
            <li class=<%= 'active' if current_page?(members_path) %> ><a href="/members"><i class="fa fa-users"></i> <span> Members</span></a></li>
            <li class=<%= 'active' if current_page?(vouchers_path) %> ><a href="/vouchers"><i class="fa fa-folder"></i> <span> Vouchers</span></a></li>

          <li class=<%= 'active' if current_page?(share_capitals_path) %> ><a href="/share_capitals"><i class="fa fa-pie-chart"></i> <span> Share Capitals</span></a></li>
          <li class=<%= 'active' if current_page?(savings_accounts_path) %> ><a href="/savings_accounts"><i class="fa fa-money"></i> <span> Savings </span></a></li>
          <li class=<%= 'active' if current_page?(time_deposits_path) %> ><a href="/time_deposits"><i class="fa fa-server"></i> <span> Time Deposits </span></a></li>
          <li class="header"> LOANS </li>
          <li class=<%#= 'active' if current_page?(loans_module_loans_path) %> ><a href="/loans"><i class="fa fa-credit-card"></i> <span> Loans </span></a></li>
          <li class="header"> ACCOUNTING </li>
          <li class=<%= 'active' if current_page?(accounting_module_entries_path) %> ><a href="/accounting_module/entries"><i class="fa fa-circle-o"></i> <span> General Ledger</span></a></li>
          <li class=<%= 'active' if current_page?(accounting_module_accounts_path) %> ><a href="/accounting_module/accounts"><i class="fa fa-circle-o"></i> <span> Chart of Accounts</span></a></li>


            <li class=<%#= 'active' if current_page?(management_module_settings_path) %> ><a href="/management_module/settings"><i class="fa fa-cog"></i> <span> Settings</span></a></li>
            <li class=<%= 'active' if current_page?(employees_path) %> ><a href="/hr_module/employees"><i class="fa fa-users"></i> <span> Employees</span></a></li>
            <li class=<%= 'active' if current_page?(calendars_path) %> ><a href="/calendars"><i class="fa fa-calendar-o"></i> <span> Calendar</span></a></li>




      </section>
      <!-- /.sidebar -->
    </aside>
