  <div class="row">
    <div class="col-md-5">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title">Cash on Hand Details </h3>
        </div>
        <div class="box-body">
          <% User.with_cash_on_hands.each do |employee| %>
            <div class="row">
              <div class="col-md-2">
                <%= image_tag(employee.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %>
              </div>
              <div class="col-md-6">
                <b class="text-purple"><%= employee.first_and_last_name %></b><br>
                <%= employee.role.try(:titleize) %>
              </div>
              <div class="col-md-3">
                <span class="pull-right"><%= number_to_currency employee.cash_on_hand_account.balance(recorder_id: employee.id) %></span>
              </div>
            </div>
            <hr>
        <% end %>
        <div class="row">
          <div class="col-md-2">
            <%=image_tag('vault.png', height: 45, width: 45) %>
          </div>
          <div class="col-md-6">
            <%= AccountingModule::Account.find_by(name: "Cash on Hand (Vault)").name %>
          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= number_to_currency AccountingModule::Account.find_by(name: "Cash on Hand (Vault)").balance %></span>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-2">
             <%=image_tag('bank.png', height: 45, width: 45) %>
          </div>
          <div class="col-md-6">
            <%= AccountingModule::Account.find_by(name: "Cash in Bank").name %>
          </div>
          <div class="col-md-3">
            <span class="pull-right"><%= number_to_currency AccountingModule::Account.find_by(name: "Cash in Bank").balance %></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <b>TOTAL CASH</b>
          </div>
          <div class="col-md-5">
            <p class="pull-right"><b><%= number_to_currency AccountingModule::Account.find_by(name: "Cash and Cash Equivalents").balance %></b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Revenue</span>
              <span class="info-box-number">90<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-pie-chart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Expenses</span>
              <span class="info-box-number"><%=  AccountingModule::Expense.balance %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      <div class="col-md-2">
      <div class="box box-solid">
        <div class="box-body">
    <% User.all.each do |employee| %>
    <%= image_tag(employee.avatar.url(:medium), height: 60, width: 60) %>
    <% end %>