<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h4><center><%= image_tag(@member.avatar.variant(resize: '60x60'), class: 'media-object img-circle') if @member.avatar.attached? %></center></h4>
         <h3><center><%= @member.name %></center></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <%= simple_form_for [@member, @address], url: :member_addresses, html: { autocomplete: "off" } do |f| %>
              <%= f.input :complete_address %>
              <%= f.input :street_id, collection: Addresses::Street.all.map{ |a| [a.name, a.id] } %>
              <%= f.input :barangay_id, collection: Addresses::Barangay.all.map{ |a| [a.name, a.id] }  %>
              <%= f.input :municipality_id, collection: Addresses::Municipality.all.map{ |a| [a.name, a.id] }  %>
              <%= f.input :province_id, collection: Addresses::Province.all.map{ |a| [a.name, a.id] }  %>
              <%= f.input :current %>
              <hr>
              <%= link_to "Cancel", member_path(@member), class: 'btn btn-default' %>
              <%= f.submit "Save Address", class: "btn btn-primary float-right", disable_with: "Saving..." %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

