<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%=image_tag(@loan.avatar, class: 'img-circle', height: 60, width: 60) %>
            </div>
            <div class="col-md-9">
              <h4 class="title-up"><%= @loan.borrower_full_name %></h4>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i> <%= @loan.borrower.current_address_details %><br>
                <i class="fa fa-phone"></i> <%= @loan.borrower.current_contact_number %>
              </small>
            </div>
          </div>
          <hr>
          <% @borrower_savings.each do |saving| %>
            <div class="row">
              <div class="col-md-7">
                <b><%= saving.depositor_name %></b>
                <h3 class="title-up"><%= number_to_currency saving.balance %></h3>
                <small class="text-muted"><%= saving.saving_product_name %></small>
              </div>
              <div class="col-md-5">
                <br>
                <%= link_to 'Select Account', new_loans_module_loan_payment_from_saving_processing_path(loan_id: @loan.id, saving_id: saving.id), id: "#{saving.id}-select-saving-for-loan-payment", class: 'btn btn-outline-danger float-right' %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="title-up"> Savings Accounts </h3>

          <%= form_tag new_loans_module_loan_payment_from_saving_path(@loan), method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-primary") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          <br>

          <% @savings.each do |saving| %>
            <div class="row">
              <div class="col-md-7">
                <b><%= saving.depositor_name %></b>
                <h3 class="title-up"><%= number_to_currency saving.balance %></h3>
                <small class="text-muted"><%= saving.saving_product_name %></small>
              </div>
              <div class="col-md-5">
                <br>
                <%= link_to 'Select Account', new_loans_module_loan_payment_from_saving_processing_path(loan_id: @loan.id, saving_id: saving.id), id: "#{saving.id}-select-saving-for-loan-payment", class: 'btn btn-outline-danger float-right' %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <% if current_cart.voucher_amounts.present? %>
        <div class="card">
          <div class="card-body">
            <h3 class="title-up"> Voucher Details </h3>
            <% current_cart.voucher_amounts.debit.each do |amount| %>
              <div class="row">
                <div class="col-md-7">
                  <%= current_office.savings.find_by(liability_account_id: amount.account_id).depositor_name %>
                </div>
                <div class="col-md-4">
                  <span class="float-right">
                    <%= number_to_currency amount.amount %>
                  </span>
                </div>
                <div class="col-md-1">
                  <%= link_to loans_module_loan_payment_from_saving_processing_path(loan_id: @loan.id, id: amount.id), method: :delete do %>
                    <i class="fa fa-times text-danger"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="row">
              <div class="col-md-7">
                Total
              </div>
              <div class="col-md-4">
                <span class="float-right">
                  <%= number_to_currency current_cart.voucher_amounts.where(account: @loan.receivable_account).total %>
                </span>
              </div>
            </div>
            <hr>
            <%= simple_form_for @payment_voucher, url: :loans_module_loan_payment_vouchers do |f| %>
              <%= f.input :description %>
              <%= f.input :reference_number %>
              <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
              <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
              <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

              <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
              <%= f.submit 'Proceed', class: 'btn btn-danger btn-block' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
