<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="nav-tabs-custom">
      <div class="card-header">
        <h4><center><%= image_tag(@share_capital.subscriber.avatar.url(:medium), style: 'width:80px;height:80px;', class: 'media-object img-circle') %></center></h4>
        <center><h3 class="card-title"><%= @share_capital.subscriber_name %></h3></center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
            <div class="row">
              <div class="col-md-5">
                Balance
              </div>
              <div class="col-md-5">
                <span class="pull-right">
                  <%= number_to_currency @share_capital.balance %>
                </span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                Closing Account Fee
              </div>
              <div class="col-md-5">
                <span class="pull-right">
                  <% if @share_capital.share_capital_product.has_closing_account_fee? %>
                  <%=number_to_currency @share_capital.share_capital_product.closing_account_fee %>
                  <% end %>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <b>Amount to Disburse</b>
              </div>
              <div class="col-md-5">
                <span class="pull-right">
                  <b><%= number_to_currency @share_capital.balance - @share_capital.share_capital_product_closing_account_fee %></b>
                </span>
              </div>
            </div>
            <br>
        <%= simple_form_for [@share_capital, @account_closing], url: :share_capital_account_closings do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount, input_html: { value: @share_capital.balance - @share_capital.share_capital_product_closing_account_fee } %>
          <%= f.input :closing_account_fee, input_html: { value: @share_capital.share_capital_product_closing_account_fee } %>
          <%= f.input :reference_number %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :share_capital_id, input_html: { value: @share_capital.id },as: :hidden %>
          <%= f.input :recorder_id, input_html: { value: current_user.id },as: :hidden %>
          <div class="footer">
            <%= f.submit "Close Account", class: "btn btn-danger btn-block btn-lg", data: {disable_with: "Processing..." } %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
