<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <%=link_to 'PDF',monitoring_savings_products_path(format: 'pdf') %>
         <%=link_to 'This Day',monitoring_savings_products_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day ), class: "btn btn-default"  %>
            <%=link_to 'This Week',monitoring_savings_products_path(from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day ), class: "btn btn-default"  %>
            <%=link_to 'This Month',monitoring_savings_products_path(from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day ), class: "btn btn-default"  %>
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Product Name</th>
                <th># of Subscribers</th>
                <th>Outstanding Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @saving_products.each do |saving_product| %>
                <tr>
                  <td><%= saving_product.name %></td>
                  <td><%= saving_product.subscribers.count %> Accounts </td>
                  <td><%= number_to_currency saving_product.balance %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
