<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Savings Account Configuration
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%=simple_form_for @savings_account_config, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_settings_savings_account_configs do |f| %>
	<div class="modal-body">
	  <%= f.input :closing_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
	  <%= f.input :interest_expense_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
	  <%= f.input :closing_account_fee, as: :string %>
	  <%= f.input :number_of_days_to_be_dormant %>
	</div>
	<div class="modal-footer">
	  <%= f.submit "Save Configuration", class: 'btn btn-primary float-right', data: { disable_with: "Processing..." } %>
	</div>
<% end %>
