
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <h3 class="card-title"> Cash Disbursements </h3>
      </div>
      <div class="col-md-6">
        <%=form_tag treasury_module_disbursements_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search disbursements ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <span class="float-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New Cash Disbursement
            </button>
            <div class="dropdown-menu">
              <% current_user.cash_accounts.each do |cash_account| %>
                <%= link_to cash_account.name, new_treasury_module_cash_account_cash_disbursement_line_item_path(cash_account), class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<h3 class="card-title"> Transactions History</h3>
<br>
<% @cash_disbursements.each do |entry| %>
  <%= link_to accounting_module_entry_path(entry) do %>
    <%= render 'accounting_module/entries/partials/header', entry: entry %>
  <% end %>
<% end %>
<center><%= will_paginate @cash_disbursements %></center>
