<%= @loan.inspect %>
<%= @loan.loan_product_account %>
<%= @loan.loan_product_interest_account %>

<%= simple_form_for [@loan, @payment], url: :loans_module_loan_previous_loan_payments do |f| %>
<%= f.input :principal_amount %>
<%= f.input :interest_amount %>
<%= f.input :penalty_amount %>
<p class="text-danger"> DISCOUNT </p>
<%= f.input :discount_amount %>
<%= f.input :loan_id, input_html: { value: @loan.id } %>
<%= f.input :previous_loan_id, input_html: { value: @previous_loan.id } %>
<%= f.submit "Save Payment" %>
<% end %>
