<div class="row">
  <div class="col-md-4 col-md-offset-4">
<div class="box box-solid">
  <div class="box-header">
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-3">

         <%= member_avatar(@loan.member, style: 'width:60px;height:60px;', class: 'media-object img-circle') %>

      </div>
      <div class="col-md-9">
        <p><%= @loan.member.full_name.upcase %></p>
      </div>
    </div>
    <hr>
<%= simple_form_for [@loan, @payment], url: :loans_module_loan_payments do |f| %>
  <%= f.error_notification %>
  <%= f.input :amount %>
  <%= f.input :reference_number %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :loan_id, input_html: { value: @loan.id },as: :hidden %>
  <div class="box-footer">
    <%= f.submit "Save Payment", class: "btn btn-primary pull-right" %>
  </div>
<% end %>
l
