<div class="row">
  <div class="col-md-12">
    <div class="card">
  <div class="card-header">
    <h3 class="card-title">Loan Payment Details </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        Loan Details
        <%= number_to_currency @loan.loan_amount %>
        <hr>
        BALANCE
        <hr>
        INTEREST
        <hr>
        PENALTY
        <hr>
      </div>
  <div class="col-md-4">

    <div class="row">
      <div class="col-md-3">

         <%= member_avatar(@loan.member, style: 'width:60px;height:60px;', class: 'media-object img-circle') %>

      </div>
      <div class="col-md-9">
        <p><%= @loan.member.full_name.upcase %></p>
      </div>
    </div>
    <hr>
<%= simple_form_for [@loan, @payment], url: :loans_module_loan_payments do |f| %>
  <%= f.error_notification %>
  <%= f.input :principal_amount %>
  <%= f.input :interest_amount %>
  <%= f.input :penalty_amount %>
  <%= f.input :reference_number %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :loan_id, input_html: { value: @loan.id },as: :hidden %>
  <div class="box-footer">
    <%= f.submit "Save Payment", class: "btn btn-primary pull-right" %>
  </div>
<% end %>

