
  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box-header">
        </div>
        <div class="box-body">
          <%= month_calendar(start_date: @date) do |date| %>
          <%=link_to loans_module_schedule_path(date)  do %>
          <p><%=date.day %></p>

              <% LoansModule::AmortizationSchedule.scheduled_for(from_date: date.beginning_of_day, to_date: date.end_of_day).each do |schedule| %>
                <span class="text-primary" data-toggle="tooltip" title="<%= schedule.loan.borrower_name%>"><i class="fa fa-circle"></i></span>
              <% end %>
               <% Notice.for(date.beginning_of_day, date.end_of_day).count.times do %>
                <span class="text-red"><i class="fa fa-circle"></i></span>
              <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-4">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title"> Payment Schedules for <%= @date.to_date.strftime("%B %e, %Y") %></h3>
      </div>
      <div class="box-body">
      <%= link_to 'Print', loans_module_schedule_path(@date, format: 'pdf') %>
      <% LoansModule::AmortizationSchedule.scheduled_for(from_date: (Date.parse(@date).beginning_of_day), to_date: (Date.parse(@date).end_of_day)).each do |schedule| %>
        <%= link_to loans_module_amortization_schedule_path(schedule) do %>
        <div class="row">
          <div class="col-md-4">
            <%= schedule.loan.try(:borrower_name) %>
          </div>
          <div class="col-md-8">
            <%= number_to_currency schedule.try(:total_amortization) %>
          </div>
        </div>
        <br>
        <% end %>
      <% end %>
      <center> <%= link_to 'View All' %></center>

    </div>
  </div>
  </div>

