<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Payment Schedules for <%= @date.to_date.strftime("%B %e, %Y") %></h3>
      </div>
      <div class="card-body">
        <%= link_to 'Print', loans_module_schedule_path(@date, format: 'pdf'), class: "btn btn-default" %>
        <hr>
        <% @schedules.each do |schedule| %>
          <%= link_to loans_module_amortization_schedule_path(schedule) do %>
          <div class="row">
            <div class="col-md-4">
              <%= schedule.loan.try(:borrower_name) %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency schedule.try(:total_amortization) %>
            </div>
            <div class="col-md-4">
              <%= schedule.loan.try(:loan_product_name) %>
            </div>
          </div>
          <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

