<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Interest Configuration - <span class="text-muted"><%= @loan_product.name %></span>
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for [@loan_product, @interest_configuration], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_settings_loan_product_interest_configurations do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :rate %>
    <%= f.input :interest_revenue_account_id, label: 'Interest Revenue Account', collection: AccountingModule::Revenue.all.map{|a| [a.name, a.id] } %>
    <%= f.input :unearned_interest_income_account_id, label: 'Unearned Interest Income Account', collection: AccountingModule::Asset.all.map{|a| [a.name, a.id] } %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :calculation_type, label: 'Calculation Type', collection: LoansModule::LoanProducts::InterestConfig.calculation_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
      </div>
      <div class="col-md-6">
        <%= f.input :prededuction_type, label: 'Pre-Deduction Type', collection: LoansModule::LoanProducts::InterestConfig.prededuction_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
      </div>
    </div>
    <%= f. input :prededucted_rate, label: 'Pre-Deducted Rate' %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Interest Configuration", class: 'btn btn-danger float-right' %>
  </div>
<% end %>
