<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@loan_application.avatar.variant(resize: '60x60'), class: "img-circle") if @loan_application.avatar.attached? %><br>
          <h3 class="card-title"> <%= @loan_application.borrower_name %> </h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1"> Loan Product </div>
          <div class="col-md-5"> <%= @loan_application.loan_product_name %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1"> Loan Term </div>
          <div class="col-md-5"> <%= @loan_application.term %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1"> Mode of Payment </div>
          <div class="col-md-5"> <%= @loan_application.mode_of_payment.titleize %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1"> Application Date </div>
          <div class="col-md-5"> <%= @loan_application.application_date.strftime("%B %e, %Y") %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1"> Purpose of Loan </div>
          <div class="col-md-5"> <%= @loan_application.purpose %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h3 class="card-title">Loan Amount </h3>
          </div>
          <div class="col-md-3">
            <h3 class="card-title float-right number"><%= number_to_currency @loan_application.loan_amount %></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h3 class="card-title"> Interests </h3>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8">
            First Year
          </div>
          <div class="col-md-3">
            <%= number_to_currency @loan_application.first_year_interest %>
          </div>
        </div>
        <% if @loan_application.term > 12  %>
          <div class="row justify-content-end">
            <div class="col-md-8">
              Second Year
            </div>
            <div class="col-md-3">
              <%= number_to_currency @loan_application.second_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >= 36 %>
          <div class="row justify-content-end">
            <div class="col-md-8">
              Third Year
            </div>
            <div class="col-md-3">
              <%= number_to_currency @loan_application.third_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >= 48 %>
          <div class="row justify-content-end">
            <div class="col-md-8">
              Fourth Year
            </div>
            <div class="col-md-3">
              <%= number_to_currency @loan_application.fourth_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >=60 %>
          <div class="row justify-content-end">
            <div class="col-md-8">
              Fifth Year
            </div>
            <div class="col-md-3">
              <%= number_to_currency @loan_application.fifth_year_interest %>
            </div>
          </div>
        <% end %>
        <hr class="min-margin">
        <div class="row justify-content-end">
          <div class="col-md-8">
            Total Interest
          </div>
          <div class="col-md-3">
            <%= number_to_currency @loan_application.total_interest %>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8">
            <span class="text-success">Prededucted </span>
          </div>
          <div class="col-md-3">
            <span class="text-success">
              <%= number_to_currency @loan_application.voucher_interest_amount %>
            </span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8">
            <span class="text-danger">Amortized </span>
          </div>
          <div class="col-md-3">
            <span class="text-danger">
              <%= number_to_currency @loan_application.interest_balance %>
            </span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title text-danger"> Loan Deductions </h4>
            <br>
          </div>
          <div class="col-md-3">
            <%= link_to new_loans_module_loan_application_voucher_amount_path(@loan_application), data: { modal: true } do %>
              <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="Add Charges">
                <i class="fa fa-plus-circle"></i> Add
              </span>
            <% end %>
          </div>
        </div>
        <br>
        <% @loan_application.voucher_amounts.each do |voucher_amount| %>
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-6">
                  <%= voucher_amount.description %>
                </div>
                <div class="col-md-2">
                  <%= link_to new_loans_module_loan_application_voucher_amount_adjustment_path(voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                    <span data-toggle="tooltip" title="Adjust"><i class="fa fa-edit"></i>
                    </span>
                  <% end %>
                  &nbsp;
                  <%= link_to loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id), method: :delete do %>
                    <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i>
                    </span>
                  <% end %>
                </div>
                <div class="col-md-3">
                  <span class="float-right">
                    <%= number_to_currency voucher_amount.adjusted_amount %>
                  </span>
                </div>
              </div>
              <div class="min-margin">
              </div>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-8">
            Total Charges
          </div>
          <div class="col-md-3">
            <span class="float-right text-danger">
              <%= number_to_currency @loan_application.voucher_amounts.total %>
            </span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h3 class="card-title"> Net Proceed </h3>
          </div>
          <div class="col-md-3">
            <h3 class="card-title float-right"><%= number_to_currency @loan_application.net_proceed %></h3>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for [@loan_application, @voucher], url: :loans_module_loan_application_vouchers, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: @loan_application.application_date.strftime("%B %e, %Y") } %>
          <%= f.input :description, input_html: { value: "#{@loan_application.loan_product_name} disbursement voucher of #{@loan_application.borrower_name}" }, as: :text %>
          <%= f.input :number, input_html: { value: Voucher.generate_number }, as: :hidden %>
          <%= f.input :reference_number %>
          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>

          <%= f.input :borrower_id, input_html: { value: @loan_application.borrower_id }, as: :hidden %>
          <%= f.input :borrower_type, input_html: { value: @loan_application.borrower.class.to_s }, as: :hidden %>
          <%= f.input :net_proceed, input_html: { value: @loan_application.net_proceed.round(2) }, as: :hidden %>

          <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :cash_account_id, collection: Employees::EmployeeCashAccount.cash_accounts.map{ |a| [a.name, a.id] } %>
          <span class="help-block text-muted"> Please select cash account for disbursing this loan. </span>
          <hr>
          <%= f.submit "Create Voucher", class: "btn btn-primary btn-lg float-right", data: { disable_with: "Processing..." } %>
          <%= link_to 'Cancel Application', loans_module_loan_application_path(@loan_application), method: :delete, class: "btn float-left text-danger" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @share_capitals.each do |share_capital| %>
          <div class="row">
            <div class="col-md-2">
              <% if share_capital.subscriber.avatar.attachment.present? %>
                <%= image_tag(share_capital.subscriber.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h3 class="card-title"><%= number_to_currency share_capital.paid_up_balance %></h3>
              <span class="text-muted"><%= share_capital.subscriber_name %></span><br>
              <% if @loan_application.voucher_amounts.for_account(account: share_capital.share_capital_product_paid_up_account).present? %>
                <span class="text-success"> <i class="fa fa-plus"></i>
                <%= number_to_currency @loan_application.voucher_amounts.for_account(account: share_capital.share_capital_product_paid_up_account).where(commercial_document: share_capital).total %>
                </span>
              <% end %>
            </div>
            <div class="col-md-3">
               <%=link_to new_loans_module_loan_application_capital_build_up_processing_path(share_capital_id: share_capital.id, loan_application_id: @loan_application.id) do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Savings Accounts </h3>
      </div>
      <div class="card-body">
        <% @savings_accounts.each do |savings_account| %>
          <div class="row">
            <div class="col-md-2">
              <% if savings_account.depositor.avatar.attachment.present? %>
                <%= image_tag(savings_account.depositor.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>
              <% end %>
            </div>
            <div class="col-md-7">
              <h3 class="card-title">
                <%= number_to_currency savings_account.balance %>
              </h3>
                <span class="text-muted">
                  <%= savings_account.depositor_name %>
                </span>
              <br>
              <% if @loan_application.voucher_amounts.for_account(account: savings_account.saving_product_account).present? %>
                <span class="text-success"> <i class="fa fa-plus"></i>
                <%= number_to_currency @loan_application.voucher_amounts.for_account(account: savings_account.saving_product_account).where(commercial_document: savings_account).total %>
                </span>
              <% end %>

            </div>
            <div class="col-md-2">
              <%=link_to new_loans_module_loan_application_savings_account_deposit_processing_path(saving_id: savings_account.id, loan_application_id: @loan_application.id) do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Previous Loans </h3>
      </div>
      <div class="card-body">
        <% @previous_loans.each do |loan| %>
          <div class="row">
            <div class="col-md-2">

                <%= image_tag(loan.borrower.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>

            </div>
            <div class="col-md-7">
              <h3 class="card-title">
                <%= number_to_currency loan.balance %>
              </h3>
                <span class="text-muted">
                  <%= loan.borrower_name %>
                </span>
              <br>
              <% if @loan_application.voucher_amounts.for_account(account: loan.principal_account).present? %>
                <span class="text-danger"> <i class="fa fa-minus"></i>
                <%= number_to_currency @loan_application.voucher_amounts.for_account(account: loan.principal_account).where(commercial_document: loan).total %>
                </span>
              <% end %>

            </div>
            <div class="col-md-2">
              <%=link_to new_loans_module_loan_application_previous_loan_payment_processing_path(loan_id: loan.id, loan_application_id: @loan_application.id) do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Amortization Schedules </h3>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> Date </th>
              <th> Principal </th>
              <th> Interest </th>
              <th> Total </th>
              <th> Loan Balance </th>
            </tr>
          </thead>
          <tbody>
            <% @loan_application.amortization_schedules.order(date: :asc).each do |amortization_schedule| %>
              <tr>
                <td><%= amortization_schedule.date.strftime("%B %e, %Y") %></td>
                <td><%= number_to_currency amortization_schedule.principal %></td>
                <td><%= number_to_currency amortization_schedule.interest %>
                  <% if amortization_schedule.prededucted_interest? %>
                    <span class="badge bg-danger"> Prededucted </span>
                  <% end %>
                </td>
              <td><%= number_to_currency amortization_schedule.total_amortization %></td>
                <td><%= number_to_currency @loan_application.balance_for(amortization_schedule) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#loans_module_loan_applications_voucher_processing_cash_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
