<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title"> Voucher Details </h3>
          </div>
          <div class="col-md-6">
            <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
          <br>
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
          <hr>
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <% if !@voucher.disbursed?%>
          <hr class="no-margin">
            <%= link_to "Cancel Voucher", loans_module_loan_application_path(@loan_application), method: :delete, class: "btn text-danger float-left" %>
            <%= link_to "Disburse", loans_module_loan_application_voucher_confirmations_path(loan_application_id: @loan_application.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          </div>
        <% else %>
          <%= render 'vouchers/partials/status', voucher: @voucher %>
        <% end %>
      </div>
    </div>
  </div>
</div>
