<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@membership.avatar.url(:medium), class: "img-responsive img-circle", height: 60, width: 60) %>
          <h3 class="condensed-text text-purple"><%= @membership.cooperator_name.try(:upcase)%></h3>
        </center>
      </div>
      <div class="card-body">
        <%= simple_form_for @share_capital, url: :membership_share_capital_subscriptions do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :membership_id, input_html: { value: @membership.id }, as: :hidden %>
          <%= f.input :share_capital_product_id, collection: CoopServicesModule::ShareCapitalProduct.all.map{|a| [a.name, a.id] }, as: :radio_buttons %>
          <%= f.input :reference_number %>
          <%= f.input :amount %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :account_number, input_html: { value: AccountNumberGenerator.generate_account_number(@share_capital) }, as: :hidden %>

            <%= f.submit "Save Subscription", class: "btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
