<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <nav class="nav nav-pills flex-column flex-md-row">
            <%=link_to 'All Loans', loans_path(from_date: nil, to_date: nil), class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_path) && @from_date.nil? && @to_date.nil? }" %>
            <%=link_to '1 - 60 Days Past Due', loans_path(from_date: Date.today - 60.days, to_date: Date.today.yesterday), class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_path(from_date: Date.today - 60.days, to_date: Date.today.yesterday))}" %>
            <%=link_to '61 - 180 Days Past Due', loans_path(from_date: Date.today - 180.days, to_date: Date.today - 61.days), class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_path(from_date: Date.today - 180.days, to_date: Date.today - 61.days))}" %>
            <%=link_to '181 - 363 Days Past Due', loans_path(from_date: Date.today - 363.days, to_date: Date.today - 181.days), class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_path(from_date: Date.today - 363.days, to_date: Date.today - 181.days))}" %>
            <%=link_to 'Over 1 Year', loans_path(from_date: Date.today - 999.years, to_date: Date.today - 364.days), class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_path(from_date: Date.today - 999.years, to_date: Date.today - 364.days))}" %>
            <%=link_to 'Archived Loans', loans_module_archived_loans_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_module_archived_loans_path)}" %>
            <%=link_to 'Dashboard', loans_module_monitoring_metrics_path, class: "flex-sm-fill text-sm-center nav-link #{'active' if current_page?(loans_module_monitoring_metrics_path)}" %>
          </nav>
        </div>
        
