<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item <%='active' if current_page?(loans_path(from_date: "", to_date: "")) %>"><%=link_to 'All Loans', loans_path(from_date: nil, to_date: nil), class: "nav-link" %></li>
            <li class="nav-item <%='active' if current_page?(loans_path(from_date: Date.today - 60.days, to_date: Date.today.yesterday))%>"><%=link_to '1 - 60 Days Past Due', loans_path(from_date: Date.today - 60.days, to_date: Date.today.yesterday), class: "nav-link" %></li>
            <li class="nav-item <%='active' if current_page?(loans_path(from_date: Date.today - 180.days, to_date: Date.today - 61.days))%>"><%=link_to '61 - 180 Days Past Due', loans_path(from_date: Date.today - 180.days, to_date: Date.today - 61.days), class: "nav-link" %></li>
            <li class="nav-item <%='active' if current_page?(loans_path(from_date: Date.today - 363.days, to_date: Date.today - 181.days))%>"><%=link_to '181 - 363 Days Past Due', loans_path(from_date: Date.today - 363.days, to_date: Date.today - 181.days), class: "nav-link" %></li>
            <li class="nav-item <%='active' if current_page?(loans_path(from_date: Date.today - 999.years, to_date: Date.today - 364.days))%>"><%=link_to 'Over 1 Year', loans_path(from_date: Date.today - 999.years, to_date: Date.today - 364.days), class: "nav-link" %></li>
            <li class="nav-item <%='active' if current_page?(loans_module_monitoring_metrics_path)%>"><%=link_to 'Dashboard', loans_module_monitoring_metrics_path, class: "nav-link" %></li>
          </ul>
          <br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <%=form_tag loans_path, method: :get do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Borrower name", id: 'sidebar-form' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
          </div>
        </div>
      </div>
        <div class="card-body">
          <% loans.each do |loan| %>
              <%= link_to loan_path(loan) do %>
                <div class="row">
                  <div class="col-md-2">

                    <%= image_tag(loan.borrower.avatar.url(:medium), height: 60, width: 60, class: "img-circle") %>

                  </div>
                  <div class="col-md-4">
                    <b><%= loan.borrower_name.try(:upcase) %></b><br>
                    <small class="text-muted"><%= loan.loan_product_name %></small><br>
                    <b class="text-info">#<%= loan.tracking_number %></b>

                  </div>
                  <div class="col-md-2">
                    <b><%= number_to_currency loan.loan_amount %></b><br>
                    <small>Loan Amount</small>
                  </div>
                  <div class="col-md-2">
                    <span class="text-red"><%= number_to_currency loan.principal_balance %></span><br>
                    <small class="text-muted">Loan Balance</small><br>
                  </div>
                  <% if !loan.archived? && loan.is_past_due? %>
                    <div class="col-md-2">
                      <span class="label bg-red">
                        <%= loan.number_of_days_past_due %> Days
                      </span>
                      <br>
                      <small class="text-danger"> PAST DUE </small>
                    </div>
                  <% end %>
                </div>
                <hr>
            <% end %>
          <% end %>
          <center><%= will_paginate loans %></center>
        </div>
      </div>
    </div>
  </div>
