<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <center>
          <%= image_tag(@loan.borrower.avatar.url(:medium), height: 60, width: 60, class: 'profile-img img-circle') %><br>
          <h4 class="box-title"><%= @loan.borrower_name %></h4>
        </center>
      </div>
      <div class="box-body">
    <div class="nav-tabs-navigation">
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if current_page?(loan_path(@loan))%>"><%= link_to 'Info', loan_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_disbursements_path(@loan))%>"><%= link_to 'Disbursement / Charges', loan_disbursements_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loans_module_loan_amortization_schedules_path(@loan))%>"><%= link_to 'Amortization', loans_module_loan_amortization_schedules_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_payments_path(@loan))%>"><%= link_to 'Payments', loan_payments_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_notices_path(@loan))%>"><%= link_to 'Notices', loan_notices_path(@loan) %></li>
      </ul>
      <div class="tab-content">
        <% if current_page?(loan_path(@loan)) %>
          <%=render 'loans/partials/loan_info' %>
        <% end %>
        <% if current_page?(loan_disbursements_path(@loan)) %>
          <%=render 'loans/partials/loan_disbursement' %>
        <% end %>
        <% if current_page?(loans_module_loan_amortization_schedules_path(@loan)) %>
          <%=render 'loans/partials/amortization_schedule' %>
        <% end %>
        <% if current_page?(loan_notices_path(@loan)) %>
          <%=render 'loans/partials/notices' %>
        <% end %>
        <% if current_page?(loan_payments_path(@loan)) %>
          <%= render 'loans/partials/payments' %>
        <% end %>
        <%#=render 'loans/partials/payments' %>
        <%#=render 'loans/partials/amortization_schedule' %>
        <%#=render 'loans/partials/loan_disbursement' %>
      </div>
    </div>
  </div>
</div>



