<div class="row">
  <div class="col-md-3">


  <!-- Profile Image -->
  <div class="box box-solid">
    <div class="box-body box-profile">
    <%= image_tag(@loan.borrower.avatar.url(:medium), class: "profile-user-img img-responsive img-circle") %>

      <h3 class="profile-username text-center"><%= @loan.borrower_name %></h3>
          <center><span class="text-muted text-center"><%= @loan.borrower.current_occupation %> &nbsp; </span> </center>
        <hr>




      <strong><i class="fa fa-phone margin-r-5"></i> Contact Number</strong>

      <p class="text-muted"><%#= @member.contact_number %>

      </p>

      <hr>

      <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>


      </div>
    </div>




  </div>
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if current_page?(loan_path(@loan))%>"><%= link_to 'Info', loan_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_disbursements_path(@loan))%>"><%= link_to 'Disbursement / Charges', loan_disbursements_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loans_module_loan_amortization_schedules_path(@loan))%>"><%= link_to 'Amortization', loans_module_loan_amortization_schedules_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_payments_path(@loan))%>"><%= link_to 'Payments', loan_payments_path(@loan) %></li>
        <li class="<%= 'active' if current_page?(loan_notices_path(@loan))%>"><%= link_to 'Notices', loan_notices_path(@loan) %></li>
      </ul>
      <div class="tab-content">
        <% if current_page?(loan_path(@loan)) %>
          <%=render 'loans/partials/loan_info' %>
        <% end %>
        <% if current_page?(loan_disbursements_path(@loan)) %>
          <%=render 'loans/partials/loan_disbursement' %>
        <% end %>
        <% if current_page?(loans_module_loan_amortization_schedules_path(@loan)) %>
          <%=render 'loans/partials/amortization_schedule' %>
        <% end %>
        <% if current_page?(loan_notices_path(@loan)) %>
          <%=render 'loans/partials/notices' %>
        <% end %>
        <% if current_page?(loan_payments_path(@loan)) %>
          <%= render 'loans/partials/payments' %>
        <% end %>
        <%#=render 'loans/partials/payments' %>
        <%#=render 'loans/partials/amortization_schedule' %>
        <%#=render 'loans/partials/loan_disbursement' %>
      </div>
    </div>
  </div>
</div>



