<% months = [] %>
<% (Date.current - 6.months..Date.current).each do |month| %>
<% months << month.end_of_month %>
<% end %>
<% loan_payments_data = [] %>
<% loan_disbursements_data = [] %>
<% months.uniq.each do |month| %>
  <% loan_payments_data << { month.end_of_month.strftime("%B %Y") => LoansModule::LoanProduct.total_credits_balance(office: current_office, from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
  <% loan_disbursements_data << { month.end_of_month.strftime("%B %Y") => LoansModule::LoanProduct.total_debits_balance(office: current_office, from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <p> Collections vs. Disbursements </p>
          <%= column_chart [
          { name: "Collections", data: (Hash[*loan_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"} },
          { name: "Disbursements", data: (Hash[*loan_disbursements_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"} }
          ], legend: 'bottom', thousands: ",", height: '180px', colors: ["#28A745", "#b00", "#0069D9"]%>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <%=form_tag loans_path, method: :get do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Borrower name", id: 'sidebar-form' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                      <i class="fa fa-search"></i> Search Loan
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'New Transaction', new_loan_multiple_payment_line_item_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="table table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th> Borrower </th>
                  <th> Loan Product </th>
                  <th> Loan Amount </th>
                  <th> Loan Balance </th>
                </tr>
              </thead>
              <tbody>
                <% @loans.each do |loan| %>
                  <% cache(loan) do %>
                    <tr style="cursor: pointer;" data-link="<%= loan_path(loan) %>">
                      <td style="width: 40px"><%= image_tag(loan.borrower.avatar, class: "img-circle", height: 35, width: 35) %></td>
                      <td><b><%= loan.borrower_name %></b></td>
                      <td>
                        <%= loan.loan_product_name %><br>
                        <% if loan.application_date.present? %>
                          <small><%= loan.application_date.strftime("%b. %e, %Y") %></small>
                        <% end %>
                      </td>
                      <td><%= number_to_currency loan.loan_amount %>
                      <td><%= number_to_currency loan.balance %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <center><%= will_paginate @loans %></center>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Offices </h3>
        </div>
        <div class="card-body">
          <% @offices.each do |office| %>
            <div class="row">
              <div class="col-md-9">
                <%= link_to office.name, loans_path(office_id: office.id) %>
              </div>
              <div class="col-md-3">
                <% if current_page?(loans_path(office_id: office.id)) %>
                <span class="badge bg-success"> Current </span>
                <% else %>
                  <%= link_to "Switch", loans_path(office_id: office.id), class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
