<% content_for(:html_title) { "Sign In" } %>
<%= render 'home/shared/navbar' %>
<div class="container">
<br>
<br>
  <div class="row">
    <div class="col-md-4">
    </div>
  <div class="col-md-4">
    <%=render 'layouts/shared/flash_messages' %>
    <div class="card">
      <div class="card-body">
      <p> Sign in to your account</p>
      <%= simple_form_for(resource, as: resource_name, :url => session_path(resource_name),
        wrapper_mappings: {boolean: :vertical_boolean }, html: { autocomplete: 'off' }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, placeholder: "Email", input_html:{class: "form-control input-lg"}, label: 'Email' %>
        <%= f.input :password, placeholder: "Password",  input_html:{class: "form-control input-lg"}, label: 'Password'  %>

        <hr>
        <%= f.submit "Sign in", class: "btn btn-primary btn-flat btn-block", data: {disable_with: "Signing in..."} %>
      <% end %>
      <br>
    </div>
  </div>
</div>
<%= render 'home/shared/footer' %>
