
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h3 class="card-title">Bank Accounts </h3>
      </div>
      <div class="col-md-6">
        <%=form_tag bank_accounts_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search... ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if policy(:bank_account).new? %>
          <%= link_to 'New Bank Account', new_bank_account_path, class: "btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% @bank_accounts.each do |bank_account| %>
  <%= render 'bank_accounts/partials/header', bank_account: bank_account %>
<% end %>
