<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Bank Account Details
        </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @bank_account, url: :bank_accounts, html: { autocomplete: "off" } do |f| %>
          <%= f.error_notification %>
          <%= f.input :bank_name %>
          <%= f.input :bank_address %>
          <%= f.input :account_number %>
          <%= f.input :account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
          <%= f.input :earned_interest_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] } %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
          <h5 class="no-margin-bottom">Deposit Details</h5>
          <hr class="no-margin-top">
          <%= f.input :date, input_html: { class: "datepicker" } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :reference_number %>
          <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :description %>
          <hr>
          <%= f.submit "Save Bank Account", class: "btn btn-primary float-right" %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#bank_account_form_account_id").select2({
      theme: "bootstrap"
    });
    $("#bank_account_form_earned_interest_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
