<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%=link_to(image_tag(current_user.avatar.url(:medium), class: "img-circle", width: 40, height: 40), employee_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%=link_to current_user.first_name, employee_path(current_user) %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role.titleize %></small></a>
        </div>
      </div>
      <!-- search form -->
      <%=form_tag store_front_module_search_results_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:sidebar_search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> STORE FRONT </li>
          <!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
          <li class=<%= 'active' if current_page?(store_front_module_index_path) %> ><a href="/store_front_module"><i class="fa fa-home"></i> <span>Store</span></a></li>

          <li class=<%= 'active' if current_page?(store_front_module_products_path) %> ><a href="/store_front_module/products"><i class="fa fa-tag"></i> <span>Products</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_purchase_orders_path) %> ><a href="/store_front_module/purchase_orders"><i class="fa fa-cubes"></i> <span>Purchases </span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_sales_orders_path) %> ><a href="/store_front_module/sales_orders"><i class="fa fa-bar-chart"></i> <span> Sales </span></a></li>
           <ul class="treeview-menu">
              <li><a href="/store_front_module/sales_orders"><i class="fa fa-circle-o"></i> Sales</a></li>
              <li><a href="/store_front_module/repair_services_orders"><i class="fa fa-circle-o"></i>Service Repair Orders</a></li>
              <li><a href="/store_front_module/purchase_orders"><i class="fa fa-circle-o"></i> Purchases</a></li>
              <li><a href="/store_front_module/stock_transfers"><i class="fa fa-circle-o"></i> Stock Transfers</a></li>
              <li><a href="/store_front_module/sales_returns"><i class="fa fa-circle-o"></i> Sales Returns</a></li>
              <li><a href="/store_front_module/purchase_returns"><i class="fa fa-circle-o"></i> Purchase Returns</a></li>
              <li><a href="/store_front_module/internal_use_orders"><i class="fa fa-circle-o"></i> Internal Use</a></li>
              <li><a href="/store_front_module/spoilages"><i class="fa fa-circle-o"></i> Spoilages</a></li>
            </ul>

         <li class=<%= 'active' if current_page?(store_front_module_customers_path) %> ><a href="/store_front_module/customers"><i class="fa fa-users"></i> <span> Customers</span></a></li>
          <li class=<%= 'active' if current_page?(suppliers_path) %> ><a href="/suppliers"><i class="fa fa-truck"></i> <span> Suppliers</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_purchase_return_orders_path) %> ><a href="/store_front_module/purchase_return_orders"><i class="fa fa-sliders"></i> <span> Purchase Returns</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_sales_return_orders_path) %> ><a href="/store_front_module/sales_return_orders"><i class="fa fa-circle-o"></i> <span> Sales Returns</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_settings_path) %> ><a href="/store_front_module/settings"><i class="fa fa-sliders"></i> <span> Settings</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_reports_path) %> ><a href="/store_front_module/reports"><i class="fa fa-folder"></i> <span> Reports</span></a></li>
          <li class=<%= 'active' if current_page?(store_front_module_settings_path) %> ><a href="/store_front_module/settings"><i class="fa fa-sliders"></i> <span> Reports</span></a></li>

    </section>
    <!-- /.sidebar -->
  </aside>
