<% if @line_items.present? %>
  <% @line_items.each do |line_item| %>
    <%= line_item.name %>
    <%= line_item.available_quantity %>
    <%= simple_form_for @line_item, url: :store_front_module_sales_order_line_items do |f| %>
                    <td width="100px">
                      <% if !line_item.out_of_stock? %>
                        <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, label: false %>
                        <%= f.input :unit_of_measurement_id, input_html: { value: line_item.unit_of_measurement_id } %>
                      <% end %>
                    </td>
                      <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                      <%= f.input :product_id, input_html: { value: line_item.product_id }, as: :hidden %>
                      <%= f.input :barcode, input_html: { value: line_item.barcode } %>
                      <%= f.input :referenced_line_item_id, input_html: { value: line_item.id } %>
                    <td>
                      <% if !line_item.out_of_stock? %>
                        <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
                      <% else %>
                        <span class="badge bg-red pull-left"> <small>Out of Stock </small></span><br><br>
                      <% end %>
                    </td>
                    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-7">
    <div class="box box-solid">
      <div class="box-body">
        <%=form_tag store_front_module_index_path, method: :get, class: "sidebar-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Product</th>
            </tr>
          </thead>
          <tbody>
            <% if @products.present? %>
              <% @products.each do |product| %>
                <tr>
                  <td>
                    <b><%= product.name.try(:upcase) %></b><br>

                    <span class="label bg-yellow">
                      <%= product.balance %> left
                    </span>

                  </td>
                  <td>
                    <% product.unit_of_measurements.each do |unit_of_measurement| %>
                      <%= number_to_currency unit_of_measurement.price %> <%= unit_of_measurement.code %>
                    <% end %>
                  </td>
                    <%= simple_form_for @line_item, url: :store_front_module_sales_order_line_items do |f| %>
                    <td width="100px">
                      <% if !product.out_of_stock? %>
                        <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, label: false %>
                        <%= f.input :unit_of_measurement_id, collection: product.unit_of_measurements.all.map{|a| [a.code, a.id] } %>
                      <% end %>
                    </td>
                      <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                      <%= f.input :product_id, input_html: { value: product.id }, as: :hidden %>
                      <%= f.input :barcode %>
                    <td>
                      <% if !product.out_of_stock? %>
                        <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
                      <% else %>
                        <span class="badge bg-red pull-left"> <small>Out of Stock </small></span><br><br>
                      <% end %>
                    </td>
                    <% end %>

                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="box box-solid">
      <% if @cart.line_items.present? %>
      <div class="box-header">
        <h3 class="condensed-text box-title"> ORDER DETAILS </h3>
      </div>
      <div class="box-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>QTY</th>
              <th>DESCRIPTION</th>
              <th>TOTAL COST</th>
            </tr>
          </thead>
          <tbody>
            <% @cart.line_items.each do |line_item| %>
              <tr>
                <td><%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                  <%= line_item.referenced_line_item.unit_cost %>
                  purchase_cost <%= line_item.referenced_line_item.purchase_cost %>

                </td>
                <td><b><%= line_item.name.try(:upcase) %></b><br>
                  <small class="text-muted"><%= line_item.barcode %></small><br>
                  <span class="label bg-gray">
                    <%= number_to_currency line_item.unit_cost %>
                  </span>
                </td>
                <td>
                  <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                </td>
                <td>
                <%= link_to store_front_module_sales_order_line_item_path(line_item), method: :delete do %>
                  <span class="fa fa-trash"></span>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <b> TOTAL </b>
          </div>
          <div class="col-md-5">
            <b><span class="pull-right"><%=number_to_currency @cart.line_items.total_cost %></span></b>
          </div>
        </div>
        <br>
        <div class="box-footer">
          <%= simple_form_for @sales_order, url: :store_front_module_sales_order_processings do |f| %>
            <%= f.input :customer_id, collection: StoreFrontModule::Order.customers.map{|a| [ a.name, a.id] } %>
            <%= f.input :cash_tendered %>
            <%= f.input :order_change %>
            <%= f.input :cart_id, input_html: { value: @cart.id } %>
            <%= f.input :employee_id, input_html: { value: current_user.id } %>
        <%=f.submit "Checkout", class: "btn btn-primary btn-block btn-lg", :accesskey => "C" %>
        <% end %>
      </div>
      </div>
      <% else %>
        <center><%=image_tag('empty_cart.png', height: 160, width: 160) %></center>
      <% end %>
