<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
    <%= purchase_order_line_item.quantity %>
  </div>
  <div class="col-md-5">
    <%= purchase_order_line_item.name %><br>
    <small class="text-muted"><%= purchase_order_line_item.barcode %></small>
  </div>
  <div class="col-md-2">
    <span class="pull-right"><%= number_to_currency purchase_order_line_item.unit_cost %></span>
  </div>
  <div class="col-md-2">
    <span class="pull-right"><%= number_to_currency purchase_order_line_item.total_cost %></span>
  </div>
</div>
<br>
