<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Time Deposit Adjusting Entry Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <%= image_tag(@time_deposit.avatar, height: 45, width: 45, class: "img-circle") %>
    </div>
    <div class="col-md-10 col-sm-10">
      <h4 class="card-title no-margin-bottom"><%= @time_deposit.name %></h4>
      <small class="text-muted">Depositor</small>
    </div>
  </div>
</div>
<hr class="no-margin">
<%= simple_form_for @entry, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :time_deposit_adjusting_entries do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :entry_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :reference_number, input_html: { value: "#{@time_deposit.entries.last.try(:reference_number).delete('^0-9/')}-INT" }, as: :hidden %>
    <%= f.input :description, as: :text, hint: "For TD Interest: Please include interest computation for referencing." %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :debit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] }, input_html: {id: "debit_account_id"} %>
    <%= f.input :credit_account_id, collection: AccountingModule::Account.all.map{|a| [a.name, a.id] }, input_html: {id: "credit_account_id"} %>
    <%= f.input :commercial_document_type, input_html: { value: @time_deposit.class.to_s }, as: :hidden %>
    <%= f.input :commercial_document_id, input_html: { value: @time_deposit.id }, as: :hidden %>
    <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Adjusting Entry", class: "btn btn-danger float-right" %>
  </div>
<% end %>
