<div class="card-body">
  <div class="row">
    <div class="col-md-4">
      Payee
    </div>
    <div class="col-md-8">
      <%= voucher.payee_name %>
    </div>
  </div>
  <br class="min-margin">
  <div class="row">
    <div class="col-md-4">
      Description
    </div>
    <div class="col-md-8">
      <%= voucher.description %>
    </div>
  </div>
  <br class="min-margin">
  <div class="row">
    <div class="col-md-4">
      Date
    </div>
    <div class="col-md-8">
      <%= voucher.date.strftime("%B %e, %Y") %>
    </div>
  </div>
  <br class="min-margin">
  <div class="row">
    <div class="col-md-4">
      Employee
    </div>
    <div class="col-md-8">
      <%= voucher.preparer_full_name %>
    </div>
  </div>
  <br class="min-margin">
  <div class="row">
    <div class="col-md-4">
      Reference #
    </div>
    <div class="col-md-8">
      <%= voucher.number %>
    </div>
  </div>
  <br class="min-margin">
  <div class="row">
    <div class="col-md-4">
      Cooperative Service
    </div>
    <div class="col-md-8">
      <%= voucher.cooperative_service_title %>
    </div>
  </div>
</div>
<br class="no-margin">
<div class="card-body">
  <div class="table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Debit</th>
          <th class="text-center">Account</th>
          <th>
            <span class="float-right">Credit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% voucher.voucher_amounts.each do |voucher_amount| %>
          <tr>
            <td>
              <% if voucher_amount.debit? %>
                <%= number_to_currency voucher_amount.amount %>
              <% end %>
            </td>
            <td class="text-center"><%= voucher_amount.account_name %></td>
             <td>
              <% if voucher_amount.credit? %>
                <span class="float-right"><%= number_to_currency voucher_amount.amount %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if voucher.voucher_amounts.present? %>
           <tr>
            <td><b><%= number_to_currency voucher.voucher_amounts.debit.sum(:amount) %></b></td>
            <td></td>
            <td><b class="float-right"><%= number_to_currency voucher.voucher_amounts.credit.sum(:amount) %></b></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
