<span class="badge bg-primary"><%= @search_results.count %></span>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Search Results </h3>
  </div>
  <div class="card-body">
    <%=form_tag coop_module_search_results_path, method: :get do %>
      <div class="input-group input-group-sm">
        <%= text_field_tag :search, params[:search], class: "form-control ", placeholder: "Search...", id: 'account-search-form' %>
        <span class="input-group-append">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <hr>
    <% @search_results.each do |search_result| %>
      <% if search_result.searchable.is_a?(Member) %>
      <%= link_to search_result.searchable.try(:name), member_path(search_result.searchable) %>
      <% end %>
    <% end %>
  </div>
</div>
