<div class="row">
  <div class="col-md-8">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> New Voucher Details </h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @supplier.voucher_amounts.with_no_vouchers.each do |voucher_amount| %>
                <tr>
                  <td><%= voucher_amount.account_name %></td>
                  <td>
                    <% if voucher_amount.debit? %>
                      <%= number_to_currency voucher_amount.amount %>
                    <% end %>
                  </td>
                   <td>
                    <% if voucher_amount.credit? %>
                      <%= number_to_currency voucher_amount.amount %>
                    <% end %>
                  </td>
                  <td>
                    <%=link_to supplier_amount_path(id: voucher_amount.id), method: :delete do %>
                      <span class="text-danger"><i class="fa fa-trash"></i> </span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @supplier.voucher_amounts.with_no_vouchers.present? %>
                <tr>
                  <td><b>TOTAL</b></td>
                  <td><b><%= number_to_currency @supplier.voucher_amounts.debit.with_no_vouchers.sum(&:amount) %></b></td>
                  <td><b><%= number_to_currency @supplier.voucher_amounts.credit.with_no_vouchers.sum(&:amount) %></b></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
              <%= simple_form_for @amount, url: :supplier_amounts do |f| %>
                <tr>
                      <%= f.input :commercial_document_id, input_html: { value: @supplier.id }, as: :hidden %>
                      <%= f.input :commercial_document_type, input_html: { value: @supplier.class }, as: :hidden %>
                    </td>

                    <td width="200px"><%= f.input :account_id, label: false, prompt: "Select Account", collection: AccountingModule::Account.all.map{|a| [a.name, a.id] }  %></td>
                    <td><%= f.input :amount, label: false, placeholder: "Amount", as: :string %></td>
                    <td><%= f.input :amount_type, label: false, placeholder: "Amount Type", collection: Vouchers::VoucherAmount.amount_types.keys.to_a.map{|a| [a.titleize, a] } %></td>
                    <td><%= f.submit "Add", class: "btn btn-primary btn-sm" %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="box box-default">
        <div class="box-header">
          <center>
            <%=image_tag(@supplier.avatar.url(:medium), class: "img-circle", height: 50, width: 50) %>
            <p><%= @supplier.business_name.try(:upcase) %></p>
          </center>
        </div>
        <div class="box-body">



        <% if @supplier.voucher_amounts.with_no_vouchers.present? %>
          <%= simple_form_for @voucher, url: :supplier_vouchers do |f| %>
          <tr>
          <td><%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description, as: :text %>
          <%= f.input :supplier_id, input_html: { value: @supplier.id }, as: :hidden %>
          <%= f.input :number, input_html: { value: Voucher.generate_number_for(@voucher) }, readonly: true %>
          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Create Voucher", class: "btn btn-primary pull-right" %>
          </div>
          <% end %>
        <% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#suppliers_voucher_amount_processing_account_id").select2({
      theme: "bootstrap"
    });
    $("#suppliers_voucher_amount_processing_amount_type").select2({
      theme: "bootstrap"
    });
  });
</script>
