<% breadcrumb :share_capital_balance_transfer, @origin_share_capital %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-danger">
      <div class="card-header no-border">
        <h3 class="card-title">Select Share Capital you want to transfer balance to. </h3>
      </div>
      <div class="card-body">
        <%=form_tag new_share_capital_balance_transfer_destination_account_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= hidden_field_tag :origin_saving_id, @origin_share_capital.id %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name, Last Name ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <% @share_capitals.where.not(id: @origin_share_capital.id).each do |share_capital| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag(share_capital.avatar, width: 45, height: 45, class: "img-circle") if share_capital.avatar.attached? %>
            </div>
            <div class="col-md-7">
              <%= share_capital.subscriber_name %><br>

              <%= number_to_currency share_capital.paid_up_balance %>
            </div>
            <div class="col-md-3">
              <%= simple_form_for @destination_share_capital, url: :share_capital_balance_transfer_destination_accounts do |f| %>
                <%= f.input :destination_share_capital_id, input_html: { value: share_capital.id }, as: :hidden %>
                <%= f.submit "Select", class: "btn btn-outline-danger btn-sm", data: { disable_with: "Processing..." } %>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
