<%= link_to 'Loan Collections', loans_module_reports_loan_collections_path %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Loans Section Reports</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title"><b>Loan Releases</b></h4>
        <%= form_tag({:action => "index", controller: "loans_module/reports/loan_releases", format: 'csv'}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>

              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-warning btn-sm"> Generate Report</button>
            </div>
          </div>
        <% end %>
        <hr>
        <h4 class="card-title"><b>Loan Payments</b></h4>
        <%= form_tag({:action => "index", controller: "loans_module/reports/loan_collections", format: 'pdf'}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= select_tag :loan_type, options_for_select(current_cooperative.loan_products.map {|m| [m.name, m.id]}, params[:loan_type]), class: ' form-control border-input', prompt: 'Select Loan Type' %>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-warning btn-sm"> Generate Report</button>
            </div>
          </div>
        <% end %>
        <%= link_to 'Excel', loans_module_reports_loan_collections_path(format: 'xlsx', from_date: @from_date, to_date: @to_date) %>
      </div>
    </div>
  </div>
</div>
<h4 class="title-up"> Loan Agings </h4>
<%= link_to 'Loan Agings', loans_module_reports_loan_agings_path(format: 'xlsx') %>
