<%=form_tag barangay_members_path(@barangay), method: :get do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name, Last Name ", id: 'account-search-form' %>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
        <i class="fa fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>
<br>
<% @members.each do |member| %>
  <%= render 'members/partials/header', member: member %>
<% end %>
<center><%= will_paginate @members %> </center>
