<% @products.each do |product| %>
  <div class="card">
    <div class="card-body">
          <h3 class="order-header"><%= product.name.try(:upcase) %></h3>
          <i class="fa fa-tag mr-2"></i><%= number_to_currency product.current_price %> &nbsp; &nbsp;
           <span class="badge badge-outline bg-warning"> <%= product.balance(store_front: current_store_front) %> In Stock</span>

<br>
<br>
      <%= simple_form_for @purchase_line_item, url: :store_front_module_purchase_line_items do |f| %>
        <div class="row">
          <div class="col-md-2">
            <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, autofocus: true %>
          </div>
          <div class="col-md-3">
            <%= f.input :unit_of_measurement_id, label: 'Unit', selected: product.base_measurement, collection: product.unit_of_measurements.all.map{|a| [a.code, a.id] } %>
          </div>
          <div class="col-md-3">
            <%= f.input :unit_cost, input_html: { value: product.last_purchase_cost}  %>
          </div>
          <div class="col-md-4">
            <%= f.input :total_cost %>
          </div>
          <div class="col-md-6">
            <%= f.input :expiry_date, as: :string, input_html: { class: "datepicker" } %>
          </div>
          <div class="col-md-6">
            <%= f.input :barcode %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :product_id, input_html: { value: product.id }, as: :hidden %>
          </div>
        </div>
        <%= f.submit "Add Purchase Item", class: "btn btn-primary float-right" %>

      <% end %>
    </div>
  </div>
<% end %>
