<% Contribution.all.each do |contribution| %>
  <%= contribution.name %>
  <%= contribution.amount %>
  <%= simple_form_for [@employee, @contribution], url: :hr_module_employee_contributions do |f| %>
    <%= f.input :contribution_id, input_html: { value: contribution.id } %>
  <% unless @employee.contributions.include?(contribution) %>
    <%= f.submit "Add" %>
    <% else %>
      <span class="btn btn-success disabled"> Added</span>
  <% end %>
<% end %>
<% end %>