<%= link_to 'New Delivery', new_warehouse_department_purchase_path, class: "btn btn-primary" %>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title"> Purchases </h3>
    </div>
    <div class="box-body">
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Date </th>
              <th> Raw Material </th>
              <th> Quantity </th>
              <th> Unit Cost </th>
              <th> Total Cost </th>
              <th> Supplier </th>
            </tr>
          </thead>
          <tbody>
            <% @purchases.each do |purchase| %>
              <tr>
                <td><%= purchase.delivery_date.strftime("%b %e, %Y") %></td>
                <td><%= purchase.raw_material_name %> </td>
                <td><%= purchase.quantity %> <%= purchase.raw_material_unit %></td>
                <td><%= number_to_currency purchase.unit_cost %></td>
                <td><%= number_to_currency purchase.total_cost %></td>
                <td><%= purchase.supplier.full_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
