<%= simple_form_for @purchase, url: :warehouse_department_purchases do |f| %>
  <%= f.error_notification %>
  <%= f.input :raw_material_id, collection: RawMaterial.all.map{|a| [a.name, a.id] }, as: :radio_buttons %>

  <p> Stock Details </p>
  <%= f.input :supplier_id, collection: Supplier.all.map{|a| [a.full_name, a.id] } %>
  <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :quantity %>
  <%= f.input :unit_cost %>
  <%= f.input :total_cost %>
  <%= f.input :has_freight, as: :boolean %>
  <%= f.input :freight_in %>
  <%= f.input :discounted, as: :boolean %>
  <%= f.input :discount_amount %>
  <%= f.input :delivery_date, as: :string, input_html: { class: "datepicker" } %>


  <%= f.submit "Save" %>
<% end %>
