<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header no-border">
        <h3 class="card-title"> Loan Payment Details </h3>
        <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
        <hr>
        <h3 class="card-title">Payment Breakdown </h3>
        <div class="row min-margin">
          <div class="col-md-3 offset-md-1">
            Principal
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.loan_product_loans_receivable_current_account).sum(:amount) %>
            </span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 offset-md-1">
            Interest
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.loan_product_interest_revenue_account).sum(:amount) %>
            </span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-3 offset-md-1">
            Penalty
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.loan_product_penalty_revenue_account).sum(:amount) %>
            </span>
          </div>
        </div>
        <hr class="min-margin">
        <div class="row min-margin">
          <div class="col-md-3 offset-md-1">
            Total
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <%= number_to_currency @voucher.voucher_amounts.sum(:amount) %>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
      <%= render 'vouchers/partials/body', voucher: @voucher %>


        <% if !@voucher.disbursed?%>

          <%= link_to "Confirm", loan_payment_voucher_confirmations_path(loan_id: @loan.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to voucher_path(@voucher), method: :delete do %>

            <span class=" btn text-danger" data-toggle="tooltip" title="If errors are found, click 'Cancel' to cancel this transaction"> Cancel </span>
          <% end %>
        <% else %>
          <span class="badge bg-success float-right"> Disbursed </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
