<div class="row justify-content-end">
  <div class="col-md-11">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Member/Payee</label>
      </div>
      <div class="col-md-8">
        <%= image_tag(@entry.commercial_document.avatar.variant(resize: '30x30'), class: "img-circle") if @entry.commercial_document.avatar.attached? %> &nbsp; <%= @entry.commercial_document.try(:name) %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Date</label>
      </div>
      <div class="col-md-8">
        <%=@entry.entry_date.strftime("%B %e, %Y") %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Description</label>
      </div>
      <div class="col-md-8">
        <%=@entry.description %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Reference Number</label>
      </div>
      <div class="col-md-8">
       #<%= @entry.reference_number %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Employee</label>
      </div>
      <div class="col-md-8">
        <%= @entry.recorder.try(:first_and_last_name) %>
      </div>
    </div>
    <hr class="min-margin">
    <div class="row">
      <div class="col-md-4">
        <label class="no-margin-bottom">Office</label>
      </div>
      <div class="col-md-8">
        <%= @entry.office_name %>
      </div>
    </div>
  </div>
</div>