<div class="row">
  <div class="col-md-4">
<%= simple_form_for @charge, url: :loans_module_charges do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :charge_type, collection: Charge.charge_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.input :percent %>
  <%= f.input :amount %>
  <%= f.input :account_id, collection: AccountingModule::All.all.map{ |a| [a.name.titleize, a.id] }, input_html: { id: 'loan_product_charge_account_id'} %>
  <%= f.submit "Create Charge", class: "btn btn-danger" %>
<% end %>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#loan_product_charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
