<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-5">
                Member/Payee
              </div>
              <div class="col-md-5">
                <%#= image_tag(@entry.commercial_document.depositor.avatar.url(:thumb), class: "img-circle", height: 35, width: 35)%> &nbsp; <%= @entry.commercial_document.try(:name) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                Date
              </div>
              <div class="col-md-5">
                <%=@entry.entry_date.strftime("%B %e, %Y") %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                Description
              </div>
              <div class="col-md-7">
                <%=@entry.description %>
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col-md-5">
                Reference Number
              </div>
              <div class="col-md-5">
               #<%= @entry.reference_number %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                Employee
              </div>
              <div class="col-md-5">
                <%= image_tag(@entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35)%> &nbsp; <%= @entry.recorder.try(:first_and_last_name) %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-5">
                Origin
              </div>
              <div class="col-md-5">
                <%= @entry.origin_name %>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <%= simple_form_for [@amount], url: :accounting_module_debit_amount do |f| %>
          <%= f.input :amount %>
          <%= f.input :account_id, collection: AccountingModule::Account.all.map{ |a| [a.name, a.id] } %>
          <div class="box-footer">
            <%= f.submit "Update Amount", class: "btn btn-warning float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     $("#accounting_module_debit_amount_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>

