<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header">
        <center>
          <%= image_tag(@member.avatar.url(:medium), class: "profile-user-img img-responsive img-circle") %>
          <h3 class="box-title"><%= @member.name %></h3>
        </center>
      </div>
      <div class="box-body">
        <%= simple_form_for @share_capital, url: :member_share_capitals do |f| %>
          <%= f.input :subscriber_id, input_html: { value: @member.id }, as: :hidden %>
          <%= f.input :share_capital_product_id, collection: CoopServicesModule::ShareCapitalProduct.all.map{|a| [a.name, a.id] }, as: :radio_buttons %>
          <%= f.input :date, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :reference_number %>
          <%= f.input :description, input_html: { value: "Payment of capital build up of #{@member.name}"} %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Save Share Capital", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
