<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h4><center><%= image_tag(@savings_account.depositor.avatar.variant(resize: '80x80'),  class: 'media-object img-circle') if @savings_account.depositor.avatar.attached? %></center></h4>
        <center><h3 class="box-title"><%= @savings_account.depositor_name %></h3></center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <small>BALANCE</small>
          </div>
          <div class="col-md-5">
            <span class="float-right">
              <label><%= number_to_currency @savings_account.balance %></label>
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5">
            <small>CLOSING ACCOUNT FEE</small>
          </div>
          <div class="col-md-5">
            <span class="float-right">
              <label><%=number_to_currency CoopConfigurationsModule::SavingsAccountConfig.default_closing_account_fee %></label>
            </span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <small>AMOUNT TO BE DISBURSED</small>
          </div>
          <div class="col-md-5">
            <span class="float-right">
              <label><%= number_to_currency @savings_account.balance -  CoopConfigurationsModule::SavingsAccountConfig.default_closing_account_fee %></label>
            </span>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for [@savings_account, @account_closing], url: :savings_account_account_closings do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount, input_html: { value: @savings_account.balance -  CoopConfigurationsModule::SavingsAccountConfig.default_closing_account_fee }, as: :hidden %>
          <%= f.input :closing_account_fee, input_html: { value: CoopConfigurationsModule::SavingsAccountConfig.default_closing_account_fee }, as: :hidden %>
          <%= f.input :reference_number, label: "OR number" %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :savings_account_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :recorder_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid },as: :hidden %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <hr>
          <%= f.submit "Close Account", class: "btn btn-danger btn-block btn-lg", data: {disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
