<div class="container">
  <div class="card">
    <div class="card-header">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title-up">Income Statement - <%= @office.name %> </h3>
        Date Covered: <%= @from_date.strftime("%B %e, %Y") %> -
        <%= @to_date.strftime("%B %e, %Y") %>
        <br>
        <% current_cooperative.offices.each do |office| %>

        <%= link_to office.name, accounting_module_reports_income_statements_path(office_id: office.id), class: "btn btn-outline-primary btn-sm" %>
        <% end %>
        <%#= link_to "All Offices", accounting_module_reports_income_statements_path, class: "btn btn-outline-primary btn-sm" %>

      </div>
      <div class="col-md-6">
        <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

          <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
          <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

          <%= hidden_field_tag :office_id, @office.id %>
          <button type="submit" class="btn btn-primary">Generate</button>
        <% end %>
      </div>
      <div class="col-md-2">
        Export To:
        <%= link_to 'Excel', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to 'PDF', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'pdf', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>


      </div>
    </div>
  </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
          <%= @from_date.strftime('%B %e, %Y') %>-
          <%= @to_date.strftime('%B %e, %Y') %>
        </div>
      </div>
      <h3 class="title-up"> REVENUES </h3>

      <% current_office.level_three_account_categories.revenues.order(code: :asc).each do |l3_account_category| %>
        <%= l3_account_category.title %>
        <br>
        <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
          &nbsp; &nbsp; <%= l2_account_category.title %><br>
          <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
            <div class="row">
              <div class="col-md-7">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
              </div>
              <div class="col-md-5">
                <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
              </div>
            </div>
          <% end %>
          <hr>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp;  Total <%= l2_account_category.title %>
            </div>
            <div class="col-md-5">
              <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-7">
            Total <%= l3_account_category.title %>
          </div>
          <div class="col-md-5">
            <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
      <hr>

      <% current_office.level_two_account_categories.revenues.where.not(id: current_office.level_three_account_categories.level_two_account_categories.revenues.ids).order(code: :asc).each do |l2_account_category| %>
        &nbsp; &nbsp; <%= l2_account_category.title %><br>
        <% l2_account_category.level_one_account_categories.revenues.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
            </div>
            <div class="col-md-5">
              <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp;  Total <%= l2_account_category.title %>
          </div>
          <div class="col-md-5">
            <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
      <hr>

      <% current_office.level_one_account_categories.revenues.where.not(id: current_office.level_two_account_categories.level_one_account_categories.revenues.ids).order(code: :asc).each do |l1_account_category| %>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
            </div>
            <div class="col-md-5">
              <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
            </div>
          </div>
      <% end %>


      <div class="row">
        <div class="col-md-7">
          <b>TOTAL REVENUES</b>
        </div>
        <div class="col-md-5">
          <b><%= number_to_currency current_office.level_one_account_categories.revenues.balance(to_date: @to_date) %></b>
        </div>
      </div>
      <hr>

      <h3 class="title-up"> EXPENSES </h3>

      <% current_office.level_three_account_categories.expenses.order(code: :asc).each do |l3_account_category| %>
        <%= l3_account_category.title %>
        <br>
        <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
          &nbsp; &nbsp; <%= l2_account_category.title %><br>
          <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
            <div class="row">
              <div class="col-md-7">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
              </div>
              <div class="col-md-5">
                <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
              </div>
            </div>
          <% end %>
          <hr>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp;  Total <%= l2_account_category.title %>
            </div>
            <div class="col-md-5">
              <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-7">
            Total <%= l3_account_category.title %>
          </div>
          <div class="col-md-5">
            <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>


      <% current_office.level_two_account_categories.expenses.where.not(id: current_office.level_three_account_categories.level_two_account_categories.revenues.ids).order(code: :asc).each do |l2_account_category| %>
        &nbsp; &nbsp; <%= l2_account_category.title %><br>
        <% l2_account_category.level_one_account_categories.expenses.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
            </div>
            <div class="col-md-5">
              <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp;  Total <%= l2_account_category.title %>
          </div>
          <div class="col-md-5">
            <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
      <hr>

      <% current_office.level_one_account_categories.expenses.where.not(id: current_office.level_two_account_categories.level_one_account_categories.revenues.ids).order(code: :asc).each do |l1_account_category| %>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
            </div>
            <div class="col-md-5">
              <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
            </div>
          </div>
      <% end %>
      <hr>

      <div class="row">
        <div class="col-md-7">
          <b>TOTAL EXPENSES</b>
        </div>
        <div class="col-md-5">
          <b><%= number_to_currency current_office.level_one_account_categories.expenses.balance(to_date: @to_date) %></b>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-7">
          <b>NET INCOME/LOSS</b>
        </div>
        <div class="col-md-5">
          <b><%= number_to_currency(current_office.level_one_account_categories.revenues.balance(to_date: @to_date) - current_office.level_one_account_categories.expenses.balance(to_date: @to_date)) %></b>
        </div>
      </div>
      <hr>
