<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Income Statement</h3>
        <%= @from_date.strftime("%B %e, %Y") %> -
        <%= @to_date.strftime("%B %e, %Y") %>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>
          <%= label_tag :from_date,  "From Date", class: 'sr-only'%>
          <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "From" %>

            <%= label_tag :to_date, nil, class: 'sr-only'%>
            <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

          <button type="submit" class="btn btn-primary">Generate</button>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if params[:to_date].present? %>
          <%=link_to accounting_module_reports_income_statements_path(format: 'pdf', from_date: @from_date, to_date: @to_date) do  %>
            <span class="btn btn-default"><i class="fa fa-pdf"></i> View (PDF) </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <%= render 'accounting_module/accounts/account', :name => "Revenues", :accounts => @revenues %>
    <%= render 'accounting_module/accounts/account', :name => "Expenses", :accounts => @expenses %>
  </div>
</div>
