<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					Idendtity Details
				</div>
			</div>
			<div class="card-body">
				<%= simple_form_for [@identifiable, @identification], multipart: true, url: :identifications do |f| %>
				  <%= f.input :identity_provider_id, collection: IdentificationModule::IdentityProvider.all.map{|a| [a.abbreviated_name, a.id] } %>
				  <%= f.input :issuance_date, as: :string, input_html: { class: "datepicker" } %>
				  <%= f.input :expiry_date, as: :string, input_html: { class: "datepicker" } %>
				  <%= f.input :number %>
				  <%= f.input :identifiable_id, input_html: { value: @identifiable.id }, as: :hidden %>
				  <%= f.input :identifiable_type, input_html: { value: @identifiable.class.to_s }, as: :hidden %>
				  <%= f.input :photos, label: "Upload ID" %>
				  <div class="modal-footer">
				  	<%= f.submit "Save", class: 'btn btn-success float-right' %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#identification_module_identification_identity_provider_id").select2({
      theme: "bootstrap"
    });
  });
</script>