<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="box-title"> Accounting Section Reports </h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h4><b>Trial Balance Report</b></h4>
            <p class="text-muted"> Generate report for trial balance of accounts. </p>
            <%= form_tag({:controller => 'accounting_module/reports/trial_balances', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do %>
              <div class="form-group">
                <%= label_tag :to_date, nil, class: 'sr-only'%>
                <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
              </div>
              <button type="submit" class="btn btn-default">Get Report</button>
            <% end %>
            <hr>
            <h4><b>Income Statement</b></h4>
            <p class="text-muted"> Generate report for income statement. </p>
            <%= form_tag({:controller => 'accounting_module/reports/income_statements', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do %>
              <div class="form-group">

                <%= label_tag :to_date, nil, class: 'sr-only'%>
                <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>

              </div>
              <button type="submit" class="btn btn-default">Get Report</button>
            <% end %>
            <hr>
            <h4><b>Balance Sheet</b></h4>
            <p class="text-muted">Generate report for balance sheet statement. </p>
            <%= form_tag({ controller: 'accounting_module/reports/balance_sheets', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do%>
              <div class="form-group">
                <%= label_tag :to_date, nil, class: 'sr-only'%>
                <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
              </div>
              <button type="submit" class="btn btn-default">Get Report</button>
            <% end %>
            <hr>
            <h4><b>Proofsheet Report</b></h4>
            <p class="text-muted">Generate report for consolidated proofsheet report. </p>
             <%= form_tag({ controller: 'accounting_module/reports/proofsheets', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do%>
              <div class="form-group">
                <%= label_tag :to_date, nil, class: 'sr-only'%>
                <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
              </div>
              <button type="submit" class="btn btn-default">Get Report</button>
            <% end %>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
