<%= link_to 'Trial Balance', accounting_module_reports_trial_balances_path %>
<h3 class="box-title"><b>Income Statement</b> </h3><br><br>
      <%= @from_date.strftime("%B %e, %Y") %> -
      <%= @to_date.strftime("%B %e, %Y") %>
      <%=link_to accounting_module_income_statement_index_path(format: 'pdf', from_date: @from_date, to_date: @to_date) do  %>
        <span class="btn btn-default btn-sm"><i class="fa fa-print"></i> Print (PDF) </span>
      <% end %>
<h4>Balance Sheet </h4>
<%= form_tag({:controller => 'accounting_module/balance_sheet'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      <%= label_tag :to_date, nil, class: 'sr-only'%>
      <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
      </div>
      <button type="submit" class="btn btn-default">Get Report</button>
    <% end %>
    <%= link_to "Print(PDF)", accounting_module_balance_sheet_index_path(format: 'pdf', to_date: @to_date), class: "btn btn-default" %>
  <br>
