<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
    <div class="box-header bg-gray">
      <div class="row">
        <div class="col-md-3">
          <center><%= image_tag(@loan_charge.loan.borrower.avatar.url(:medium), style: 'width:80px;height:80px;', class: 'media-object img-circle') %></center>
        </div>
        <div class="col-md-9">
          <br>
          <h3 class="box-title"><%= @loan_charge.loan.borrower_name.upcase %></h3><br>
           <i class="fa fa-map-marker"></i> Address: <%= @loan_charge.loan.borrower.try(:current_address) %>
        </div>
      </div>
    </div>
      <div class="box-body">
        <p class="text-muted"> LOAN CHARGE DETAILS </p>
        <div class="row">
          <div class="col-md-6">
            &nbsp; &nbsp;<%= @loan_charge.name %>
          </div>
          <div class="col-md-6">
            <%= number_to_currency @loan_charge.amount %>
          </div>
        </div>
        <br />
        <%=simple_form_for [@loan_charge, @adjustment], url: :loans_module_loan_charge_adjustments do |f| %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.input :loan_id, input_html: { value: @loan_charge.loan_id }, as: :hidden %>
              <%= f.input :loan_charge_id, input_html: { value: @loan_charge.id }, as: :hidden %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

              <%= f.input :amount, as: :currency %>
              <%= f.input :percent, label: "Percent to be deducted" %>
              <%= f.input :number_of_payments %>
              <span class="help-block"> If you want to amortize the balance left for this loan charge, check this box. </span>
              <%= f.input :amortize_balance, as: :boolean %>
              <div class='box-footer'>
                <%= f.submit 'Save Charge Adjustment', class: "btn btn-primary pull-right" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
