<% breadcrumb :member_loan_transactions, @member %>
<%= render 'members/partials/header', member: @member %>
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-6">
				<h4 class="card-title">LOAN TRANSACTIONS</h4>
			</div>
			<div class="col-md-6">
				<%= link_to "Loans Ledger(PDF)", member_loan_transactions_path(member_id: @member.id, loan_product_id: @loan_product.id, format: "pdf"), class: "btn btn-sm btn-default" %>
			</div>
		</div>
	</div>
	<div class="card-body">
		<ul class="nav nav-tabs nav-pills">
			<% @applied_loan_products.each do |loan_product| %>
      	<li class="nav-item">
      		<%= link_to loan_product.name, member_loan_transactions_path(member_id: @member.id, loan_product_id: loan_product.id), class: "nav-link #{'active' if current_page?(member_loan_transactions_path(member_id: @member.id, loan_product_id: loan_product.id))}" %>
      	</li>
      <% end %>
    </ul>
	</div>
</div>
<div class="col-md-12">
	<table class="table">
		<tr>
			<th>Date</th>
			<th>OR/CDV #</th>
			<th class="text-right">Loan</th>
			<th class="text-right">Payment</th>
			<th class="text-right">Balance</th>
			<th class="text-right">Interest</th>
			<th class="text-right">Fines</th>
		</tr>
		<% @transactions.sort_by(&:entry_date).each do |entry| %>
			<% if entry.cancelled? %>
				<tr>
					<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
					<td><%= entry.reference_number.present? ? entry.reference_number : "FWD" %> - CANCELLED</td>
					<td class="text-right">-</td>
					<td class="text-right">-</td>
					<td class="text-right">-</td>
					<td class="text-right">-</td>
					<td class="text-right">-</td>
				</tr>
			<% else %>
				<tr>
					<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
					<td>
						<%= link_to accounting_module_entry_path(entry), data:{toggle: 'tooltip'}, title: entry.description do %>
							<%= entry.reference_number.present? ? entry.reference_number : "FWD" %>
						<% end %>
					</td>
					<td class="text-right">
						<%= number_to_currency entry.debit_amounts.for_account(account_id: @loan_product.current_account_id).total %>
					</td>
					<td class="text-right">
						<%= number_to_currency entry.credit_amounts.for_account(account_id: @loan_product.current_account_id).total %>
					</td>
					<td class="text-right">
						<%= number_to_currency @member.loans_for(loan_product: @loan_product).sum{|l| l.principal_balance(to_date: EntryDateTime.new(entry: entry).set)}%>
					</td>
					<td class="text-right">
						<%= number_to_currency entry.credit_amounts.for_account(account_id: @loan_product.interest_revenue_account.id).total %>
					</td>
					<td class="text-right">
						<%= number_to_currency entry.credit_amounts.for_account(account_id: @loan_product.penalty_revenue_account.id).total %>
					</td>
				</tr>
			<% end %>
		<% end %>
		
	</table>
	<center><%= will_paginate @transactions %></center>
</div>