
<h3 class="card-title"><%=name%></h3>
<div class="row">
  <div class="col-md-6 offset-md-1">
    <table class="table table-hover">
      <tbody>
        <% running_total = 0 %>
        <% accounts.each do |account| %>
          <% balance = account.balance(cooperative_service_id: @cooperative_service.id, to_date: @to_date) %>
          <tr>
            <td><%=h account.name %></td>
            <td>
              <span class="float-right">
                <%=number_to_currency h balance.round(2) %>
              </span></td>
            <% running_total += balance %>
          </tr>
        <% end %>
        <tr>
          <td><b>Total <%= name %></b></td>
          <td>
            <span class="float-right">
              <b><%= number_to_currency running_total %></b>
            </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
