<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
          <ul class="nav nav-tabs">
            <ul class="nav nav-tabs">
              <li class="<%='active' if current_page?(share_capitals_path(from_date: nil, to_date: nil)) %>"><%=link_to 'All Share Capitals', share_capitals_path %></li>
              <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today))%>"><%=link_to '1 - 30 Days Inactive', share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today) %></li>
            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days))%>"><%=link_to '31 - 60 Days Inactive', share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days) %></li>
            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days))%>"><%=link_to '61 - 90 Days Inactive', share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days) %></li>
            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 363.days, to_date: Date.today - 91.days))%>"><%=link_to 'Over 1 Year', share_capitals_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days) %></li>
            <li class="<%='active' if current_page?(share_capitals_below_minimum_balances_path)%>"><%=link_to 'Below Min. Balance', share_capitals_below_minimum_balances_path %></li>
            <li class="<%='active' if current_page?(share_capitals_dashboards_path)%>"><%=link_to 'Dashboard', share_capitals_dashboards_path %></li>
          </ul>
          <div class="tab-content">
            <% if current_page? share_capitals_below_minimum_balances_path %>
              <%= render 'share_capitals/partials/below_minimum_balances' %>
            <% end %>
