
<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs">
      <li class="nav-item"><%=link_to 'All', share_capitals_path(from_date: nil, to_date: nil), class: "nav-link #{'active' if current_page?(share_capitals_path) }" %></li>
      <li class="nav-item"><%=link_to '30 Days Inactive', share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today), class: "nav-link #{'active' if current_page?(share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today))}" %></li>
      <li class="nav-item"><%=link_to '60 Days Inactive', share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days), class: "nav-link #{'active' if current_page?(share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days))}" %></li>
      <li class="nav-item"><%=link_to '90 Days Inactive', share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days), class: "nav-link #{'active' if current_page?(share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days))}" %></li>
      <li class="nav-item"><%=link_to 'Over 1 Year', share_capitals_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days), class: "nav-link #{'active' if current_page?(share_capitals_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days))}" %></li>
      <li class="nav-item"><%=link_to 'Below Min. Balance', share_capitals_below_minimum_balances_path, class: "nav-link #{'active' if current_page?(share_capitals_below_minimum_balances_path)}" %></li>
      <li class="nav-item"><%=link_to 'Dashboard', share_capitals_section_dashboards_path, class: "nav-link #{'active' if current_page?(share_capitals_section_dashboards_path)}" %></li>
    </ul>
    <br>
      <%=form_tag share_capitals_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Share Capital... ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
      </div>
    </div>
      <% if current_page? share_capitals_path %>
        <% @share_capitals.each do |share_capital| %>
          <%= render 'share_capitals/partials/header', share_capital: share_capital %>
        <% end %>
      <% end %>
      <% if current_page? share_capitals_below_minimum_balances_path %>
        <%= render 'share_capitals/partials/below_minimum_balances' %>
      <% end %>
      <% if current_page? share_capitals_section_dashboards_path %>
        <%= render 'share_capitals/partials/dashboard' %>
      <% end %>
    </div>
  </div>
</div>
