<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs">
              <li class="<%='active' if current_page?(share_capitals_path(from_date: nil, to_date: nil)) %>"><%=link_to 'All Share Capitals', share_capitals_path(from_date: nil, to_date: nil) %></li>
              <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today))%>"><%=link_to '30 Days Inactive', share_capitals_path(from_date: Date.today - 30.days, to_date: Date.today) %></li>
            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days))%>"><%=link_to '60 Days Inactive', share_capitals_path(from_date: Date.today - 60.days, to_date: Date.today - 31.days) %></li>
            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days))%>"><%=link_to '90 Days Inactive', share_capitals_path(from_date: Date.today - 90.days, to_date: Date.today - 61.days) %></li>

            <li class="<%='active' if current_page?(share_capitals_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days))%>"><%=link_to 'Over 1 Year', share_capitals_path(from_date: Date.today - 999.years, to_date: Date.today - 363.days) %></li>
            <li class="<%='active' if current_page?(share_capitals_below_minimum_balances_path)%>"><%=link_to 'Below Min. Balance', share_capitals_below_minimum_balances_path %></li>
            <li class="<%='active' if current_page?(share_capitals_section_dashboards_path)%>"><%=link_to 'Dashboard', share_capitals_section_dashboards_path %></li>
          </ul>
          <div class="card-body">
            <%=form_tag share_capitals_path, method: :get, class: "search-form" do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Share Capital... ", id: 'account-search-form' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
              <br>
            <% if current_page? share_capitals_path %>
              <% @share_capitals.each do |share_capital| %>
                <%= render 'share_capitals/share_capital', share_capital: share_capital %>
              <% end %>
              <center><%= will_paginate @share_capitals %> </center>
            <% end %>
            <% if current_page? share_capitals_below_minimum_balances_path %>
              <%= render 'share_capitals/partials/below_minimum_balances' %>
            <% end %>
            <% if current_page? share_capitals_section_dashboards_path %>
              <%= render 'share_capitals/partials/dashboard' %>
            <% end %>

