<%=link_to share_capital_path(share_capital) do %>
  <% cache(share_capital) do %>
    <div class="row">
      <div class="col-md-2">
        <center> <%= image_tag(share_capital.subscriber.avatar.url(:large), style: 'width:90px;height:90px;', class: 'media-object img-circle') %></center>
      </div>
      <div class="col-md-4">
        <p><b><%= share_capital.subscriber_name.try(:upcase) %></b></p>
        <small class="text-muted"> <%= share_capital.share_capital_product_name.try(:upcase) %></small><br><br>
        <% if policy([:share_capitals, :capital_build_up]).new? %>
          <%= link_to 'New Capital Build Up', new_share_capital_capital_build_up_path(share_capital), class: "btn btn-success" %>
        <% end %>
        <br>
      </div>
      <div class="col-md-1">
        <span class="label bg-red">
          <%= share_capital.number_of_days_inactive %> days inactive </span>
      </div>
      <div class="col-md-3">
        <h4><center><%=number_to_currency share_capital.paid_up_balance %></center></h4>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
