<%= link_to share_capital_path(share_capital) do %>
      <div class="card animated fadeInUp min-margin">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="min-margin"></div>
              <%= image_tag(share_capital.avatar, height: 60, width: 60, class: 'img-circle') %>
            </div>
            <div class="col-md-5">
              <b><%= share_capital.account_name %></b><br>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i> <%= share_capital.subscriber.current_address_complete_address %><br>
                <i class="fa fa-phone"></i> <%= share_capital.subscriber.current_contact_number %>

              </small>
            </div>
            <div class="col-md-4">
              <small class="text-muted"><%= share_capital.share_capital_product_name.upcase %></small>
              <h4 class="subtitle-up"><%= number_to_currency share_capital.balance %></h4>
              <small class="text-muted">
                <i class="fa fa-clock"></i> <%= share_capital.last_transaction_date.strftime('%b. %e, %Y') %>
              </small>
              <% if !share_capital.has_minimum_balance? %>
                <span class="badge badge-outline badge-outline-danger"> Below Minimum Balance </span>
              <% end %></td>
            </div>
            <div class="col-md-1">
              <br>
              <i class="fa fa-chevron-right fa-slim fa-2x float-right"></i>
            </div>
          </div>
        </div>
      </div>
      <% end %>
