<%=link_to share_capital_path(share_capital) do %>
  <% cache(share_capital) do %>
    <div class="row">
      <div class="col-md-2">
        <% if share_capital.subscriber.avatar.attachment.present? %>
          <center> <%= image_tag(share_capital.subscriber.avatar, style: 'width:90px;height:90px;', class: 'media-object img-circle') %></center>
        <% end %>
      </div>
      <div class="col-md-4">
        <p><b><%= share_capital.subscriber_name.try(:upcase) %></b></p>
        <small class="text-muted"> <%= share_capital.share_capital_product_name.try(:upcase) %></small><br><br>
        <% if policy([:share_capitals, :capital_build_up]).new? %>
          <%= link_to 'New Capital Build Up', new_share_capital_capital_build_up_path(share_capital), class: "btn btn-success" %>
        <% end %>
        <br>
      </div>
      <div class="col-md-2">
        <span class="badge bg-danger">
          <%= share_capital.number_of_days_inactive %> day inactive </span>
      </div>
      <div class="col-md-3">
        <h4 class="card-title"><%=number_to_currency share_capital.paid_up_balance %></h4>
        <small>PAID UP BALANCE</small>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
