<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <nav class="nav nav-pills flex-column flex-md-row">
          <a class="text-sm-center nav-link <%= 'active' if current_page?(share_capital_path(@share_capital))%>" href="/share_capitals/<%=@share_capital.id%>">Share Capital Details</a>
          <a class="text-sm-center nav-link <%= 'active' if current_page?(share_capital_settings_path(@share_capital))%>" href="/share_capitals/<%=@share_capital.id%>/settings">Settings</a>
        </nav>
      </div>
      <% if current_page? share_capital_path(@share_capital) %>
        <%= render 'share_capitals/partials/info' %>
      <% end %>
      <% if current_page? share_capital_settings_path(@share_capital) %>
        <%= render 'share_capitals/partials/settings' %>
      <% end %>
    </div>
  </div>
</div>
