<div class="row">
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header">
        <%=form_tag share_capitals_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account Number ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
      </div>
      <div class="box-body">
        <% @share_capitals.each do |share_capital| %>
          <%=link_to share_capital_path(share_capital) do %>
            <% cache share_capital do %>
              <div class="row">
                <div class="col-md-2">
                  <center> <%= image_tag(share_capital.subscriber.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %></center>
                </div>
                <div class="col-md-5">
                  <p><b><%= share_capital.subscriber_name%></b></p>
                  <small class="text-muted"> <%= share_capital.share_capital_product_name.try(:upcase) %></small><br><br>
                  <% if policy([:share_capitals, :capital_build_up]).new? %>
                    <%= link_to 'New Capital Build Up', new_share_capital_capital_build_up_path(share_capital), class: "btn btn-sm btn-success" %>
                  <% end %>
                  <br>
                </div>
                <div class="col-md-3">
                  <h4><center><%=number_to_currency share_capital.paid_up_balance %></center></h4>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        <% end %>
        <center><%= will_paginate @share_capitals %> </center>
      </div>
    </div>
  </div>
</div>
