<% breadcrumb :share_capitals %>
<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <%=form_tag share_capitals_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Share Capital... ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
  </div>
</div>
  <% @share_capitals.each do |share_capital| %>
    <%= render 'share_capitals/partials/header', share_capital: share_capital %>
  <% end %>
  <center><%= will_paginate @share_capitals %> </center>
</div>
</div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Offices </h3>
      </div>
      <div class="card-body">
        <% @offices.each do |office| %>
          <div class="row">
            <div class="col-md-9">
              <%= link_to office.name, share_capitals_path(office_id: office.id) %>
            </div>
            <div class="col-md-3">
              <%= link_to "Switch", share_capitals_path(office_id: office.id), class: 'btn btn-primary' %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
