<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <div class="box-header">
        
           <h4><center><%= image_tag(@share_capital.subscriber.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %></center></h4>
           
            <h3><center><%= @share_capital.subscriber_name %></center></h3>
      </div>
     <div class="box-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <small class="text-muted">CAPITAL BUILD UPS </small>
            <h4><%= number_to_currency @share_capital.capital_build_ups_total %></h4>
            <%= link_to 'New Capital Build Up', new_share_capital_capital_build_up_path(@share_capital), class: "btn btn-success" %>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">EARNED DIVIDENDS</small>
            <h4><%= number_to_currency @share_capital.dividends_total %></h4>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">BALANCE </small>
            <h4><%= number_to_currency @share_capital.balance %></h4>
          </div>
        </div>
         <hr>
         <p class="text-muted">TRANSACTIONS HISTORY</p>
         <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th> Date </th>
                  <th>Reference Number</th>
                  <th> Amount </th>
                  <th> Type </th>
                  <th> Employee </th>
                </tr>
              </thead>
              <tbody>
                <% @share_capital.entries.each do |entry| %>
                  <tr>
                    <td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
                    <td><%= entry.reference_number %></td>
                    <td><%= number_to_currency entry.credit_amounts.sum(:amount) %></td>

                    <td><%= entry.entry_type %></td>
                    <td><% if entry.recorder %>
                      <%=image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35) %> &nbsp;
                      <%= entry.recorder_first_and_last_name %>
                      <% end %>
                     </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
