<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <div class="box-header">

           <h4><center><%= image_tag(@share_capital.subscriber.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %></center></h4>

            <h3><center><%= @share_capital.subscriber_name %></center></h3>
            <% if !@share_capital.closed? %>
              <%= link_to 'Close Account', new_share_capital_account_closing_path(@share_capital) %>
            <% end %>
      </div>
     <div class="box-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <small class="text-muted">CAPITAL BUILD UPS </small>
            <h4><%= number_to_currency @share_capital.capital_build_ups_total %></h4>
            <% if !@share_capital.closed? %>
              <%= link_to 'New Capital Build Up', new_share_capital_capital_build_up_path(@share_capital), class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">EARNED DIVIDENDS</small>
            <h4><%= number_to_currency @share_capital.dividends_total %></h4>
          </div>
          <div class="col-md-3 border-right">
            <small class="text-muted">BALANCE </small>
            <h4><%= number_to_currency @share_capital.balance %></h4>
          </div>
        </div>
         <hr>
         <p class="text-muted">TRANSACTIONS HISTORY</p>
         <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th> Date </th>
                  <th>Reference Number</th>
                  <th> Amount </th>
                  <th> Description</th>
                  <th> Employee </th>
                </tr>
              </thead>
              <tbody>
                <% @entries.each do |entry| %>
                  <tr>
                    <td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
                    <td><%= entry.reference_number %></td>
                    <td><%= number_to_currency entry.amount %></td>
                    <td><%= entry.description %></td>


                    <td><% if entry.recorder %>
                      <%=image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 35, width: 35) %> &nbsp;
                      <%= entry.recorder.try(:name) %>
                      <% end %>
                     </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <center><%= will_paginate @entries %></center>
          </div>
        </div>
      </div>
    </div>
  </div>
