
  <tr>
    <td>
      <% if entry.recorder.present? %>

        <b><%= entry.recorder_first_and_last_name %></b>
      <% end %>
    </td>
    <td><%=entry.entry_date.strftime("%B %e, %Y") %></td>
    <td><%=link_to entry.description, accounting_module_entry_path(entry) %><br>
      <% if entry.cancelled? %>
        <span class="badge bg-danger"> Cancelled </span>
      <% end %>
    </td>
    <td><%= entry.reference_number %></td>
    <td><%= number_to_currency entry.debit_amounts.sum(&:amount) %></td>
    <td><%= entry.commercial_document.try(:name)%>
    </td>
</tr>
