
  <tr>
    
    <td><%=entry.entry_date.strftime("%b. %e, %Y") %></td>
    <td><%=link_to entry.description, accounting_module_entry_path(entry) %><br>
      <% if entry.cancelled? %>
        <span class="badge bg-danger"> Cancelled </span>
      <% end %>
    </td>
    <td><%= entry.reference_number %></td>
    <td><%= number_to_currency entry.debit_amounts.sum(&:amount) %></td>
    <td><%= entry.commercial_document.try(:name)%>
    </td>
</tr>
