
  <tr>
    <td><%=entry.entry_date.strftime("%B %e, %Y") %><br>
      <% if entry.recorder.present? %>
        <%=image_tag(entry.recorder.avatar.url(:thumb), class: "img-circle", height: 30, width: 30)%>
        <b><%= entry.recorder_first_and_last_name %></b>
      <% end %>
      
    </td>
    <td><%=link_to entry.description, accounting_module_entry_path(entry) %><br>
      <span class="badge"><%= entry.entry_type %></span>
    </td>
    <td><%= entry.reference_number %></td>
    <td><%= number_to_currency entry.debit_amounts.sum(&:amount) %></td>
    <td><%= entry.commercial_document.try(:member).try(:first_and_last_name) %></td>
</tr>
