<%= render "accounting_module/entries/partials/employee_tabs" %>
<div class="row">
  <div class="col-md-3">
    <%= render "accounting_module/entries/partials/entry_filters" %>
  </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <%=form_tag accounting_module_entries_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search],  autofocus: true, class: "form-control", placeholder: "Search for Reference Number, Description", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to 'New Entry', new_accounting_module_entry_line_item_path, data: { turbolinks: false }, class: 'btn btn-primary float-right' %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% @entries.each do |entry| %>
      <%= render 'accounting_module/entries/partials/header', entry: entry %>
    <% end %>
    <% if @entries.any? %>
      <center><%= will_paginate @entries %></center>
    <% end %>
  </div>
</div>
