<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <%=image_tag(@organization.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %>
      </div>
      <div class="box-body">
         <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(organization_path(@organization))%>"><%= link_to 'Info', organization_path(@organization) %></li>
          <li class="<%= 'active' if current_page?(organization_loans_path(@organization))%>"><%= link_to 'Loans', organization_loans_path(@organization) %></li>

        </ul>
      </div>
        <div class="tab-content box-body">
          <% if current_page?(organization_path(@organization)) %>
            <%= render 'organizations/partials/info' %>
          <% end %>
           <% if current_page?(organization_loans_path(@organization)) %>
            <%= render 'organizations/partials/loans' %>
          <% end %>




