<%= render 'organizations/partials/header', organization: @organization %>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <nav class="nav flex-column nav-pills flex-md-row">
          <%= link_to 'Info', organization_path(@organization), class: "nav-link #{'active' if current_page?(organization_path(@organization))}" %>
          <%= link_to 'Members', organization_members_path(@organization), class: "nav-link #{'active' if current_page?(organization_members_path(@organization))}" %>
          <%= link_to 'Savings', organization_savings_accounts_path(@organization), class: "nav-link #{'active' if current_page?(organization_savings_accounts_path(@organization))}" %>
          <%= link_to 'Member Loans', organization_loans_path(@organization), class: "nav-link #{'active' if current_page?(organization_loans_path(@organization))}" %>
          <% if current_user.loan_officer? %>
            <%= link_to 'Reports', organization_reports_path(@organization), class: "nav-link #{'active' if current_page?(organization_reports_path(@organization))}" %>
          <% end %>
          <%= link_to 'Settings', organization_settings_path(@organization), class: "nav-link #{'active' if current_page?(organization_settings_path(@organization))}" %>
        </nav>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  </div>
</div>
<% if current_page?(organization_path(@organization)) %>
  <%= render 'organizations/partials/info' %>
<% end %>
<% if current_page?(organization_members_path(@organization)) %>
  <%= render 'organizations/partials/members' %>
<% end %>
<% if current_page?(organization_savings_accounts_path(@organization)) %>
  <%= render 'organizations/partials/savings_accounts' %>
<% end %>
<% if current_page?(organization_loans_path(@organization)) %>
  <%= render 'organizations/partials/loans' %>
<% end %>
<% if current_page?(organization_reports_path(@organization)) && current_user.loan_officer? %>
  <%= render 'organizations/partials/reports' %>
<% end %>
<% if current_page?(organization_settings_path(@organization)) %>
  <%= render 'organizations/partials/settings' %>
<% end %>