<%= render 'organizations/partials/header', organization: @organization %>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <nav class="nav flex-column nav-pills flex-md-row">
          <%= link_to 'Info', organization_path(@organization), class: "nav-link #{'active' if current_page?(organization_path(@organization))}" %>
          <%= link_to 'Loans', organization_loans_path(@organization), class: "nav-link #{'active' if current_page?(organization_loans_path(@organization))}" %>
          <%= link_to 'Reports', organization_reports_path(@organization), class: "nav-link #{'active' if current_page?(organization_reports_path(@organization))}" %>
        </nav>
      </div>
      <div class="col-md-2">
        <%= link_to 'Edit Organization', edit_organization_path(@organization), class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
  <% if current_page?(organization_path(@organization)) %>
    <%= render 'organizations/partials/info' %>
  <% end %>
   <% if current_page?(organization_loans_path(@organization)) %>
    <%= render 'organizations/partials/loans' %>
  <% end %>
   <% if current_page?(organization_reports_path(@organization)) %>
    <%= render 'organizations/partials/reports' %>
  <% end %>
</div>
