<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title">Organizations </h3>
      </div>
      <div class="box-body">
        <%= simple_form_for @organization, multipart: true do |f| %>
          <%= f.error_notification %>
         <%if @organization.avatar.blank? %>
            <center><%=image_tag("default_organization_avatar.jpg", height: 80, width: 80, :class=>"img-circle") %></center>
          <% else %>
            <center><%= image_tag @organization.avatar.url(:large), class: 'center-block img-responsive img-circle'%></center>
          <% end %>
          <center><%= f.input :avatar, as: :file, label: "Upload Logo", input_html: { id: 'uploadOrganizationAvatar' } %></center>
          <%= f.input :name %>
          <%= f.submit "Save Organization" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
