<div class="row">
  <div class="4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New Organization Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @organization, multipart: true do |f| %>
          <%= f.error_notification %>
         <%if @organization.avatar.attachment.blank? %>
            <center><%=image_tag("default_business_logo.jpg", height: 80, width: 80, :class=>"img-circle") %></center>
          <% else %>
            <center><%= image_tag @organization.avatar, class: 'center-block img-responsive img-circle'%></center>
          <% end %>
          <center><%= f.input :avatar, as: :file, label: "Upload Logo", input_html: { id: 'uploadOrganizationAvatar' } %></center>
          <%= f.input :name %>
          <%= f.submit "Save Organization", class: "btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
