<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Add / Remove Accounts </h3>
      </div>
      <div class="card-body">
        <%= link_to 'Back to Cooperative Service', cooperative_service_path(@cooperative_service), class: "btn btn-default" %>
        <hr>
        <%=form_tag new_cooperative_service_account_path(@cooperative_service), method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th> Code </th>
                <th> Name </th>
                <th> Type </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @accounts.each do |account| %>
                <tr>
                  <td><%= account.code %></td>
                  <td><%= account.name %></td>
                  <td><%= account.normalized_type %></td>
                  <td>
                    <% if @cooperative_service.accounts.include?(account) %>
                      <%= link_to cooperative_service_account_deactivations_path(account_id: account.id), method: :post do %>
                        <i class="fa fa-toggle-on fa-2x"></i>
                      <% end %>
                    <% else %>
                      <%= link_to cooperative_service_account_activations_path(account_id: account.id), method: :post do %>
                        <i class="fa fa-toggle-off text-danger fa-2x "></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
