<div class='container'>
  <div class="row">
     <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="subtitle-up"> Amortization Schedules </h3>
          <div class='row'>
            <div class='col-md-3'>
              <b>DUE DATE</b>
            </div>
            <div class='col-md-3'>
              <b>PRINCIPAL</b>
            </div>
            <div class='col-md-3'>
              <b>INTEREST</b>
            </div>
            <div class='col-md-3'>
              <b>TOTAL</b>
            </div>
          </div>
          <hr>
          <% @loan.amortization_schedules.order(date: :asc).each do |amortization_schedule| %>
            <div class="row">
              <div class="col-md-3">
                <%= amortization_schedule.date.strftime('%b. %e, %Y') %><br>
                <%= amortization_schedule.payment_status %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency amortization_schedule.principal %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency amortization_schedule.interest %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency amortization_schedule.total_repayment %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-primary">
        <div class='card-header'>
        </div>
      
        <div class="card-body">
          <div class='row'>
            <div class='col-md-2'>
              <%= image_tag(@loan.avatar, height: 60, width: 60, class: 'img-circle') %>
            </div>
            <div class='col-md-10'>
              <h3 class="subtitle-up"><%= @loan.borrower_full_name %></h3>
              <small><%= @loan.loan_product_name %> - <%= @loan.purpose %></small>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <small>PRINCIPAL BALANCE</small>
              <h4 class="title-up"><%= number_to_currency @loan.principal_balance %></h4>
            </div>
            <div class="col-md-4">
              <small>INTERESTS</small>
              <h4 class="subtitle-up"><%= number_to_currency @loan.loan_interests_balance %></h4>
            </div>
            <div class="col-md-4">
              <small>PENALTIES</small>
              <h4 class="subtitle-up"><%= number_to_currency @loan.loan_penalties_balance %></h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-10 offset-1">
          <%= simple_form_for [@loan, @payment], html: { autocomplete: 'off' }, url: :loan_multiple_payments do |f| %>
            <%= f.error_notification %>
            <% if @loan.forwarded_loan == false %>
              <%= f.input :amortization_schedule_id, label: "Select Amortization Schedule to be paid.", collection: @loan.amortization_schedules.order(date: :asc).map{|a| [a.date_schedule, a.id]},  input_html: { class: 'chosen-select' } %>
            <% end %>

            <%= f.input :principal_amount, as: :currency  %>
            <%= f.input :interest_amount, input_html: { value: 0 }, as: :currency  %>
            <%= f.input :penalty_amount, input_html: { value: 0 }, as: :currency  %>

            <%= f.input :loan_id, input_html: { value: @loan.id },as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
            <hr>
            <%= f.submit "Add Payment", class: "btn btn-primary float-right", data: {disable_with: "Processing..." } %>
            <%= link_to 'Cancel', loan_path(@loan), class: "text-danger float-left" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

