<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title">Payment Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @payment, url: :program_payments do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :amount, as: :string, input_html: { value: @program.contribution } %>
          <%= f.input :or_number, label: "OR Number" %>
          <%= f.input :recorder_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :program_id, input_html: { value: @program.id } %>
          <%= f.input :subscriber_id, input_html: { value: @member.id } %>
          <div class="box-footer">
            <%= f.submit "Save Payment", class: "btn btn-primary btn-flat float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
