 <div class="col-md-8 col-md-offset-2">
    <div class="card card-solid">
      <div class="card-header bg-gray">
        <center>
          <h4><%= image_tag(@supplier.avatar, style: 'width:60px;height:60px;', class: 'media-object img-circle') %></h4>
          <h3><%= @supplier.business_name %></h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-4">
                Voucher Number:
              </div>
              <div class="col-md-6">
                <%= @purchase_order.voucher_number %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                Date
              </div>
              <div class="col-md-6">
                <%= @purchase_order.date.strftime("%B %e, %Y") %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                Employee
              </div>
              <div class="col-md-6">
                <%= @purchase_order.employee_name %>
              </div>
            </div>
            <br>
          </div>
        </div>

        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>QTY</th>
                <th>DESCRIPTION</th>
                <th><span class="pull-right">PURCHASE COST</span></th>
                <th><span class="pull-right">TOTAL COST</span></th>
              </tr>
            </thead>
            <tbody>
              <% @purchase_order.line_items.each do |line_item| %>
                <tr>
                  <td>
                    <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                  </td>
                  <td>
                    <%= line_item.name %><br>
                    <small class="text-muted"><%= line_item.barcode %></small>
                  </td>
                  <td><span class="pull-right"> <%= number_to_currency line_item.unit_cost %></span></td>
                  <td><span class="pull-right"><%= number_to_currency line_item.total_cost %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <b>TOTAL</b>
          </div>
          <div class="col-md-6">
            <span class="pull-right">
              <b><%=number_to_currency @purchase_order.total_cost%></b>
            </span>
          </div>
        </div>
          <hr>
          <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
          <%= render 'vouchers/partials/body', voucher: @voucher %>
          <% if !@voucher.disbursed?%>
              <%= link_to "Confirm", store_front_module_supplier_voucher_confirmations_path(voucher_id: @voucher.id, supplier_id: @supplier.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
              <%= link_to "Cancel", store_front_module_supplier_voucher_path(id: @voucher.id, supplier_id: @supplier.id), method: :delete, class: "btn text-danger float-left" %>
            </div>
          <% else %>
            <%= render 'vouchers/partials/status', voucher: @voucher %>
          <% end %>
