<%= @comparison.comparison_type %>
<%= @comparison.first_date %>
<%= @comparison.second_date %>
<%= @comparison.first_date_display_title %>
<%= @comparison.second_date_display_title %>

<%= number_to_currency AccountingModule::Asset.balance(to_date: @comparison.first_comparison_date) %>
<%= number_to_currency AccountingModule::Asset.balance(to_date: @comparison.second_comparison_date) %>


<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title"> Financial Condition </h3>
    </div>
    <div class="box-body">

  <%= simple_form_for @comparison, url: :accounting_module_financial_condition_comparisons do |f| %>
    <%= f.input :first_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :second_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :comparison_type, collection: AccountingModule::FinancialConditionComparison.comparison_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
    <%= f.submit "Compare", class: "btn btn-default" %>
  <% end %>
  <div class="table table-responsive">
    <%= render 'account', :name => "Assets", :accounts => @assets %>
    <%= render 'account', :name => "Liabilities", :accounts => @liabilities %>
    <%= render 'account', :name => "Equity", :accounts => @equity %>
  </div>

</div>
