<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Savings Account Details </h3>
      </div>
      <div class="card-body">
        <h4><%= number_to_currency @current_saving.balance %></h4>
        <%= @current_saving.depositor_name %>
        <hr>
        <h4>Accounts to be Merged</h4>
         <i class="fa fa-info-circle text-danger"></i> <span class="text-danger">Please be careful in selecting accounts to be merged. Once the account is merged it can not be undone. </span>
         <hr>
        <% current_cart.savings.each do |saving| %>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
              <h4><%= number_to_currency saving.balance %></h4>
              <small><%= saving.depositor_name.try(:upcase) %></small><br>
              <small><%= saving.saving_product_name %></small>
            </div>
            <div class="col-md-2">
              <br>
              <%= link_to "Remove", savings_account_merging_line_item_path(id: saving.id, saving_id: saving.id, current_saving_id: @current_saving.id), method: :delete, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
          <hr>
        <% end %>
        <% if current_cart.savings.present? %>

          <%= simple_form_for @merging, url: :savings_account_account_mergings do |f| %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
            <%= f.input :saving_id, input_html: { value: @current_saving.id }, as: :hidden %>
            <div class="box-footer">
              <%= f.submit "Merge Accounts", class: "btn btn-danger btn-block" %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Accounts to be Merged </h3>
      </div>

      <div class="card-body">

         <br>
         <br>
         <%=form_tag new_savings_account_merging_line_item_path(@current_saving), method: :get, class: "search-form" do %>
                          <div class="input-group">
                            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Savings Account ", id: 'account-search-form' %>
                            <span class="input-group-btn">
                              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                                <i class="fa fa-search"></i>
                              <% end %>
                            </span>
                          </div>
                        <% end %>
        <% @savings_accounts.each do |saving| %>
          <% if !current_cart.savings.include?(saving) %>
          <div class="row">
            <div class="col-md-3">
              <%= simple_form_for @merging_line_item, url: :savings_account_merging_line_items do |f| %>
                <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
                <%= f.input :old_saving_id, input_html: { value: saving.id }, as: :hidden %>
                <br>
                <%= f.submit "Select", class: "btn btn-success" %>

              <% end %>
            </div>
            <div class="col-md-8">
              <h4><%= number_to_currency saving.balance %></h4>
              <small><%= saving.depositor_name.try(:upcase) %></small><br>
              <small><%= saving.saving_product_name %></small>
            </div>
          </div>
          <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

