<div class="row">
                  <div class="col-md-6">
                    <h3><%= number_to_currency CoopServicesModule::ShareCapitalProduct.total_balance %></h3>
                    <small>TOTAL PAID UP SHARE CAPITALS</small>

                  </div>
                  <div class="col-md-3">
                    <small>METRICS</small>
                    <h3 class="text-<%= CoopServicesModule::ShareCapitalProduct.metric_color%>"><i class="fa fa-arrow-<%=CoopServicesModule::ShareCapitalProduct.metric_chevron%>"></i> <%= number_to_currency CoopServicesModule::ShareCapitalProduct.metric(first_date: Date.today, second_date: Date.today.last_month), unit: "" %> % </h3>
                    <small>SINCE LAST MONTH (<%= Date.today.last_month.strftime("%B %e, %Y") %>)</small>
                  </div>
                </div>
                <hr>
<h4>Share Capitals Inactivity</h4>
<% share_capitals_inactivity_data = [] %>
<% share_capitals_inactivity_data << { "1-30 Days Inactive" => @share_capitals.updated_at(from_date: Date.today - 30.days, to_date: Date.today).count } %>
<% share_capitals_inactivity_data << { "31-60 Days Inactive" => @share_capitals.updated_at(from_date: Date.today - 60.days, to_date: Date.today - 31.days).count } %>
<% share_capitals_inactivity_data << { "31-60 Days Inactive" => @share_capitals.updated_at(from_date: Date.today - 60.days, to_date: Date.today - 31.days).count } %>
<% share_capitals_inactivity_data << { "61-90 Days Inactive" => @share_capitals.updated_at(from_date: Date.today - 90.days, to_date: Date.today - 61.days).count } %>
<% share_capitals_inactivity_data << { "91-363 Days Inactive" => @share_capitals.updated_at(from_date: Date.today - 363.days, to_date: Date.today - 91.days).count } %>
<% share_capitals_inactivity_data << { "Over 1 Year Inactive" => @share_capitals.updated_at(from_date: Date.today - 999.years, to_date: Date.today - 364.days).count } %>

<%= pie_chart (Hash[*share_capitals_inactivity_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true %>
<hr>
<h4>Transactions vs Month </h4>
            <%= line_chart @share_capitals.group_by_month(:updated_at).count, download: true, curve: false %>

<hr>
<h4>Balances vs Month </h4>
<% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% balances_data = [] %>
      <% deposit_balances_data = [] %>
      <% months.uniq.each do |month| %>

        <% balances_data << { month.strftime("%B %Y") => CoopServicesModule::ShareCapitalProduct.total_balance(to_date: month.end_of_month) } %>
        <% deposit_balances_data << { month.strftime("%B %Y") => CoopServicesModule::ShareCapitalProduct.total_debits_balance(to_date: month.end_of_month) } %>


      <% end %>

<%= line_chart [(Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}), (Hash[*deposit_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?})]%>
