<div class="row">
  <div class="col-md-4">
    <small class='text-muted'>PAID UP BALANCE</small>
    <h2 class="title-up"><%= number_to_currency @share_capital.balance %></h2>
  </div>
  <div class="col-md-4 col-sm-6 col-auto">
    <small class='text-muted'>INACTIVITY</small>
    <h4 class="title-up"><%= @share_capital.number_of_days_inactive %> Days</h4>
    <br>
  </div>
  <div class='col-md-4'>
    <small class='text-muted'>LAST TRANSACTION DATE </small><br>
    <i class="fa fa-calendar"></i> &nbsp; <%= @share_capital.last_transaction_date.strftime("%b %e, %Y") %>
  </div>
    <div class="col-md-6">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4 class="subtitle-up"> Transactions History </h4>
    </div>
    <div class="col-md-4">
      <%= form_tag share_capital_path(@share_capital),method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Transactions", id: 'saving-entries-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", title: 'Search Transaction', class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
      <% end %>
    </div>
    <div class='col-md-4'>
      <%= link_to 'Statement of Account', share_capital_path(@share_capital, format: 'pdf'), class: 'btn btn-outline-primary float-right' %>
    </div>
  </div>
  <br>
  <div class='table table-responsive'>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th></th>
          <th> Posting Date </th>
          <th> Time</th>
          <th> Office </th>
          <th> Employee </th>
          <th> REF # </th>
          <th> Description </th>
          <th> Debit </th>
          <th> Credit </th>

          <th> Balance </th>
        </tr>
      </thead>
      <tbody>
        <% @entries.uniq.each do |entry| %>
        <% debits_total = entry.debit_amounts.where(account: @share_capital.share_capital_equity_account).total %>
        <% credits_total = entry.credit_amounts.where(account: @share_capital.share_capital_equity_account).total %>

          <tr>
            <td><i class=" fa fa-arrow-<%= ::Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).chevron %> img-square text-<%= Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).text_color %>"></i></td>
            <td><%= link_to entry.entry_date.strftime('%b. %e, %Y'), accounting_module_entry_path(entry) %></td>
            <td> <%= entry.entry_time.strftime("%-l:%M %p")%></td>
            <td><%= entry.office_name %></td>
            <td><%= entry.recorder_name %></td>
            <td><%= entry.reference_number %></td>
            <td><%= entry.description %></td>
            <td>
              <% if !debits_total.zero? %>
                <%= number_to_currency debits_total %></td>
              <% else %>
              -
              <% end %>
            </td>
            <td>
              <% if !credits_total.zero? %>
                <%= number_to_currency credits_total %></td>
              <% else %>
              -
              <% end %>
            </td>
            <td><span class='float-right'><%= number_to_currency @share_capital.balance(to_date: entry.entry_date, to_time: entry.entry_time) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <center><%==pagy_bootstrap_nav(@pagy) %></center>
  </div>
</div>

