<% breadcrumb :share_capital_transactions, @share_capital %>
<div class="card-body">
	<%= link_to "Share Capital Ledger(PDF)", share_capital_transactions_path(share_capital_id: @share_capital.id, format: "pdf"), class: "btn btn-sm btn-default float-right" %>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>DATE</td>
				<td>OR/CDV NO.</td>
				<td class="text-right">DEPOSIT</td>
				<td class="text-right">WITHDRAWAL</td>
				<td class="text-right">BALANCE</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tbody>
				<% @entries.each do |entry| %>
					<% if entry.cancelled? %>
						<tr>
							<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
							<td><%= entry.reference_number %>- CANCELLED</td>
							<td class="text-right">-</td>
							<td class="text-right">-</td>
							<td class="text-right">-</td>
							<td></td>
						</tr>
					<% else %>
						<tr>
							<td><%= entry.entry_date.strftime("%B %e, %Y") %></td>
							<td><%= link_to entry.reference_number.present? ? entry.reference_number : "FWD", accounting_module_entry_path(entry), data:{toggle: 'tooltip'}, title: entry.description %></td>
							<td class="text-right">
								<% if entry.credit_amounts.for_account(account_id: @share_capital.equity_account_id).present? && entry.credit_amounts.for_account(account_id: @share_capital.equity_account_id).last.try(:commercial_document) == @share_capital %>
									<%= number_to_currency entry.credit_amounts.for_account(account_id: @share_capital.equity_account_id).total %>
								<% end %>
							</td>
							<td class="text-right">
								<% if entry.debit_amounts.for_account(account_id: @share_capital.equity_account_id).present? && entry.debit_amounts.for_account(account_id: @share_capital.equity_account_id).last.try(:commercial_document) == @share_capital %>
									<%= number_to_currency entry.debit_amounts.for_account(account_id: @share_capital.equity_account_id).total %>
								<% end %>
							</td>
							<td class="text-right"><%= number_to_currency @share_capital.balance(to_date: entry.entry_date.end_of_day) %></td>
							<td></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</tbody>
	</table>
	<center><%= will_paginate @entries %></center>
</div>
