<% content_for(:html_title) { "#{@savings_account.depositor_name} | New Deposit" } %>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> New Deposit Details </h3>
        <center>

          <h3><%= @savings_account.depositor_name %></h3>
        </center>
      </div>
      <div class="card-body">
        <%= simple_form_for [@savings_account, @deposit], url: :savings_account_deposits do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", autocomplete: "off" } %>
          <%= f.input :amount, as: :currency, input_html: { autocomplete: "off" } %>
          <%= f.input :payment_type, label: 'Type', collection: AccountingModule::Entry.payment_types.keys.to_a.map{|a| [a.titleize, a] }, selected: AccountingModule::Entry.payment_types.keys.first %>
          <%= f.input :offline_receipt, as: :boolean, input_html: { checked: true }, as: :hidden %>
          <%= f.input :or_number, label: 'OR number', input_html: { autocomplete: "off" } %>
          <%= f.input :saving_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          
            <%= f.submit "Save Deposit", class: "btn btn-primary float-right", data: { disable_with: "Processing..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#memberships_savings_accounts_deposit_processing_payment_type").select2({
      theme: "bootstrap"
    });
  });
</script>
