<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> New Deposit Details </h3>
        <center>
          <%= image_tag(@savings_account.depositor.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %>
          <h3><%= @savings_account.depositor_name %></h3>
        </center>
      </div>
      <div class="box-body">
        <%= simple_form_for [@savings_account, @deposit], url: :savings_account_deposits do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :payment_type, label: 'Type', collection: AccountingModule::Entry.payment_types.keys.to_a.map{|a| [a.titleize, a] }, selected: AccountingModule::Entry.payment_types.keys.first %>
          <%= f.input :or_number, label: 'Reference number' %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :saving_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <div class="box-footer">
            <%= f.submit "Save Deposit", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#memberships_savings_accounts_deposit_processing_payment_type").select2({
      theme: "bootstrap"
    });
  });
</script>

