<% content_for(:html_title) { "#{@savings_account.depositor_name} | New Deposit" } %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">New Deposit to Savings Account</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@savings_account.depositor.avatar.variant(resize: "45x45"), class: "img-circle") if @savings_account.depositor.avatar.attached? %>
          </div>
          <div class="col-md-10">
            <h3 class="card-title"><%= @savings_account.depositor_name %></h3>
            <small class="text-muted">
              <i class="fa fa-map-marker"></i> <%= @savings_account.depositor.try(:current_address_complete_address) %>
              &nbsp;
              <i class="fa fa-phone"></i> <%= @savings_account.depositor.try(:current_contact_number) %>
            </small>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <small>SAVINGS ACCOUNT BALANCE</small>
            <h3 class="card-title"><%= number_to_currency @savings_account.balance %></h3>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for [@savings_account, @deposit], url: :savings_account_deposits, html: { autocomplete: "off" } do |f| %>
          <%= f.error_notification %>
          <%= f.input :cash_account_id, default: current_user.cash_accounts.first, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Date.today.strftime("%B %e, %Y") } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :payment_type, label: 'Type', collection: AccountingModule::Entry.payment_types.keys.to_a.map{|a| [a.titleize, a] }, selected: AccountingModule::Entry.payment_types.keys.first %>
          <%= f.input :offline_receipt, as: :boolean, input_html: { checked: true }, as: :hidden %>
          <%= f.input :or_number, label: 'Reference Number' %>
          <%= f.input :saving_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#memberships_savings_accounts_deposit_line_item_processing_cash_account_id").select2({
      theme: "bootstrap"
    });
    $("#memberships_savings_accounts_deposit_line_item_processing_payment_type").select2({
      theme: "bootstrap"
    });
  });
</script>
