<%= render 'loans_module/loans/shared/borrower_avatar' %>
<%= simple_form_for [@loan, @loan_discount], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_loan_penalty_discounts do |f| %>
  <div class="modal-body">
    <h4 class="card-title">Penalty Discount Details</h4>
    <hr>
    <%= f.error_notification %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :description %>
    <%= f.input :computed_by_id, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Discount", class: "btn btn-danger float-right" %>
  </div>
<% end %>
