
<div class="row">
  <div class="col-md-8">
    <div class="box box-solid">
      <div class="box-body">
        <%=form_tag store_index_path, method: :get, id: "search-form" do %>
             <div class="input-group">
               <%= text_field_tag :name, params[:name], class: "search-query form-control input-lg", placeholder: "Search...", type: "search" %>
               <span class="input-group-btn">
                 <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                   <i class="fa fa-search"></i>
                 <% end %>
               </span>
             </div>
           <% end %>
           <br>
        <% @stocks.each do |stock| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag(stock.product.photo.url(:medium), class: "img-square") %>
            </div>
            <div class="col-md-4">
              <b><%= stock.name %></b><br>
              <span class="label bg-gray">
                <%=number_to_currency stock.unit_cost %>
              </span>
            </div>
          <%= simple_form_for @line_item do |f| %>
          <div class="col-md-2">
            <%= f.input :quantity, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, label: false %>
          <%= f.input :unit_cost, input_html: { value: stock.unit_cost, id: 'line_item_unit_cost' }, as: :hidden %>
        </div>
          <div class="col-md-2">
          <%= f.input :product_stock_id, input_html: { value: stock.id }, as: :hidden %>
          <%= f.submit "Add" %>
        </div>
        </div>
        <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <% @cart.line_items.each do |line_item| %>
        <div class="row">
          <div class="col-md-4">
            <b><%= line_item.name %></b>
          </div>
          <div class="col-md-2">
            <%= line_item.quantity %>
          </div>
          <div class="col-md-2">
            <%= line_item.unit_cost %>
          </div>
          <div class="col-md-2">
            <%= line_item.total_cost %>
          </div>
        </div>
        <br>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <b> TOTAL </b>
          </div>
          <div class="col-md-8">
            <b><span class="pull-right"><%=number_to_currency @cart.line_items.total_cost %></span></b>
          </div>
        </div>
        <br>
        <%= link_to "Checkout", new_store_module_order_path, class: "btn btn-primary btn-block" %>
