<% @products.each do |product| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <%= product.name %>
        </div>
        <div class="col-md-2">
          <%= product.balance %>
        </div>
        <div class="col-md-5">
          <%= simple_form_for @sales_line_item, url: :member_credit_sales_line_items do |f| %>
            <% if !product.out_of_stock? %>
              <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, label: false, autofocus: true %>
            <% end %>
            <% if !product.out_of_stock? %>
              <%= f.input :unit_of_measurement_id, input_html: { value: product.base_measurement }, label: false, collection: product.unit_of_measurements.all.map{|a| [a.code, a.id] }, selected: product.unit_of_measurements.base_measurement %>
            <% end %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :product_id, input_html: { value: product.id }, as: :hidden %>
            <% if !product.out_of_stock? %>
              <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
            <% else %>
              <span class="btn btn-outline-danger btn-sm">OUT OF STOCK</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
