

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Catalyst" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <div id="modal-holder"></div>
      <!-- Navbar -->
      <%= render 'layouts/shared/navbar' %>
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-6">
        <%= render 'layouts/shared/brand' %>
        <%= render 'layouts/shared/sidebar' %>
      </aside>
      <div class="content-wrapper">
        <div class="content">
          <div class="content-header">
          </div>
          <div class="container-fluid">
            <%= breadcrumbs pretext: "", separator: " &rsaquo; ", style: :bootstrap %>
            <%= render 'layouts/shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
