<!DOCTYPE html>
<html>
  <head>
    <title>Coop Catalyst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body class="hold-transition skin-black-light sidebar-mini">
    <div class="wrapper">
      <%=render "layouts/shared/header" %>
      <% if current_user.bookkeeper? || current_user.accountant? %>
        <%=render "accounting_module/sidebar" %>
      <% end %>
      <% if current_user.loan_officer? %>
        <%=render "loans_module/sidebar_for_loans_department" %>
      <% end %>
      <% if current_user.general_manager? %>
        <%=render "management_module/sidebar_for_management_department", cached: true %>
      <% end %>
      <% if current_user.teller? %>
        <%=render "teller_module/sidebar_for_teller_department", cached: true %>
      <% end %>
      <% if current_user.stock_custodian? %>
        <%=render "warehouse_department/sidebar_for_warehouse_department", cached: true %>
      <% end %>
      <% if current_user.sales_clerk? %>
        <%=render "store/sidebar_for_store", cached: true %>
      <% end %>
       <% if current_user.treasurer? %>
        <%=render "treasury_module/sidebar", cached: true %>
      <% end %>
      <% if current_user.human_resource_officer? %>
        <%=render "hr_module/sidebar", cached: true %>
      <% end %>
      <% if current_user.accounting_clerk? %>
        <%=render "clerk_module/sidebar", cached: true %>
      <% end %>
       <% if current_user.collector? %>
        <%=render "collector_module/sidebar", cached: true %>
      <% end %>
      <div class="content-wrapper">
        <section class="content">
          <%=render "layouts/shared/flash_messages" %>
          <%= yield %>
        </section>
      </div>
        <%=render 'layouts/shared/footer', cached: true %>
    </div>

  </body>
</html>
