<!DOCTYPE html>
<html>
  <head>
    <title>Coop Catalyst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
      <%=render "layouts/shared/header" %>
      <% if current_user.accounting_officer? %>
        <%=render "accounting_department/sidebar_for_accounting_department" %>
      <% end %>
      <% if current_user.loan_officer? %>
        <%=render "loans_department/sidebar_for_loans_department" %>
      <% end %>
      <% if current_user.general_manager? %>
        <%=render "management_department/sidebar_for_management_department", cached: true %>
      <% end %>
      <% if current_user.teller? %>
        <%=render "teller_department/sidebar_for_teller_department", cached: true %>
      <% end %>
      <% if current_user.stock_custodian? %>
        <%=render "warehouse_department/sidebar_for_warehouse_department", cached: true %>
      <% end %>
      <% if current_user.store_cashier? %>
        <%=render "store/sidebar_for_store", cached: true %>
      <% end %>
      <div class="content-wrapper">
        <section class="content">
          <%=render "layouts/shared/flash_messages" %>
          <%= yield %>
        </section>
      </div>
        <%=render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
