<!DOCTYPE html>
<html>
  <head>
<title><%= content_for?(:html_title) ? yield(:html_title) : "CoopCatalyst" %></title>
    <%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <div id="modal-holder"></div>
        <%=render "layouts/banking_agents/header" %>

      <aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-6">
        <%=render "layouts/banking_agents/brand" %>
       
        <%=render "layouts/banking_agents/sidebar" %>
      </aside>
      <div class="content-wrapper">
        <section class="content">
        <div class="content-header">
            <small><%= breadcrumbs pretext: "You are here:", separator: " &rsaquo;", style: :bootstrap %></small>
          </div>
          <div class="container">
            <div class="container-fluid">
              <%=render "layouts/shared/flash_messages" %>
              <%= yield %>
            </div>
          </div>
        </section>
      </div>

    </div>

  </body>
</html>
