
  <div class="row">
    <div class="col-md-3">
      <%= render 'members/partials/sidebar', member: @member %>
    </div>
    <div class="col-md-9">
      <div class="box box-solid">
        <div class="box-header">
        <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(member_info_index_path(@member))%>"><%= link_to 'Info', member_info_index_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_loans_path(@member))%>"><%= link_to 'Loans', member_loans_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_savings_accounts_path(@member))%>"><%= link_to 'Savings', member_savings_accounts_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_share_capitals_path(@member))%>"><%= link_to 'Share Capitals', member_share_capitals_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_time_deposits_path(@member))%>"><%= link_to 'Time Deposits', member_time_deposits_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_subscriptions_path(@member))%>"><%= link_to 'Program Subscriptions', member_subscriptions_path(@member) %></li>
          <li class="<%= 'active' if current_page?(member_purchases_path(@member))%>"><%= link_to 'Purchases', member_purchases_path(@member) %></li>
        </ul>
      </div>
        <div class="tab-content box-body">
          <% if current_page?(member_info_index_path(@member)) %>
            <%= render 'members/partials/info', member: @member %>
          <% end %>
          <% if current_page?(member_loans_path(@member)) %>
            <%=render 'members/partials/loans', member: @member %>
          <% end %>
          <% if current_page?(member_savings_accounts_path(@member)) %>
            <%=render 'members/partials/savings_accounts', member: @member %>
          <% end %>
          <% if current_page?(member_share_capitals_path(@member)) %>
            <%=render 'members/partials/share_capitals', member: @member %>
          <% end %>
          <% if current_page?(member_time_deposits_path(@member)) %>
            <%=render 'members/partials/time_deposits', member: @member %>
          <% end %>
          <% if current_page?(member_subscriptions_path(@member)) %>
            <%=render 'members/partials/subscriptions', member: @member %>
          <% end %>
          <% if current_page?(member_purchases_path(@member)) %>
            <%= render 'members/partials/purchases', member: @member %>
          <% end %>
      </div>
    </div>
      </div>
</div>

