<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Member Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @member, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr? do |f| %>
  <div class="modal-body">
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth, as: :string, input_html: { class: "datepicker" } %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :sex, collection: Member.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
      </div>
      <div class="col-md-6">
        <%= f.input :civil_status, collection: Member.civil_statuses.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
      </div>
    </div>
    <%#= f.simple_fields_for :tin do |t| %>
      <%#= t.input :number, label: "TIN Number" %>
    <%# end %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Update Member", class: "btn btn-primary float-right" %>
  </div>
<% end %>
