<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <%=form_tag members_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name, Last Name ", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to new_membership_application_path do %>
              <span class="btn btn-primary pull-right"><i class="fa fa-user-plus"></i> New Member </span>
            <% end %>
          </div>
        </div>
        <br>
        <% @members.each do |member| %>
          <% cache member do %>
            <%= link_to member_info_index_path(member) do %>
              <div class="row">
                <div class="col-md-9">
                  <b><%= member.full_name.upcase %></b><br><br>
                  <span class="text-muted"> <i class="fa fa-phone"></i> <%= member.contact_number || 'Not Set' %> &nbsp;</span>
                  <span class="text-muted"> <i class="fa fa-map-marker"></i> <%=member.current_address || 'Not Set' %></span>
              </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        <% end %>
        <center><%= will_paginate @members %> </center>
      </div>
    </div>
  </div>
</div>

