<% breadcrumb :members, @members %>
<% months = [] %>
<% (Date.current - 6.months..Date.current).each do |month| %>
<% months << month.end_of_month %>
<% end %>
<% members_count = [] %>
<% months.uniq.each do |date| %>
<% members_count << { date.strftime("%b") => current_cooperative.memberships.approved_at(from_date: date.beginning_of_month, to_date: date.end_of_month).count } %>

<% end %>

<% months = [] %>
<% (Date.current - 6.months..Date.current).each do |month| %>
<% months << month.end_of_month %>
<% end %>
<% members_count = [] %>
<% months.uniq.each do |date| %>
<% members_count << { date.strftime("%b") => current_cooperative.memberships.approved_at(from_date: date.beginning_of_month, to_date: date.end_of_month).count } %>

<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="card card-outline-left card-primary">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <small> TOTAL MEMBERS </small>
            <h2 class="number mb-0"><%= current_cooperative.member_memberships.count %></h2>
            <small>NEW MEMBERS (<%= Date.current.year %>) </small>
            <%=current_cooperative.memberships.approved_at(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_year).count %>
            <br>
            <h5 class="number mb-0"><%= current_cooperative.memberships.where(membership_type: "regular_member").count %></h5>
            <small>REGULAR MEMBERS</small>
            <br>
            <h5 class="number mb-0"><%= current_cooperative.memberships.where(membership_type: "associate_member").count %></h5>
            <small>ASSOCIATE MEMBERS</small>
          </div>
          <div class="col-md-2">
            <small>ACTIVE</small>
            <h2 class="number"> <%= number_to_currency current_cooperative.member_memberships.percent_active, unit: '' %> % </h2>
          </div>
          <div class="col-md-7">
            <small> New Members per month </small>
            <%= area_chart (Hash[*members_count.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",",height: 10, curve: false %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <%=form_tag members_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Member", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to new_membership_application_path, title: 'New Member' do %>
              <span class="btn btn-primary float-right"><i class="fa fa-user-plus"></i> New Member </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8">
            <%=form_tag members_path, method: :get, id: 'members-filter-form' do %>
              <div class="row">
                <div class="col-md-6">
                  <%= select_tag :membership_type, options_for_select(Cooperatives::Membership.membership_types.keys.to_a.map {|m| [m.titleize, m]}, params[:membership_type]), class: 'form-control border-input', id: 'membership-type-filter', prompt: '--Select Membership Type--' %>
                </div>
                <div class="col-md-6">
                  <%= select_tag :organization_id, options_for_select(current_cooperative.organizations.map {|m| [m.name, m.id]}, params[:organization_id]), class: 'form-control border-input', id: 'office-filter', prompt: '--Select Organization--' %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%=link_to "Print(PDF)", members_path(format: 'pdf', membership_type: params[:membership_type], organization_id: params[:organization_id]), class: "btn btn-default" if @members.present? and (params[:membership_type].present? && params[:organization_id].present?)%>
            <%=link_to "Print(Excel)", members_path(format: 'xlsx', membership_type: params[:membership_type], organization_id: params[:organization_id]), class: "btn btn-success" if @members.present? and (params[:membership_type].present? && params[:organization_id].present?)%>
          </div>
        </div>
      </div>
    </div>
    <% @members.each do |member| %>
      <%= render 'members/partials/header', member: member, cached: true %>
    <% end %>
    <center><%= will_paginate @members %> </center>
  </div>
</div>

<script type="text/javascript">
  $('#membership-type-filter').change(function(e) {
    $('#members-filter-form').submit();
  });
  $('#office-filter').change(function(e) {
    $('#members-filter-form').submit();
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#office-filter").select2({
      theme: "bootstrap"
    });
  });
</script>