<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-3">
            <h3 class="card-title"> Vouchers </h3>
          </div>
          <div class="col-md-6">
            <%=form_tag vouchers_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search],  autofocus: true, class: "form-control", placeholder: "Search for Number, Description", id: 'account-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th> Payee</th>
                <th>Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @vouchers.each do |voucher| %>
                 <tr data-link="<%=voucher_path(voucher)%>" class="myClass">
                  <td><%#=image_tag(voucher.payee.avatar.url(:thumb), class: "img-circle", height: 40, width: 40) %>&nbsp; <%= voucher.payee.try(:name) %></td>
                  <td><%= voucher.date.strftime("%B %e, %Y") %></td>

                  <td><%=link_to voucher.description, voucher_path(voucher) %></td>

                  <td>
                    <% if !voucher.disbursed? %>
                      <%= link_to 'Disburse', new_voucher_disbursement_path(voucher), class: "btn btn-primary btn-sm" %>
                    <% else %>
                      <span class="label bg-green"> Disbursed </span>
                    <% end %>

                      </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("tr").click(function() {
  window.location = $(this).data("link")
});
  $('.myClass').css('cursor', 'pointer');
</script>
