<div class="tab-pane <%= 'active' if current_page?(organization_loans_path(@organization)) %>">
  Loans of Members
  <hr>
  <%=link_to 'Billing Statement', organization_loans_path(@organization, format: 'pdf') %>
  <% @members.each do |member| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag(member.avatar.url(:medium), class: "img-circle", height: 50, width: 50) %>
    </div>
    <div class="col-md-5">
      <b><%= member.name %></b><br>
      <small class="text-muted"><%= member.current_occupation.try(:upcase) %></small>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <br>
<% end %>
<%=will_paginate @members %>
</div>
