<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@loan_application.avatar, class: "img-circle", height: 45, width: 45) %>
          <h3 class="card-title"> <%= @loan_application.borrower_name %></h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <%= @voucher_amount.description %>
          </div>
          <div class="col-md-5">
            <%= number_to_currency @voucher_amount.amount %>
          </div>
        </div>
        <br>
        <%= simple_form_for [@voucher_amount, @adjustment], url: :loans_module_voucher_amount_amount_adjustments, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :adjustment_type, collection: Vouchers::AmountAdjustment.adjustment_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.input :amount %>
          <%= f.input :rate %>
          <%= f.input :number_of_payments %>
          <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
          <%= f.input :voucher_amount_id, input_html: { value: @voucher_amount.id }, as: :hidden %>

          <%= f.submit "Save", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
