<div class="tab-pane <%='active' if current_page?(hr_module_employee_path(@employee)) %>">
  <p class="text-muted">PERSONAL DETAILS </p>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Full Name 
        </div>
        <div class="col-md-5">
          <%= @employee.first_and_last_name %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Position 
        </div>
        <div class="col-md-5">
          <%= @employee.role.titleize %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Salary Grade 
        </div>
        <div class="col-md-5">
          <% if @employee.salary_grade %>
            <%= @employee.salary_grade_name %><br>
            <%= number_to_currency @employee.salary_grade_amount %><br>
          <% else %>
            <%= link_to 'Add Salary Grade', edit_hr_module_employee_employee_salary_grade_path(@employee), class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
      <br>
       <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Department
        </div>
        <div class="col-md-5">
          <% if @employee.department %>
            <%= @employee.department_name %>
          <% else %>
            <%= link_to 'Add Department', edit_hr_module_employee_employee_department_path(@employee) %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Born On
        </div>
        <div class="col-md-5">
          <%= @employee.date_of_birth %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Gender
        </div>
        <div class="col-md-5">
          <%= @employee.sex.try(:titleize) %>
        </div>
      </div>
      <br>
      <p class="text-muted">CONTACT </p>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Email
        </div>
        <div class="col-md-5">
          <%= @employee.email %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          Phone
        </div>
        <div class="col-md-5">
          <%= @employee.contact_number %>
        </div>
      </div>
      <br>
    </div>
</div>